div.articles div h2 {
	display: inline;
}
div.articles div h2 a {
	color: #1757b1;
	border-bottom: 1px solid #1757b1;
	font-size: 95%;
	font-weight: normal;
}
div.articles div h2 a:link, 
	div.articles div h2 a:active, 
	div.articles div h2 a:visited {
	border-bottom: 1px solid #1757b1;
}
div.articles div {
	width: 600px;
}
div.articles img.storyicon {
	float: left;
	border: 1px solid #cac7c5;
	padding: 0;
	margin: 5px 5px 0 5px;
}
div.articles div big b {
	font-weight: normal;
	font-size: 100%;
}
div.articles div div.summary {
	height: 43px;
	width: 450px;
	overflow: hidden;
	border-bottom: 1px solid #cfcfcf;
	display: block;
	clear: none;
	padding-top: 10px;
}
div.articles div div.stuff {
	font-size: 80%;
	width: 450px;
}
div.articles div div.stuff span {
	color: #7e7e7e;
}
div.articles div div.stuff span span {
	color: #aeaeae;
}
div.articles div small span {
	color: #aeaeae;
}
div.newestarticles {
	border-left: 1px solid #cfcfcf;
}
div.populararticles {
	width: 100%;
}

div.articles {
	width: 600px;
	overflow: hidden;
	margin-left: 5px;
	margin-top: 30px;
}
div.articles a.newarticle {
	float: right;
}