table.bans {
	text-align: left;
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
	width: 800px;
	margin:0px auto;
	}

table.bans tr {
	height: 20px;
	}


table.bans td, th{
	padding-left: 10px;
	}
	
tr.color {
	background-color: #ececec;
	}

tr.titles {
	background-color: #dedede;
    border: 1px solid #c0c0c0;
    font-size: 94%;
    color: #333;	
	}

input.add, input.delete{
	width: 16px;
	height: 16px;
	border: 0;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	margin: 0;
	padding: 0;
	}