div.roxas {
	background-image: url('http://static.chit-chat.gr/images/roxasbg.jpg');
	background-repeat: repeat-x;
	background-position: top;
	display: block;
	width: 100%;
	height: 36px;
	text-align: right;
	color: white;
	margin: 0;
	padding: 0;
	position:absolute;
	top: 0px;
	margin-bottom:70px;
}
div.roxas img.logo {
	float: left;
	position: relative;
	left: -3px;
}
div.roxas input {
	height: 14px;
	font-size: 90%;
}
div.roxas img.search {
	padding-top: 10px;
	vertical-align: bottom;
}
div.roxas ul {
	display: block;
	margin-top: 0;
	padding: 5px 0 5px 0;
	height: 30px;
}
div.roxas li {
	display: inline;
	height: 25px;
    font-size: 80%;
}
div.roxas ul li a, div.roxas ul li a:link, div.roxas ul li a:visited, div.roxas ul li a:active {
	color: white;
	font-weight: bold;
	margin-top: 5px;
	padding-right: 20px;
    padding-left: 20px;
    font-size: 80%;
	height: 20px;
	background-repeat: no-repeat;
	background-position: right;
}
div.roxas ul li a.messages {
	padding: 2px;
}
div.roxas ul li a.messagesread {
	color: white;
}
div.roxas ul li a.messagesunread {
	color: red;
}
div.roxas ul li a.messages:hover {
	color: white;
}
div.roxas ul li a.logout {
	margin-left: 10px;
	background-image: url('http://static.chit-chat.gr/images/icons/arrow_right.gif');
}
div.roxas ul li a.register {
	margin-left: 10px;
	background-image: url('http://static.chit-chat.gr/images/icons/icon_user.gif');
}
div.roxas ul li form {
    display: inline;
}
div.roxas ul li form input.text {
    border: 1px solid black;
    margin-right: 5px;
    padding-left: 2px;
    color: #777777;
}
div.roxas ul li form a img {
    position: relative;
    top: 2px;
}
div.roku {
	width: 250px;
	float: right;
	position: relative;
}
div.aku {
	background-image: url('http://static.chit-chat.gr/images/akumid.jpg');
	background-repeat: repeat-x;
	background-position: top;
	width: 250px;
	vertical-align: top;
	position: absolute;
	top: 36px;
	_top: 36px;
}
div.akuloggedout {
	width: 200px;
}
div.aku div.content {
	padding: 5px 0 5px 0;
	text-align: left;
	height: 65px;
}
div.aku div.content div {
	height: 60px;
	overflow: hidden;
	display: block;
}
div.axel div.akuloggedout div.content div {
	height: 100px;
	overflow: hidden;
}
div.axel div.akuloggedout div.content div small label {
	float: left;
	width: 60px;
	height: 20px;
	vertical-align: bottom;
    display: block;
}
div.axel div.akuloggedout div.content div small div.field {
	height: 20px;
}
div.axel div.akuloggedout div.content div small div.field input {
	width: 100px;
}
div.axel div.akuloggedout div.content div a.submit {
	float: right;
	margin: 0;
	padding: 0 0 0 0;
}
div.axel div.akuloggedout div.content a.arrow {
	position: relative;
	right: 10px;
}
div.axel div.akuloggedout div.content a.arrow {
	position: absolute;
}
div.aku div.content div a img.avatar {
	border: 1px solid #cac7c5;
	float: left;
	margin-right: 5px;
}
div.aku div.content div a.arrow {
	float: right;
	background-repeat: no-repeat;
	background-position: top right;
	width: 16px;
	height: 16px;
	margin-right: 1px;
}
div.aku div.content div a.arrow:link,
	div.aku div.content div a.arrow:active,
	div.aku div.content div a.arrow:visited {
	background-image: url('http://static.chit-chat.gr/images/icons/dropup.png');
}
div.aku div.content div a.arrow:hover {
	background-image: url('http://static.chit-chat.gr/images/icons/dropupover.png');
}
div.aku div.content div h2 {
	font-weight: bold;
	font-size: 100%;
	display: inline;
	color: #1a4d84;
}
div.aku div.content div small {
	font-size: 90%;
}
div.aku ul {
	display: inline;
	text-align: left;
	padding: 0;
	margin: 0;
}
div.aku ul li {
	display: inline;
	margin: 0px; 
	padding: 0px;
	text-align: left;
	font-size: 90%;
}
div.aku ul li a {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 16px;
}
div.aku ul li a.options {
	background-image: url('http://static.chit-chat.gr/images/icons/icon_settings.gif');
}
div.aku ul li a.profile {
	background-image: url('http://static.chit-chat.gr/images/icons/icon_user.gif');
}
div.aku ul li a.chat {
	background-image: url('http://static.chit-chat.gr/images/icons/comment_yellow.gif');
}
div.aku ul li a.arrow {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	margin-right: 1px;
}
div.aku ul li a.arrow:link,
	div.aku div.content div a.arrow:active,
	div.aku div.content div a.arrow:visited {
	background-image: url('http://static.chit-chat.gr/images/icons/dropdown.jpg');
}
div.aku ul li a.arrow:hover {
	background-image: url('http://static.chit-chat.gr/images/icons/dropdownover.jpg');
}
a.profiletouched {
	border-bottom: 1px solid #cecece;
}
a.profiletouched:hover {
	text-decoration: none;
	border-bottom: 1px solid #5e5e5e;
}
div.axel div.spacer {
	height: 70px;
}
