div.comments {
	margin: 0 40px 0 40px;
}
div.comments div.comment {
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #f8f7f3;
	position: relative;
	margin-bottom: 10px;
}
div.comments div.comment div.upperline {
	background-color: #f6f6ee;
	height: 21px;
	width: 100%;
}
div.comments div.comment div.upperline div.leftcorner {
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-upperleft.jpg' );
	background-position: top left;
	background-repeat: no-repeat;
	height: 21px;
	width: 10px;
	float: left;
}
div.comments div.comment div.upperline div.rightcorner {
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-upperright.jpg' );
	background-position: top right;
	background-repeat: no-repeat;
	height: 21px;
	width: 10px;
	float: right;
}
div.comments div.comment div.upperline div.filler {
	border-top: 1px solid #cdcdcb;
	margin-right: 2px;
}
div.comments div.comment div.upperline div.title {
	background-color: #eae9e7;
	border-top: 1px solid #cdcdcb;
	float: left;
	height: 18px;
	_height: 21px;
	vertical-align: bottom;
	padding-top: 2px;
	color: #333333;
}
div.comments div.comment div.upperline div.fade {
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-fade.jpg' );
	background-repeat: no-repeat;
	height: 20px;
	width: 100px;
	float: left;
	border-top: 1px solid #cdcdcb;
}
div.comments div.comment div.text {
	background-color: #f6f6ee;
	border-left: 1px solid #cdcdcb;
	border-right: 1px solid #cdcdcb;
    padding-right: 60px;
	overflow: hidden;
	_position: relative;
	_bottom: -1px;
	_z-index: -1;
}
div.comments div.comment div.text div {
	padding: 10px 5px 0px 5px;
}
div.comments div.comment div.text div div.sig {
    color: #acacac;
    display: inline;
    margin: 0;
    padding: 0;
}
div.comments div.comment div.avatar {
	background-image: url( 'http://static.chit-chat.gr/images/avatarbg.jpg' );
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	padding: 3px;
	position: absolute;
	right: 0;
	_right: 44px;
	top: 5px;
}
div.comments div.comment div.avatar img {
	border: 1px solid #989898;
	margin: 1px;
}
div.comments div.comment div.lowerline {
	height: 13px;
	position: relative;
}
div.comments div.comment div.lowerline div.leftcorner {
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-downleft.jpg' );
	background-repeat: no-repeat;
	background-position: bottom left;
	height: 13px;
	width: 10px;
	float: left;
}
div.comments div.comment div.lowerline div.middle {
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-downfade.jpg' );
	background-repeat: repeat-x;
	background-position: bottom;
	height: 13px;
}
div.comments div.comment div.lowerline div.rightcorner {
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-downright.jpg' );
	background-repeat: no-repeat;
	background-position: bottom right;
	height: 13px;
	width: 10px;
	float: right;
}
div.comments div.comment div.toolbar {
	position: absolute;
	right: 9px;
	bottom: 3px;
    width: 400px;
    background-color: transparent;
}
div.comments div.comment div.toolbar ul {
	display: block;
	height: 16px;
	margin: 0;
	padding: 0;
    background-color: transparent;
}
div.comments div.comment div.toolbar ul li {
	display: inline;
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-toolbarleft.jpg' );
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: #dedddb;
	padding: 0 0 2px 7px;
	margin: 0 2px 0 2px;
	float: right;
}
div.comments div.comment div.toolbar ul li input.submit {
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-toolbarright.jpg' );
	background-repeat: no-repeat;
	color: #858583;
	cursor: pointer;	
}
div.comments div.comment div.toolbar ul li  input.submit:hover {
	text-decoration: none;
	color: black;
}

div.comments div.comment div.toolbar ul li  a {
	background-image: url( 'http://static.chit-chat.gr/images/commentbox-toolbarright.jpg' );
	background-repeat: no-repeat;
	background-position: bottom right;
	color: #858583;
	padding: 2px 7px 2px 0;
	cursor: pointer;
}
div.comments div.comment div.toolbar ul li  a:hover {
	text-decoration: none;
	color: black;
}
div.comments form div.comment div.avatar {
    _z-index: 2; /* ie6 overlap fix */
}
div.comments form div.comment div.lowerline {
    _z-index: 2; /* ie6 overlap fix */
}
