div.frelations {
	background-image: url('https://beta.chit-chat.gr/etc/mockups/frelations/frelations_htmled/main.png');
	background-repeat: repeat-y;
	background-position: 6px 0px;
	z-index:1;
	cursor: pointer;
	text-transform: lowercase;
	text-indent: 22px;
	font-family: Verdana;
	font-size: 75%;
	position: absolute;
}

div.frelation {
	z-index:1;
	cursor: hand;
	color: #7a7cee;
	
}

div.relselected {
	z-index:1;
	cursor: hand;
	color: #7a7cee;
	text-decoration: underline;
}
