div.frelations {
	background-image: url('https://beta.chit-chat.gr/etc/mockups/frelations/frelations_htmled/main.png');
	background-repeat: repeat-y;
	background-position: 6px 0px;
	cursor: pointer;
	text-transform: lowercase;
	text-indent: 22px;
	font-family: Verdana;
	font-size: 75%;
	width: 120px;
}

div.frelation {
	cursor: hand;
	color: #7a7cee;
}

div.relselected {
	cursor: hand;
	color: #7a7cee;
	text-decoration: underline;
}

div.friend_relations {
	opacity: 0;
	position: absolute;
	left: 11px;
	top: 220px;
}
