dl#jslintresults {
}
dl#jslintresults dt {
    border-top: 1px solid #ccc;
    background-image: url('http://static.chit-chat.gr/images/eee.png');
    background-position: top;
    background-repeat: repeat-x;
    display: block;
    margin-top: 15px;
    padding: 2px 0 15px 2px;
}
dl#jslintresults dd {
    padding: 5px 5px 5px 25px;
    margin: 0 15px 0 15px;
    border-width: 1px;
    border-style: solid;
    background-repeat: no-repeat;
    background-position: 2px 4px;
}
dl#jslintresults dd.pass {
    background-color: #e0ffe0;
    background-image: url('http://static.chit-chat.gr/images/icons/accept.png');
    border-color: #a0cfa0;
}
dl#jslintresults dd.fail {
    padding-left: 5px;
    background-color: #ffe0e0;
    border-color: #cfa0a0;
}
dl#jslintresults dd.fail table {
    background-color:#ffefef;
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
}
dl#jslintresults dd.fail table tr td,
dl#jslintresults dd.fail table tr th {
    padding: 3px;
}
dl#jslintresults dd.fail table tr.warning {
    background-color: #ffffff;
}
dl#jslintresults dd.fail table tr.error {
    background-color: #ffa0a0;
}
