div.pollbox a {
    cursor: pointer;
}
div.pollbox h4 {
    margin: 0;
    padding: 3px 5px 3px 5px;
    text-align: center;
    width: 396px;
    background-color: #dedede;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    font-weight: bold;
    font-size: 94%;
    color: #333;
}
div.pollbox h4 a img {
    width: 12px;
    height: 12px;
}
div.pollbox ul {
    background-color: white;
    width: 400px;
    border: 1px solid #cecece;
    padding: 3px;
	margin: 0 0 10px 0;
}
div.pollbox ul li {
    clear: both;
    display: inline;
	padding: 0;
	margin: 0;
}
div.pollbox ul li dl {
	margin: 0;
	padding: 0;
}
div.pollbox ul li dl.l {
    background-color: #ececec;
}
div.pollbox ul li dl dt {
    font-weight: normal;
    float: left;
    width: 100px;
    display: inline;
    clear: left;
    padding-right: 10px;
    color: midnightblue;
}
div.pollbox ul li dl dd {
    display: inline;
    padding-left: 0;
    margin-left: 20px;
}
div.pollbox ul li dl dt div.optiontoolbox {
    display: inline;
    margin-left: 3px;
    padding: 1px;
}
div.pollview ul li dl {
    display: block;
    height: 100%;
    min-height: 20px !important;
}
div.pollview ul li dt {
    width: 100% !important;
}
div.pollview ul li dd {
    margin-left: 2px !important;
}
div.pollnew {
    opacity: 0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
div.pollnew ul li {
    display: block !important;
    padding: 0px; !important
}
div.pollnew ul li dt {
    width: 0 !important;
}
div.pollnew ul li dd {
    margin-left: 0 !important;
    color: black;
}
div.pollnew ul li dl div.polloption {
    border: 1px solid black;
    width: 180px;
    height: 15px;
    background-color: #999;
    margin-left: 190px;
}
div.pollnew ul li dl div.pollanswer {
    height: 100%;
    border-right: 1px solid #aaa;
    background-color: #dedede;
}
div.pollresults ul li dl {
    display: block;
    padding: 5px !important;
}
div.pollresults ul li dt {
    width: 190px !important;
}
div.pollresults ul li dd {
    margin-left: 0 !important;
    color: black;
}
div.pollresults ul li dl div.polloption {
    border: 1px solid black;
    width: 180px;
    height: 10px; 
    background-color: #999;
    margin-left: 190px;
}
div.pollresults ul li dl div.pollanswer {
    height: 100%;
    border-right: 1px solid #aaa;
    background-color: #dedede;
}
