div.profile div.leftbar div.pollview ul li dl {
    display: block;
    height: 100%;
}
div.profile div.leftbar div.pollview ul li dt {
    width: 10px !important;
}
div.profile div.leftbar div.pollview ul li dd {
    margin-left: 2px !important;
}

div.profile div.leftbar div.pollnew ul li {
    display: block !important;
    padding: 0px; !important
}
div.profile div.leftbar div.pollnew ul li dt {
    width: 0 !important;
}
div.profile div.leftbar div.pollnew ul li dd {
    margin-left: 0 !important;
    color: black;
}
div.profile div.leftbar div.pollnew ul li dl div.polloption {
    border: 1px solid black;
    width: 180px;
    height: 15px;
    background-color: #999;
    margin-left: 190px;
}
div.profile div.leftbar div.pollnew ul li dl div.pollanswer {
    height: 100%;
    border-right: 1px solid #aaa;
    background-color: #dedede;
}
div.profile div.leftbar div.pollresults ul li dl {
    display: block;
    padding: 5px;
}
div.profile div.leftbar div.pollresults ul li dt {
    width: 190px !important;
}
div.profile div.leftbar div.pollresults ul li dd {
    margin-left: 0 !important;
    color: black;
}
div.profile div.leftbar div.pollresults ul li dl div.polloption {
    border: 1px solid black;
    width: 180px;
    height: 10px;
    background-color: #999;
    margin-left: 190px;
}
div.profile div.leftbar div.pollresults ul li dl div.pollanswer {
    height: 100%;
    border-right: 1px solid #aaa;
    background-color: #dedede;
}
