div.userprofile div.top img.avatar {
	border: 1px solid #cac7c5;
	float: left;
	margin-right: 5px;
	padding: 1px;
	width: 50px;
	height: 50px;
	background-color: #e5e5e5;
}
div.userprofile div.top span.abnormality1 {
	font-size: 180%;
	font-weight: normal;
	color: #323232;
	margin: 0;
}
div.userprofile div.top span.abnormality2 {
	margin: 4px 0 0 0;
	font-size: 90%;
	font-weight: normal;
}
div.userprofile div.top div.tabs div {
	display: block;
	padding: 0 0 0 0;
	float: right;
}
div.userprofile div.top div.tabs {
	clear: both;
	margin: 0 -2px 0 -2px;
	padding: 0 60px 10px 0px;
	background-position: bottom left;
	background-repeat: no-repeat;
	border-bottom: 1px solid #c7c7c7;
	text-align: right;
	height: 16px;
    _padding-bottom: 0px; /* IE6 fix */
}
div.userprofile div.top div.tabs div.tab {
	background-image: url('http://static.chit-chat.gr/images/usershadowtab.jpg');
	background-repeat: repeat-x;
	background-position: top;
	height: 26px;
	padding: 7px 1px 0 0;
	font-size: 97%;
	cursor: pointer;
}
div.userprofile div.top div.tabs div.tab a {
	color: #bababa;
}
div.userprofile div.top div.tabs div.leftism {
	background-image: url('http://static.chit-chat.gr/images/usershadowtableft.jpg');
	background-repeat: no-repeat;
	background-position: top;
	height: 26px;
	width: 11px;
	cursor: pointer;
}
div.userprofile div.top div.tabs div.rightism {
	background-image: url('http://static.chit-chat.gr/images/usershadowtabright.jpg');
	background-repeat: no-repeat;
	background-position: top;
	margin-right: 3px;
	height: 26px;
	width: 11px;
	cursor: pointer;
}
div.userprofile div.top div.tabs div.activeright {
	background-image: url('http://static.chit-chat.gr/images/usertabright.jpg');
	height: 27px;
}
div.userprofile div.top div.tabs div.activeleft {
	background-image: url('http://static.chit-chat.gr/images/usertableft.jpg');
	height: 27px;
}
div.userprofile div.top div.tabs div.active {
	background-image: url('http://static.chit-chat.gr/images/usertab.jpg');
}
div.userprofile div.top div.tabs div.active a {
	font-weight: bold;
	color: #1d5087;
}
div.userprofile div.top div.tabs div.tab a:hover {
	text-decoration: none;
}
div.userprofile div.profile div.info {
    margin: 5px 0 0 0;
}
div.userprofile div.profile div.info ul li {
    display: inline;
	padding: 0;
	margin: 0;
}
div.userprofile div.profile div.info ul li dl dt {
    font-weight: normal;
    float: left;
    width: 100px;
    display: inline;
    clear: left;
    padding-right: 10px;
    color: midnightblue;
}
div.userprofile div.profile div.info ul li dl dd {
    display: inline;
    padding-left: 0;
    margin-left: 20px;
}

div.userprofile div.profile div.info h4 {
    margin: 0;
    padding: 3px 5px 3px 5px;
    text-align: center;
    width: 396px;
    background-color: #dedede;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    font-weight: bold;
    font-size: 94%;
    color: #333;
}

/*
div.userprofile div.profile div.info div.boxheader {
	text-align: center;
    margin: 0;
    padding: 3px 5px 3px 5px;
    width: 396px;
    background-color: #dedede;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    font-weight: bold;
    font-size: 94%;
    color: #333;
}
*/

div.userprofile div.profile div.info ul li dl.l {
    background-color: #ececec;
}

div.userprofile div.profile div.info div.characteristics form ul li dl.l {
	background-color: #ececec;
}
div.userprofile div.profile div.info div.personal form ul li dl.l {
	background-color: #ececec;
}

div.userprofile div.profile div.info ul {
    width: 400px;
    border: 1px solid #cecece;
    padding: 3px;
	margin: 0 0 10px 0;
}
div.userprofile div.profile div.info div.ccrelated {
    width: 400px;
}
div.userprofile div.pr	ofile div.info ul li {
    clear: both;
}
div.userprofile div.profile ul li dl {
	margin: 0;
	padding: 0;
}


div.userprofile div.profile div.statistics {
    margin-top: 5px;
}
div.userprofile div.profile div.statistics ul , div.userprofile div.profile div.contact ul {
    padding: 0;
    margin: 0 0 10px 0;
}
div.userprofile div.profile div.statistics ul li , div.userprofile div.profile div.contact ul li {
    display: block;
	height: 17px;
}
div.userprofile div.profile div.statistics ul li dl dt { 
    font-weight: normal;
    float: left;
	width: 150px;
    display: inline;
    clear: left;
    padding-right: 10px;
    color: midnightblue;
}
div.userprofile div.profile div.contact ul li dl dt {
    font-weight: normal;
    float: left;
	width: 20px;
    display: inline;
    clear: left;
    padding-right: 10px;
    color: midnightblue;
}
div.userprofile div.profile div.statistics ul li dl dd , div.userprofile div.profile div.contact ul li dl dd {
    display: inline;
    padding-left: 0;
    margin: 0;
}
div.userprofile div.profile div.statistics h4 , div.userprofile div.profile div.contact h4{
    margin: 0;
    padding: 3px 5px 3px 5px;
    text-align: center;
    width: 396px;
    background-color: #dedede;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    font-weight: bold;
    font-size: 94%;
    color: #333;
}
div.userprofile div.profile div.statistics ul li dl.l {
    background-color: #ececec;
}
div.userprofile div.profile div.statistics ul , div.userprofile div.profile div.contact ul{
    width: 400px;
    border: 1px solid #cecece;
    padding: 3px;
	margin: 0 0 10px 0;
}
div.userprofile div.profile div.statistics ul li , div.userprofile div.profile div.contact ul li {
    clear: both;
}
div.userprofile div.profile div.statistics ul li dl.k, div.userprofile div.profile div.contact ul li dl.k {
	height: 100%;
    background-color: #ececec;
}
div.userprofile div.profile div ul li dl dd input.user_options {
	background-color: transparent;
	border: 0px solid black;
}
/*
div.userprofile div.profile div ul li dl dd input.user_options:hover {
	border: 1px solid black;
}
*/

div.userprofile div.profile div.leftbar {
	float: left;
}
div.userprofile div.profile div.rightbar {
    float: right;
    padding-top: 20px;
}
div.tab2 div {
	padding-bottom: 15px;
}
div.label {
	font-weight: bold;
}
div#friends , div#fans {
	padding-left: 15px;
}
