div.latestimages {
	height: 120px;
	overflow: hidden;
	border: 1px solid red;
}
div.latestimages ul {
	list-style: none;
}
div.latestimages ul li {
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
}
div.meetfriends h2 {
	font-size: 130%;
	color: #666;
	text-align: left;
}
div.joinus {
    position: relative;
    background-color: #f6f6f6;
    background-image: url('images/q_top.jpg');
    background-repeat: repeat-x;
    background-position: top;
    padding: 10px;
}
i.tl {
    top: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.tr {
    top: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.bl {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.br {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
div.joinus i.tl {
    background-image: url('images/q_tl.jpg');
}
div.joinus i.tr {
    background-image: url('images/q_tr.jpg');
}
div.joinus i.bl {
    background-image: url('images/q_bl.jpg');
}
div.joinus i.br {
    background-image: url('images/q_br.jpg');
}
