div.latestimages {
	height: 110px;
	overflow: hidden;
	border-bottom: 1px solid #e4e4e4;
	background-color: #f6f6f6;
}
div.latestimages ul {
	margin: 0 4px 0 4px;
	padding: 4px 0 4px 0;
	list-style: none;

}
div.latestimages ul li {
	float: left;
	padding: 5px;
	_width: 110px;
	height: 200px;
	text-align: center;
}
div.latestimages ul li img {
	border: 1px solid #cce;
}
div.meetfriends h2 {
	font-size: 130%;
	color: #666;
	text-align: left;
}
div.joinus {
    position: relative;
    background-color: #f6f6f6;
    background-image: url('images/q_top.jpg');
    background-repeat: repeat-x;
    background-position: top;
    padding: 10px;
}
i.tl {
    top: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.tr {
    top: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.bl {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.br {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
div.joinus i.tl {
    background-image: url('images/q_tl.jpg');
}
div.joinus i.tr {
    background-image: url('images/q_tr.jpg');
}
div.joinus i.bl {
    background-image: url('images/q_bl.jpg');
}
div.joinus i.br {
    background-image: url('images/q_br.jpg');
}
div.joinus i.qleft {
    background-image: url('images/q_left.jpg');
    background-repeat: repeat-y;
    background-position: left;
    width: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 10px;
}
div.joinus i.qright {
    background-image: url('images/q_right.jpg');
    background-repeat: repeat-y;
    background-position: left;
    width: 10px;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
}
div.joinus i.qbottom {
    background-image: url('images/q_bottom.jpg');
    background-repeat: repeat-x;
    background-position: bottom;
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
}
