div.latestimages {
	height: 120px;
}
div.latestimages ul {
	list-type: none;
}
div.latestimages ul li {
	float: left;
	width: 110px;
	height: 110px;
}
div.meetfriends h2 {
	font-size: 130%;
	color: #666;
	text-align: left;
}
div.joinus {
    position: relative;
    background-color: #f2f2f2;
}
i.tl {
    top: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.tr {
    top: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.bl {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.br {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
div.joinus i.tl {
    background-image: url('images/q_tl.jpg');
}
