div.people {
	border: 1px solid green;
}
div.people ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
div.people ul li { 
	float: left;
	width: 300px;
	height: 130px;
}
div.people ul li a {
	font-size: 120%;
	display: block;
	font-weight: bold;
	text-decoration: underline;
}
div.people ul li a span {
	display: block;
	font-size: 80%;
	text-decoration: none;
}
div.people ul li a img {
	float: left;
	margin-right: 5px;
	border: 1px solid #cce;
}

