div.people {
 	height: 260px;
	overflow: hidden;
}
div.people ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
div.people ul li { 
	float: left;
	width: 300px;
	height: 130px;
}
div.people ul li a {
}
div.people ul li a strong {
	text-decoration: underline;
	font-weight: bold;
	display: block;
	font-size: 120%;
	padding-bottom: 5px;
}
div.people ul li a span {
	font-size: 96%;
}
div.people ul li a img {
	float: left;
	margin-right: 5px;
	border: 1px solid #cce;
}
