div.photoview {


}
div.photoview h2 {
	margin: 0;
	padding: 0;
}
div.photoview div ul {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 155px;
	line-height: 155px;
}
div.photoview div ul li{
	padding: 0 2px 0 2px;
	margin: 0;
	display: inline;
	vertical-align: middle;
}