div.photoview {


}
div.photoview h2 {
	margin: 0;
	padding: 0;
}
div.photoview div ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	margin: auto;
	text-align: center;
	height: 150px;
}
div.photoview div ul li{
	padding: 0 2px 0 2px;
	margin: 0;
	display: inline;
	vertical-align: middle;
}
div.photoview div ul li.nav a img {
	padding-bottom: 40px;
}
div.photoview div ul li a img.smallphotoview {
	border: 4px solid #82a4b6;
}
div.photoview div.thephoto {
	text-align:center;
	padding-top: 20px;
}