div#pollview h2 {
	margin: 0;
	padding: 0;
}
div#pollview div.results {
	margin-bottom: 20px;


}
div#pollview div.results ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div#pollview div.resulsts ul li {
	margin: 0;
	padding: 0;
}
div#pollview div.resulsts ul li img {
	margin: 0;
	padding: 0;
}
div#pollview div.resulsts ul li div.leftrounded {
	display: inline;
	background-image: url('images/left-roundedbar.jpg' );
	background-repeat: no-repeat;
	background-position: top;
}
div#pollview div.resulsts ul li div.rightrounded {
	display: inline;
	background-image: url( 'images/right-roundedbar.jpg' );
	background-repeat: no-repeat;
	background-position: top;
}
div#pollview div.resulsts ul li div.middlerounded {
	display: inline;
	background-image: url('images/roundedbar-repeat.jpg');
	background-repeat: repeat-x;
	background-position: top;
}