div.criteria {
    background-image: url('images/s_mid.png');
    background-repeat: repeat-x;
    height: 91px;
    position: relative;
    padding: 10px;
}
div.criteria i.tl {
    background-image: url('images/s_tl.png');
}
div.criteria i.tr {
    background-image: url('images/s_tr.png');
}
div.criteria i.bl {
    background-image: url('images/s_bl.png');
}
div.criteria i.br {
    background-image: url('images/s_br.png');
}
div.criteria form div.search {
    width: 45%;
    float: left;
    margin: 10px 0 10px 0;
}
div.criteria h3 {
    display: inline;
    margin: 0;
    padding: 5px;
    font-size: 100%;
}
