div.criteria {
    background-image: url('images/s_mid.png');
    background-repeat: repeat-x;
    height: 91px;
    position: relative;
    padding: 10px;
    width: 80%;
    margin: 10px auto 20px auto;
}
div.criteria i.tl {
    background-image: url('images/s_tl.png');
}
div.criteria i.tr {
    background-image: url('images/s_tr.png');
}
div.criteria i.bl {
    background-image: url('images/s_bl.png');
}
div.criteria i.br {
    background-image: url('images/s_br.png');
}
div.criteria form {
    text-align: center;
}
div.criteria form div.search {
    width: 45%;
    float: left;
    margin: 8px 0 8px 0;
}
div.criteria form div.search h3 {
    display: inline;
    margin: 0;
    padding: 5px;
    font-size: 100%;
}
div.criteria form input.submit {
	border: 0 none transparent;
    background-color: transparent;
    font-size: 110%;
	color: #105cb6;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
}
