#journalview {
	margin: 0 0 20px 0;
}
#journalview div.ads {
    position: absolute;
    right: 23px;
    top: 138px;
}
#journalview h2 {
	margin: 0;
	padding: 0 0 3px 0;
    overflow: hidden;
}
#journalview dl {
	margin: 2px 0 0 0;
}
#journalview dl dd.commentsnum {
	margin: 0 5px 0 0;
	display: inline;
	font-size: 85%;
}
#journalview dl dd.time {
	display: inline;
	font-size: 85%;
}
#journalview ul.edit {
	margin: 25px 0 0 0;
}
#journalview ul.edit li {
	display: inline;
	margin: 0 0 0 2px;
}
#journalview ul.edit li:first {
	margin: 0;
}
#journalview div.journal p {
	text-align: left;
	width: 70%;
	margin: 0 0 20px 10px;
    overflow: hidden;
}
#journalview .comments {
	float: left;
	width: 90%;
	overflow: hidden;
}
#journalview .comments {
	margin-top: 50px;
}
#journalview .comments .pagifycomments {
	text-align: center;
}
#journalview .journal div.b300x250 {
	margin: -35px 0 0 20px;
}
#journalview div.b728x90 {
	margin: 110px auto 0 auto;
}
