div#jlist {
	margin: 0 0 20px 0;
}
div#jlist > ul {
	margin: 0 0 0 170px;
	width: 60%;
}
div#jlist ul li {
	padding: 10px 0 25px 0;
}
div#jlist ul li div.barfade {
	margin: 5px 0 0 0;
	clear: right;
}
div#jlist ul li div.journalsmall ul {
	width: 100%;
}
div#jlist ul li.create a {
	font-weight: bold;
}
div#jlist ul li.create a img {
	vertical-align: -10px;
	margin-right: 5px;
}
div#jlist div.pagifyjournals {
	text-align: center;
	padding-top: 10px;
}
