div#journalnew {
	padding: 0 0  20px 0;
}
div#journalnew h2 {
	margin: -7px 0 0 0;
	padding: 0;
}
div#journalnew div.edit {
	clear: both;
}
div#journalnew div.edit div.title {
	margin-bottom: 20px;
}
div#journalnew div.edit div.title input {
	margin-left: 30px;
	width: 300px;
}
div#journalnew div.edit div.submit {
	margin-top: 20px;
}
