div#journalnew {
	margin: 0 0 0 170px;
}
div#journalnew div.title {
	margin-bottom: 20px;
}
div#journalnew div.title input {
	margin-left: 30px;
	width: 300px;
}
div#journalnew div.submit {
	margin-top: 20px;
}

	
