div.journalsmall h4 {
	padding: 0;
	margin: 0;
}
div.journalsmall div.barfade {
	border-bottom: 1px solid #c6c6c6;
	margin-top: 5px;
	clear: right;
}
div.journalsmall div.barfade div.leftbar {
	float: left;
	background-image: url('http://static.zino.gr/phoenix/barfade-left.jpg');
	background-repeat: no-repeat;
	height: 1px;
	width: 153px;
}
div.journalsmall div.barfade div.rightbar {
	float: right;
	background-image: url('http://static.zino.gr/phoenix/barfade-right.jpg');
	background-repeat: no-repeat;
	height: 1px;
	width: 153px;
}
div.journalsmall h3 {
	padding: 0;
	margin: 0;
}
div.journalsmall p {
	padding: 5px 0;
	margin: 0;
	/*border-bottom: 1px solid #cfcfcf;*/
}
div.journalsmall ul {
	padding: 3px 0 0 0;
	margin: 0;
	list-style: none;
	width: 100%;
}
div.journalsmall ul li {
	padding: 0 0 0 4px;
	margin: 0;
	display: inline;
}
div.journalsmall ul li.readwhole {
	float: right;
}
div.journalsmall ul li.readwhole a {
	font-size: 90%;
}
div.journalsmall ul li dl {
	padding: 0
	margin: 0;
	display: inline;
}
div.journalsmall ul li dt {
	padding: 0;
	margin: 0;
	display: inline;
}
div.journalsmall ul li dl dt.commentsnum {
	background-image: url('http://static.zino.gr/phoenix/comment.png');
	background-repeat: no-repeat;
	padding: 0 0 0 1px;
}
div.journalsmall ul li dl dt.commentsnum a {
	padding-left: 16px;
	font-size: 85%;
}
div.journalsmall ul li dl dt.addfav {
	padding: 0;
	margin: 0;
	display: inline;
}