div.jsmall h4 {
	padding: 0;
	margin: 0;
}
div.jsmall div.barfade {
	border-bottom: 1px solid #c6c6c6;
	margin-top: 5px;
	clear: right;
}
div.jsmall h3 {
	padding: 0;
	margin: 0;
}
div.jsmall p {
	padding: 5px 0;
	margin: 0;
	/*border-bottom: 1px solid #cfcfcf;*/
}
div.jsmall ul !important {
	padding: 3px 0 0 0;
	width: 100%;
}
div.jsmall ul li {
	display: inline;
}
div.jsmall ul li dl {
	padding: 0;
	margin: 0;
	display: inline;
}
div.jsmall ul li dt {
	padding: 0;
	margin: 0;
	display: inline;
}
div.jsmall ul li dl dt.commentsnum {
	vertical-align: 3px;
}
div.jsmall ul li dl dt.commentsnum a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1215px;
	padding: 0 0 0 17px;
}
div.jsmall ul li dl dt.commentsnum a {
	font-size: 90%;
}