div#journalview {
	margin-bottom: 20px;
}
div#journalview h2 {
	margin: 0;
	padding: 0 0 3px 0;
}
div#journalview div.owner {
	margin: 4px 0;
}
div#journalview div.owner div.edit {
	display: inline;
}
div#journalview div.owner div.edit a {
	background-image: url( 'http://static.zino.gr/phoenix/iconlist.png' );
	background-position: 0 -1873px;
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
}
div#journalview div.owner div.delete {
	margin: 0 0 0 5px;
	display: inline;
}
div#journalview div.owner div.delete a {
	background-image: url( 'http://static.zino.gr/phoenix/delete.png' );
	background-repeat: no-repeat;
	padding: 0 0 0 16px;
}
div#journalview div.journal dl {
	text-align: left;
	padding: 0;
	margin: 0;
}
div#journalview div.journal dl dd.createdate {
	margin-bottom: 10px;
}
div#journalview div.journal dl dd.commentsnum {
	margin: 0 5px 0 0;
	padding: 0 0 0 18px;
	display: inline;
	background-image: url('http://static.zino.gr/phoenix/iconlist.png');
	background-position: 0 -670px;
	background-repeat: no-repeat;
	font-size: 90%;
}
div#journalview div.journal dl dd.addfav{
	margin: 0;
	padding: 0 0 0 2px;
	display: inline;
}
div#journalview div.journal dl dd.addfav a {
	background-image: url('http://static.zino.gr/phoenix/iconlist.png');
	background-repeat: no-repeat;
	padding-left: 18px;
}
div#journalview div.journal dl dd.addfav a.add {
	background-position: 0 -1327px;
}
div#journalview div.journal dl dd.addfav a.isadded {
	background-position: 0 -1261px;
	cursor: default;
}
div#journalview div.journal dl dd.edit , div#journalview div.journal dl dd.delete {
	margin-left: 5px;
	display: inline;
}
div#journalview div.journal dl dd.edit a img , div#journalview div.journal dl dd.delete a img {
	padding-right: 2px;
}
div#journalview div.journal dl dd.edit {

}
div#journalview div.journal p {
	text-align: left;
	width: 70%;
	margin: 0 0 20px 10px;
}
div#journalview div.comments {
	float: left;
	width: 90%;
	overflow: hidden;
}
div#journalview img.delete1 , div#journalview img.delete2 {
	display: none;
}
div#journalview div.comments {
	margin-top: 50px;
}
div#journalview div.comments div.pagifycomments {
	text-align: center;
}
