RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^faq$ index.php?p=faq
RewriteRule ^chat/$ index.php?p=chat
RewriteRule ^chat/([a-zA-Z0-9_.\-/]+)$ bin/ice_queen/alpha/$1 [L,QSA]
RewriteRule ^user/([a-zA-Z0-9_\-]+)$ index.php?p=user&name=$1 [L,QSA]
RewriteRule ^faq/([a-zA-Z][a-zA-Z0-9_\-]+)$ index.php?p=faqq&id=$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^register$ index.php?p=register [L,QSA]
RewriteRule ^do/([a-zA-Z0-9_\-/]+)$ action.php?p=$1 [L,QSA]

php_flag display_errors on

  AuthType Basic
  AuthName "Authorization for chit-chat required"
  AuthMySQLHost localhost
  AuthMySQLUser ccbeta
  AuthMySQLPassword IkJ84nZT
  AuthMySQLDB ccbeta
  AuthMySQLUserTable merlin_users
  AuthMySQLNameField user_name
  AuthMySQLPasswordField user_password
  AuthMySQLPwEncryption md5
  AuthMySQLEnable On
  Require valid-user