#shoutbox .newcomment div.text input {
    border: 1px solid #999;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
#shoutbox .newcomment div.text {
    height: 49px;
}
#shoutbox .newcomment div.bottom {
    text-align: right;
}
#shoutbox .newcomment div.bottom input#shoutbox_submit {
    margin: 5px 3px 0;
}
#shoutbox .newcomment div.bottom div.typing {
    margin: 5px 0 0 0;
    float: left;
}
#shoutbox .newcomment div.who {
    float: left;
    width: 50px;
}
#shoutbox .comments {
	width: 100%;
}
#shoutbox .comments div.comment {
    max-height: 300px;
    overflow: hidden;
}
#shoutbox div.more {
	margin: 10px 0;
}
.outshoutbox {
	float: left;
	width: 95%;
}
