div.latestcomments {
	padding: 10px;
}
div.frontpage div.latestcomments {
	border: 1px solid #ccc;
}
div.latestcomments h2 {
	margin-bottom: 13px;
}
div.latestcomments div.more {
	margin: 10px 0;
}