div#shoutbox {
	padding-left: 10px;
}
div#shoutbox div.newcomment div.text textarea {
    border: 1px solid #999;
    width: 99%;
}
div#shoutbox div.newcomment div.text {
    margin: 5px 3px 0 60px;
}
div#shoutbox div.newcomment div.bottom {
    text-align: right;
}
div#shoutbox div.newcomment div.bottom input#shoutbox_submit {
    margin-right: 3px;
}
div#shoutbox div.newcomment div.who {
    float: left;
    width: 50px;
}
div#shoutbox div.comments {
	width: 100%;
}
div#shoutbox div.comments div.comment {
    max-height: 300px;
    overflow: hidden;
}
div#shoutbox h2 {	
	margin-bottom: 10px;
}
div#shoutbox h2 span {
    font-size: 70%;
}
div#shoutbox div.more {
	margin: 10px 0;
}
div.outshoutbox {
	float: left;
	width: 95%;
}
