div.shoutbox {
	padding-left: 10px;
}
div.shoutbox div.newcomment textarea {
    border: 1px solid #333;
}
div.shoutbox div.comments {
	width: 100%;
}
div.shoutbox div.comments div.comment {
	/*width: 100%;*/
    max-height: 300px;
    overflow: hidden;
}
div.shoutbox h2 {	
	margin-bottom: 10px;
}
div.shoutbox h2 span {
    font-size: 70%;
}
div.shoutbox div.more {
	margin: 10px 0;
}
div.outshoutbox {
	float: left;
	width: 95%;
}
