div.shoutbox {
	float: left;
	padding: 10px;
	border: 1px solid #ccc;
}
div.shoutbox div.comments {
	width: 100%;
}
div.shoutbox div.comments div.comment {
	width: 100%;
}
div.shoutbox h2 {	
	margin-bottom: 10px;
}
div.outshoutbox {
	float: left;
	width: 95%;
}
div.outshoutbox div.shoutbox {
	border: none;
	border-bottom: 1px solid #ccc;
}
div.inshoutbox {
	float: left;
	width: 47%;
	margin-right: 20px;
}