div.frontpage {
    text-align: left;
    position: relative;
}
div.frontpage div.zinomeeting {
    padding: 10px;
    border: 1px solid #ccc;
    background: #f7f7ff;
	border-top: none;
	margin: 0px auto;
	width: 70%;
	text-align: center;
}
div.frontpage div.zinomeeting h3 {
	margin: 5px 0;
	text-align: center;
}
div.frontpage div.ybubble {
    margin: 0 auto 10px auto;
    text-align: center;
    width: 700px;
    height: 170px;
}
div.frontpage div.ybubble div.body a.delete {
    width: 16px;
    height: 16px;
    float: right;
    padding: 3px 1px 0 0;
}
div.frontpage div.ybubble div.body form {
    text-align: left;
    padding: 5px;
}
div.frontpage div.ybubble div.body form div span {
    margin-right: 5px;
}
div.frontpage div.ybubble div.body form p {
    padding-bottom: 0;
    margin-bottom: 0;
}
div.frontpage div.ybubble div.body form div div#selectplace { 
    margin: 10px 0 0 0;
}
div.frontpage div.ybubble div.body form div div#selecteducation {
    margin: 10px 0 0 0;
}
div.frontpage div.ybubble div.body form div div#selectuni {
    margin: 10px 0 0 0;
}
div.frontpage div.ybubble div.body form div span {
    padding: 0 3px 0 0;
}
div.lstimages {
    height: 115px;
    margin: 0 4px 20px 4px;
}
div.lstimages ul {
    height: 110px;
    position: relative;
	margin-right: 25px;
}
div.lstimages ul li {
    float: left;
    margin: 2px 8px 20px 0;
    height: 110px;
    text-align: center;
}
div.lstimages ul li img {
    border: 1px solid #cce;
}
div.frontpage div.more {
    float: right;
    margin: 30px 0 0;
}
div.members {
	z-index: 999;
}
div.members div.join {
    background: url( 'http://static.zino.gr/phoenix/icons2.png' ) no-repeat -203px -907px;
    height: 133px;
    width: 486px;
    float: left;
    margin: 0 100px 0 0;
}
div.members div.join form {
    text-align: left;
    width: 40%;
    margin: 30px 0 0 250px;
    color: #ffffff;
    font-weight: bold;
}
div.members div.join form div {
    margin: 9px 0 9px 0;
    width: 123%;
}
div.members div.join form h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    display: inline;
    font-size: 100%;
    color: #ffffff;
}
div.members form label {
    margin-right: 5px;
}
div.members div.login {
    background: url( 'http://static.zino.gr/phoenix/icons2.png' ) no-repeat -203px -1150px;
    text-align: left;
    height: 129px;
    width: 293px;
    float: left;
    padding: 20px 0 0 10px;
}
div.members div.login form div {
    margin: 5px; 
}
div.members div.login form h2 {
    padding: 0;
    margin: 0;
    font-size: 110%;
}
div.members div.login form div label {
    float: left;
    display: block;
    width: 70px;
}
div.frontpage div.notifications {
    padding: 5px 0 0 0;
    top: -8px;
    margin: 0 0 20px 15%;
    width: 70%;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    background-color: #fdfdfd;
    z-index: 2;
}
div.frontpage div.notifications div.expand a {
    background: #cfc9fd url( 'http://static.zino.gr/phoenix/icons2.png' ) no-repeat 4px -1440px;
    padding: 0 0 0 18px;
}
div.frontpage div.notifications h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 0 20px;
}
div.frontpage div.notifications div.list div.event {
    float: none;
    width: 95%;
    margin: 2px auto;
    padding: 5px;
    cursor: pointer;
}
div.frontpage div.notifications div.list div.event div.toolbox a {
    z-index: 100;
}
div.frontpage div.notifications div.list div.event div.who img.avatar {
    width: 50px;
    height: 50px;
    border: 1px solid #666;
    float: left;
    margin: 0 4px 0 0;
}
div.frontpage div.notifications  div.list div.event div.subject p img {
    float: right;
    /*margin-top: -17px;*/
}
div.frontpage div.notificatios div.list div.event div.subject p a.itempic img {
    width: 75px;
    height: 75px;
}
div.fontpage div.notifications div.list div.event div.subject div.addfriend {
    margin-bottom: 4px;
    font-size: 90%;
}
/*
div.fontpage div.notifications div.list div.event div.subject div.addfriend  a {
	padding: 0 0 0 18px;
}
*/
div.frontpage div.notifications div.list div.event div.subject div.viewprofile {
    font-size: 90%;
}
div.onlinenow a img {
    border: 1px solid #666;
    margin: 0 10px 10px 0;
}
div.frontpage div.inuser {
    float: none;
    width: 100%;
}
div.inuser div.left {
    width: 48%;
    float: left;
}
div.inuser div.right {
    width: 48%;
    float: right;
}
div.inuser div.left div.onlinenow {
    padding-left: 10px;
    margin-top: 40px;
}
div.latest div.journals {
    margin-bottom: 10px;
}
div.inuser div.right div.latest > h2 {
    margin-bottom: 5px;
}
div.inuser div.right div.latest div h2 {
    font-size: 90%;
}
div.inuser div.right div.latest div.barfade {
    margin-top: 10px;
    padding-bottom: 10px;
}
div.inuser div.right div.latest div.comments {
    width: 100%;
    overflow: hidden;
    height: 780px;
}
div.commfading {
    height: 24px;
    background: url( 'http://static.zino.gr/phoenix/frontpagecommfade.png' ) bottom repeat-x;
    margin-top: -20px;
    position: relative;
}

div.inuser div.right div.latest div.journals {
    width: 100%;
}
div.inuser div.right div.latest div.polls {
    width: 100%;
}
