div.allshouts {
	padding: 0 50px 0 50px;
	text-align: center;
}
div.allshouts div.thisshout {
	border: 1px solid #5384cc;
	background-color: #dde7f6;
	padding: 3px 3px 3px 3px;
	text-align: left;
	margin-bottom: 5px;
}
div.allshouts span {
	display: inline;
}
span.heading {
	font-family: tahoma;
	color: #777472;
	font-size: 12pt;
	font-weight: bold;
	cursor: pointer;
}