div.upperslide ul.photolist1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
div.upperslide ul.photolist1 li {
	padding: 0;
	margin: 0;
	display: inline;
	position: relative;
}
div.upperslide div.edge a span, div.upperslide ul.photolist1 li a span, div.rightslide ul.photolist2 li a span {
	position: absolute;
	bottom: 2px;
	right: 13px;
	background-color: #cecece;
	opacity: 0.7;
}
div.rightslide ul.photolist2 li a span {
	bottom: 12px;
}
div.upperslide div.edge ul.photolist1 li a span img, div.upperslide ul.photolist1 li a span img, div.rightslide ul.photolist2 li a span img {
	margin: 0;
}
div.rightslide {
	float: right;
	clear: both;
	width: 145px;
	height: 500px;
	background-image: url('http://static.zino.gr/phoenix/sidefade.jpg');
	background-repeat: repeat-y;
	background-position: 1px 0;
}
div.rightslide ul.photolist2 {
	margin: 0;
	padding: 0;
	list-style: none;
    height: 100%;
    border: 1px solid green;
}
div.rightslide ul.photolist2 li {
	padding: 0;
	margin: 0;
	position: relative;
    width: 100%;
    height: 120px;
    line-height: 100px;
    display: block;
    border: 1px solid yellow;
    vertical-align: bottom;
}
div.rightslide a {
	float: right;
}
div.rightslide ul.photolist2 li a img {
	margin: 10px 9px 10px 0;
}
div.upperslide {
	height:113px;
	width: 100%;
	background-image: url('http://static.zino.gr/phoenix/upperfade.jpg');
	background-repeat: repeat-x;
	background-position: top;
	margin-top: 70px;
	text-align: center;
	overflow: hidden;
}
div.upperslide div.edge {
	width: 145px;
	height: 113px;
	float: right;
	background-image: url('http://static.zino.gr/phoenix/edge.jpg');
	background-repeat: none;
	line-height: 200px;
	vertical-align: bottom;
	text-align: right;
}
div.upperslide div.edge a img {
	margin-right: 10px;
}
div.upperslide  ul.photolist1 li a img {
	margin: 6px 13px 0 13px;
}