div.rightslide {
	float: right;
	width: 145px;
	height: 500px;
	background-image: url('http://static.zino.gr/phoenix/sidefade.jpg');
	background-repeat: repeat-y;
	background-position: top;
	margin-top: 60px;
}
div.rightslide div.edge {
	width: 145px;
	height: 113px;
	background-image: url('http://static.zino.gr/phoenix/edge.jpg');
	background-repeat: none;
	background-position: top;
}
div.rightslide div.edge a {
	float: none;
}
div.rightslide a {
	display: block;
	float: right;
}
div.rightslide a img {
	padding: 5px 3px 5px 0;
}
div.upperslide {
	height:120px;
	width: 100%;
	background-image: url('http://static.zino.gr/phoenix/upperfade.jpg');
	background-repeat: repeat-x;
	background-position: top;
	margin-top: 60px;
}
div.upperslide a img {
	padding: 3px 7px 0 7px;
}