div.rightbar {
	float: right;
}
div.sidebar {
	width: 300px;
}
div.leftbar {
	padding-top: 30px;
	padding-right: 5px;
	float: left;
}
div.sidebar div.box {
	width: 300px;
}
div.sidebar div.box div.header {
	background-image: url('http://static.zino.gr/images/soramid.jpg');
	background-repeat: repeat-x;
	background-position: top;
	height: 19px;
	vertical-align: bottom;
	color: white;
	position: relative;
	_top: 18px;
}
div.sidebar div.box div.header h3 {
	font-size: 100%;
	font-weight: 800;
	padding-top: 3px;
}
div.sidebar div.box div.body {
	clear: none;
	border-right: 1px solid #2e486c;
	border-left: 1px solid #2e486c;
	border-bottom: 1px solid #2e486c;
	background-image: url('http://static.zino.gr/images/sorabody.jpg');
	background-repeat: repeat-x;
	background-position: top;
	background-color: #e8eaec;
	padding: 5px 3px 3px 3px;
    position: relative; /* flicker fix for ie */
}
div.sidebar div.box div.body img {
    position: relative;
}
div.sidebar div.shoutbox div.body div, div.sidebar div.latestcomments div.body div {
	margin-bottom: 3px;
	font-size: 90%;
}
div.sidebar div.box div.body div.boxexpand {
	font-size: 100%;
	display: none;
}
div.sidebar div.box div.body div img.avatar {
	float: left;
	margin-right: 5px;
	border: 1px solid #cac7c5;
}
div.sidebar div.onlinenow div.body div img {
	margin-bottom: 5px;
}
div.sidebar div.box a.arrow {
	float: right;
	background-repeat: no-repeat;
	background-position: top right;
	width: 16px;
	height: 16px;
	margin-right: 1px;
}
div.sidebar div.box a.arrowup {
	float: right;
	background-repeat: no-repeat;
	background-position: top right;
	width: 16px;
	height: 16px;
	margin-right: 1px;
	position: relative;
	bottom: 4px;
}
div.sidebar div.box a.arrow:link, div.sidebar div.box a.arrow:visited, div.sidebar div.box a.arrow:active {
	background-image: url('http://static.zino.gr/images/icons/dropdown.jpg');
	background-position: 6 0;
	position: relative;
	top: 4px;
}
div.sidebar div.box a.arrow:hover {
	background-image: url('http://static.zino.gr/images/icons/dropdownover.jpg');
}
div.sidebar div.box a.arrowup:link, div.sidebar div.box a.arrowup:visited, div.sidebar div.box a.arrowup:active {
	background-image: url('http://static.zino.gr/images/icons/dropup.png');
}
div.sidebar div.box a.arrowup:hover {
	background-image: url('http://static.zino.gr/images/icons/dropupover.png');
} 
div.sidebar div.box img.newshout, div.sidebar div.box img.newcategory {
	float:right;
}
div.sidebar div.latestcomments div.body span {
	color: #7e7e7e;
}
div.sidebar div.categorybox div.body h3 {
	display: inline;
	font-size: 90%;
}
div.sidebar div.categorybox div.body img {
	margin: 2px 0 5px 0;
}
div.sidebar div.categorybox div.body div.category {
	border-bottom: 1px solid white;
	padding-top: 4px;
	padding-bottom: 4px;
}
div.box div.body div.boxlink {
	text-align: right;
	margin-right: 15px;
}