div#space {
	margin-bottom: 20px;
}
div#space div.owner {
	margin: 4px 0;
}
div#space div.owner div.edit a {
	background-image: url( 'http://static.zino.gr/phoenix/iconlist.png' );
	background-position: 0 -1873px;
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
}
div#space div.text {
	clear: both;
}