body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
div.main {
	margin: 50px;
}
table {
	border-collapse: collapse;
}
table.board {
	border: 1px solid red;
	width: 897px;
	height: 636px;
	
}
table.board td.outerleft {
	width: 79px;
	height: 636px;
}
table.board td.leftarea {
	width: 338px;
	height: 636px;
}
table.board td.leftarea table {
	width:338px;
	height: 636px;
}
table.board td.leftarea table td.outerup1 {
	width: 338px;
	height: 30px;
}
table.board td.leftarea table td.conesup1 {
	width: 338px;
	height: 226px;
}
table.board td.leftarea table td.middle1 {
	width: 338px;
	height: 129px;
}
table.board td.leftarea table td.conesdown1 {
	width: 338px;
	height: 226px;
}
table.board td.leftarea table.outerdown1 {
	width: 338px;
	height: 25x;
}

table.board td.middlearea {
	width: 54px;
	height: 636px;
}
table.board td.rightarea {
	width: 337px;
	height: 636px;
}
table.board td.rightarea table {
	width: 337px;
	height: 636px;
}
table.board td.rightarea table td.outerup2 {
	width: 337px;
	height: 30px;
}
table.board td.rightarea table td.conesup2 {
	width: 337px;
	height: 226px;
}
table.board td.rightarea table td.middle2 {
	width: 337px;
	height: 129px;
}
table.board td.rightarea table td.conesdown2 {
	width: 337px;
	height: 226px;
}
table.board td.rightarea table td.outerdown2 {
	width: 337px;
	height: 25px;
}
table.board td.outerright {
	width: 89px;
	height: 636px;
}

table.board table {
	border: 1px solid red;
}
table.board td {
	padding: 0;
	border: 1px solid red;
}