body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
div.main {
	margin: 50px;
}
div.board {
	border: 1px solid red;
	width: 1000px;
	height: 636px;
}
div.board div.leftborder {
	float: left;
	width: 79px;
	background-image: url( 'images/border-left.jpg' );
	background-repeat: no-repeat;
	text-align: center;
}
div.board div.leftborder div.container1 {
	width: 64px;
	height: 227px;
	/*margin-top: 30px;*/
	margin: 30px auto 0 auto;
}
div.board div.leftborder div.container1 div.up {
	background-image: url( 'images/collector-up.jpg' );
	background-repeat: no-repeat;
	width: 64px;
	height: 9px;
}
div.board div.leftborder div.container1 div.middle {
	background-image: url( 'images/collector-repeat.jpg' );
	background-repeat: repeat-y;
	width: 64px;
	height: 209px;
}
div.board div.leftborder div.container1 div.bottom {
	background-image: url( 'images/collector-down.jpg' );
	background-repeat: no-repeat;
	width: 64px;
	height: 9px;
}
div.board div.container2 {
	width: 64px;
	height: 227px;
	/*margin-top: 132px;*/
	margin: 132px auto 0 auto;
}
div.board div.leftborder div.container2 div.up {
	background-image: url( 'images/collector-up.jpg' );
	background-repeat: no-repeat;
	width: 64px;
	height: 9px;
}
div.board div.leftborder div.container2 div.middle{
	background-image: url( 'images/collector-repeat.jpg' );
	background-repeat: repeat-y;
	width: 64px;
	height: 209px;
}
div.board div.leftborder div.container2 div.bottom {
	background-image: url( 'images/collector-down.jpg' );
	background-repeat: no-repeat;
	width: 64px;
	height: 9px;
}
div.board div.left {
	float: left;
	width: 340px;
}
div.board div.left div.gamearea div.up {
	height: 226px;
}
div.board div.left div.gamearea div.up div.left {
	float: left;
	background-image: url( 'images/tri-left-up-brown.jpg' );
	background-repeat: no-repeat;
	width: 56px;
}
div.board div.left div.gamearea div.up div.white {
	float: left;
	background-image: url( 'images/tri-up-white.jpg' );
	background-repeat: no-repeat;
	width: 57px;
}
div.board div.left div.gamearea div.up div.brown {
	float: left;
	background-image: url( 'images/tri-up-brown.jpg' );
	background-repeat: no-repeat;
	width: 57px;
}
div.board div.left div.gamearea div.up div.right {
	float: left;
	background-image: url( 'images/tri-right-up-brown.jpg' );
	background-repeat: no-repeat;
	width: 56px;

}
div.board div.left div.gamearea div.middle {
	height: 129px;
	background-image: url( 'images/left-middle.jpg' );
	background-repeat: no-repeat;
}
div.board div.left div.gamearea div.down {
	height: 226px;
}
div.board div.left div.gamearea div.down div.left {
	float: left;
	background-image: url( 'images/tri-left-down-white.jpg' );
	background-repeat: no-repeat;
	width: 56px;
}
div.board div.left div.gamearea div.down div.white {
	float: left;
	background-image: url( 'images/tri-bottom-white.jpg' );
	background-repeat: no-repeat;
	width: 57px;
}
div.board div.left div.gamearea div.down div.brown {
	float: left;
	background-image: url( 'images/tri-bottom-brown.jpg' );
	background-repeat: no-repeat;
	width: 57px;
}
div.board div.left div.gamearea div.down div.right {
	float: left;
	background-image: url( 'images/tri-right-down-brown.jpg' );
	background-repeat: no-repeat;
	width: 56px;
}
div.board div.middleborder {
	float: left;
	background-image: url( 'images/border-middle.jpg' );
	background-repeat: no-repeat;
	width: 55px;
}
div.board div.right {
	float: left;
	width: 340px;
}
div.board div.rightborder {
	float: left;
	background-image: url( 'images/border-right.jpg' );
	background-repeat: no-repeat;
	width: 88px;
}