body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
div.main {
	margin: 50px;
}
table {
	border-collapse: collapse;
}
table.board {
	border: 1px solid red;
}
table.board table {
	border: 1px solid red;
}
table.board td {
	padding: 0;
	border: 1px solid red;
}