ul.albums {
    padding: 0;
    margin: 0;
}
ul.albums li {
    float: left;
    width: 200px;
    list-style: none;
    padding: 10px;
    margin: 0;
}
ul.albums li a div {
    background-image: url( 'images/album.png' );
    background-position: top left;
    background-repeat: no-repeat;
    width: 155px;
    height: 155px;
    display: block;
    text-align: center;
    vertical-align: middle;
}
ul.albums li a span {
    display: block;
}
ul.albums li a img {
    margin: auto;
}
ul.albums li dl {
    display: inline;
    margin: 0;
    padding: 0;
}
ul.albums li dl dt {
    display: inline;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}
ul.albums li dl dd {
    display: inline;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}
