div.header h1 {
    top: 0px;
}
div.header ul {
	position: relative;
	top: -50px;
}
div.header ul li a.login {
	background-image: url('images/_up_ie6.png');
}
div.header ul li a.register {
	background-image: url('images/_bookmark_toolbar_ie6.png');
}
