div#contactform {
	margin: 20px 0;
	width: 70%;
}
div#contactform h2 {
	margin: 0 0 15px 0;
	padding: 0;
}
div#contactform h3 {
	margin: 0;
	padding: 0;
	color: black;
}
div#contactform p {
	margin: 0;
	padding: 3px 0 15px 0;
}
div#contactform ul {
	margin: 0;
	padding: 3px 0 15px 15px;
}
div#contactform ul li {
	margin: 0;
	padding: 1px 0;
}
div#contactform ul li span {
	display: block;
}
div#contactform ul li strong {
	font-weight: bold;
	display: block;
}
div#contactform form {
	

}
div#contactform form p {
	padding: 0;
	font-family: serif;
	margin: 0 0 3px 0;
}
div#contactform form input#mailadress {
	width: 250px;
	margin-bottom: 20px;
}
div#contactform form textarea {
	width: 400px;
	height: 200px;
	padding: 0;
	margin-bottom: 5px;
	display: block;
}