ul.events {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.events li.last {
	border-bottom: 1px solid #d7d7d7;
}
ul.events li {
	padding: 5px 0 5px 5px;
	margin: 0;
	border: 1px solid #d7d7d7;
	border-bottom: none;
}
ul.events li div {
	background-repeat: no-repeat;
	padding-left: 20px;
}
ul.events li.poll div {
	background-image: url('images/chart_bar.png');
}
ul.events li.photo div {
	background-image: url('images/photo.png');
}
ul.events li.photo img {
	/*display: block;*/
	padding: 3px 3px 3px 0px;
}
ul.events li.journal div {
	background-image: url('images/book.png');
}
