div#favourites {
	margin-bottom: 20px;
	text-align: center;
	padding-top: 20px;
}
div#favourites h2 {
	margin: 0;
	padding: 0;
}
div#favourites div.list {
	text-align: left;
	width: 40%;
	margin: 0 auto;
}
div#favourites div.list ul.favcategories {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
div#favourites div.list ul.favcategories li {
	margin: 0 0 0 5px;
	padding: 5px 0 0 0;
	float: right;
	height: 21px;
	width: 35px;
	text-align: center;
	border: 1px solid #d7d7d7;
	border-bottom: none;
	size: 105%;
	cursor: pointer;
}
div#favourites div.list ul.favcategories li a {
	display: block;
}
li.selected {
	background-color: #e5f0ff;
}
div#favourites div.list ul.favcontent {
	padding: 0;
	margin: 0;
	list-style: none;
}
div#favourites div.list ul.favcontent li.last {
	border-bottom: 1px solid #d7d7d7;
}
div#favourites div.list  ul.favcontent li {
	padding: 5px 0 5px 5px;
	margin: 0;
	border: 1px solid #d7d7d7;
	border-bottom: none;
}
div#favourites div.list ul.favcontent li.poll div {
	background-image: url('images/chart_bar.png');
	background-repeat: no-repeat;
	padding-left: 20px;
}
div#favourites div.list ul.favcontent li.photo div {
	background-image: url('images/photo.png');
	background-repeat: no-repeat;
	padding-left: 20px;
}
div#favourites div.list ul.favcontent li.photo img {
	/*display: block;*/
	padding: 3px 3px 3px 0px;
}
div#favourites div.list ul.favcontent li.journal div {
	background-image: url('images/book.png');
	background-repeat: no-repeat;
	padding-left: 20px;
}