div#favourites {
	margin-bottom: 20px;
	text-align: center;
}
div#favourites h2 {
	margin: 0;
	padding: 0;
}
div#favourites div.list {
	text-align: left;
	width: 60%;
	margin: 0 auto;
}
div#favourites div.list ul.favcategories {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
div#favourites div.list ul.favcategories li {
	margin: 0;
	padding: 0;
	display: inline;
}
div#favourites div.list ul.favcontent {
	padding: 0;
	margin: 0;
	list-style: none;
}
div#favourites div.list  ul.favcontent li {
	padding: 0;
	margin: 0;
	border: 1px solid gray;
}
div#favourites div.list ul.favcontent li.poll {
	background-image: url('images/chart_bar.png');
	background-repeat: no-repeat;
	padding-left: 18px;
}
div#favourites div.list ul.favcontent li.photo{
	background-image: url('images/photo.png');
	background-repeat: no-repeat;
	padding-left: 18px;
}
div#favourites div.list ul.favcontent li.journal {
	background-image: url('images/book.png');
	background-repeat: no-repeat;
	padding-left: 18px;
}