div.frontpage {
	text-align: center;
}
div.frontpage div.ybubble {
	padding-top: 0;
	margin: 0 auto 10px auto;
	text-align: center;
	width: 700px;
	height: 100px;
}
div.frontpage div.ybubble a {
	width: 16px;
	height: 16px;
	float: right;
	padding: 3px 1px 0 0;
}
div.frontpage div.ybubble form {
	text-align: left;
}
div.frontpage div.ybubble form div {
	display: inline;
}
div.frontpage div.ybubble form div span {
	padding-right: 3px;
}
div.latestimages {
	height: 135px;
	overflow: hidden;
	margin: 0 4px 0 4px;
}
div.latestimages ul {
	margin: 0;
	padding: 17px 0 14px 0;
	list-style: none;
}
div.latestimages ul li {
	float: left;
	padding: 5px;
	height: 200px;
	text-align: center;
}
div.latestimages ul li img {
	border: 1px solid #cce;
}
div.members div.join {
	background-image: url( 'images/frontpagejoin.jpg' );
	background-repeat: no-repeat;
	height: 133px;
	width: 486px;
	float: left;
	margin-right: 100px;
}
div.members div.join form {
	text-align: left;
	width: 40%;
	margin: 30px 0 0 250px;
	color: #ffffff;
	font-weight: bold;
}
div.members div.join form div {
	margin: 9px 0 9px 0;
	width: 123%;
}
div.members div.join form h2 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	display: inline;
	font-size: 100%;
	color: #ffffff;
}
div.members form label {
	margin-right: 5px;
}
div.members div.login {
	background-image: url( 'images/frontpagelogin.jpg' );
	background-repeat: no-repeat;
	text-align: left;
	height: 129px;
	width: 293px;
	float: left;
	padding: 20px 0 0 10px;
}
div.members div.login form div {
	margin: 5px; 
}
div.members div.login form h2 {
	padding: 0;
	margin: 0;
	font-size: 110%;
}
div.members div.login form div label {
	float: left;
	display: block;
	width: 70px;
}
div.members div.login form input {
	
}
div.shoutbox {
	width: 60%;
	float: left;
}
div.latestcomments {
	float: left;
}
div.latestcomments div.lastcomment a img {
	width: 50px;
	height: 50px;
	border: 1px solid #666;
}