div.frontpage {
	text-align: center;
}
div.frontpage div.ybubble {
	padding-top: 0;
	margin: 0 auto 10px auto;
	text-align: center;
	width: 700px;
	height: 100px;
}
div.frontpage div.ybubble a {
	width: 16px;
	height: 16px;
	float: right;
	padding: 3px 1px 0 0;
}
div.frontpage div.ybubble form {
	text-align: left;
}
div.frontpage div.ybubble form div {
	display: inline;
}
div.frontpage div.ybubble form div span {
	padding-right: 3px;
}
div.latestimages {
	height: 135px;
	overflow: hidden;
	margin: 0 4px 0 4px;
}
div.latestimages ul {
	margin: 0;
	padding: 17px 0 14px 0;
	list-style: none;
}
div.latestimages ul li {
	float: left;
	padding: 5px;
	height: 200px;
	text-align: center;
}
div.latestimages ul li img {
	border: 1px solid #cce;
}
div.members div.join {
	background-image: url( 'images/frontpagejoin.jpg' );
	background-repeat: no-repeat;
	height: 189px;
	width: 495px;
	text-align: right;
	float: left;
}
div.members div.join form {
	text-align: left;
	width: 40%;
}
div.members div.login {
	float: left;
}