div.frontpage {
	text-align: center;
}
div.frontpage div.ybubble {
	padding-top: 0;
	margin: 0 auto 10px auto;
	text-align: center;
	width: 700px;
	height: 100px;
}
div.frontpage div.ybubble a {
	width: 16px;
	height: 16px;
	float: right;
	padding: 3px 1px 0 0;
}
div.frontpage div.ybubble form {
	text-align: left;
}
div.frontpage div.ybubble form div {
	display: inline;
}
div.frontpage div.ybubble form div span {
	padding-right: 3px;
}
div.latestimages {
	height: 135px;
	overflow: hidden;
	margin: 0 4px 0 4px;
}
div.latestimages ul {
	margin: 0;
	padding: 17px 0 14px 0;
	list-style: none;
}
div.latestimages ul li {
	float: left;
	padding: 5px;
	height: 200px;
	text-align: center;
}
div.latestimages ul li img {
	border: 1px solid #cce;
}
div.members div.join {
	background-image: url( 'images/frontpagejoin.jpg' );
	background-repeat: no-repeat;
	height: 133px;
	width: 486px;
	float: left;
	margin-right: 100px;
}
div.members div.join form {
	text-align: left;
	width: 40%;
	margin: 30px 0 0 250px;
	color: #ffffff;
	font-weight: bold;
}
div.members div.join form div {
	margin: 9px 0 9px 0;
	width: 123%;
}
div.members div.join form h2 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	display: inline;
	font-size: 100%;
	color: #ffffff;
}
div.members form label {
	margin-right: 5px;
}
div.members div.login {
	background-image: url( 'images/frontpagelogin.jpg' );
	background-repeat: no-repeat;
	text-align: left;
	height: 129px;
	width: 293px;
	float: left;
	padding: 20px 0 0 10px;
}
div.members div.login form div {
	margin: 5px; 
}
div.members div.login form h2 {
	padding: 0;
	margin: 0;
	font-size: 110%;
}
div.members div.login form div label {
	float: left;
	display: block;
	width: 70px;
}
div.members div.login form input {
	
}
div.shoutbox {
	width: 60%;
	float: left;
}
div.shoutbox h2 {	
	margin-bottom: 10px;
}
div.latestcomments {
	float: left;
	text-align: left;
	width: 40%;
}
div.latestcomments h2 {
	margin-bottom: 13px;
}
div.latestcomments div.lastcomment {
	float: left;
	clear: both;
	margin: 0 0 20px 0;
	width: 100%;
}
div.latestcomments div.lastcomment div.toolbox {
	float: right;
	padding: 2px 6px 2px 2px;
}
div.latestcomments div.lastcomment div.toolbox span.time {
	color: #999;
	font-size: 80%;
}
div.latestcomments div.lastcomment div.who {
	border-top: 1px solid #ccc !important;
	display: block;
	padding: 2px 0 2px 4px;
	background-color: #f4f4f4;
	color: #666;
}
div.latestcomments div.lastcomment a img.avatar {
	width: 50px;
	height: 50px;
	border: 1px solid #666;
	float: left;
	margin: 0 4px 0 0;
}
div.latestcomments div.lastcomment div.subject {
	padding-top: 5px;
}
div.latestcomments div.lastcomment div.subject a img.avatar2 {
	width: 50px;
	height: 50px;
	border: 1px solid #666;
}
div.nowonline {
	text-align: left;
}
div.nowonline a {
	float: left;
}
div.nowonline a {
	margin: 0 12px 12px 0;
}
div.nowonline a img {
	border: 1px solid #666;
}
	