div#interestlist {
	margin-bottom: 20px;
	text-align: center;
}
div#interestlist div.list {
	width: 80%;
	margin: 0 auto 0 auto;
}
div#interestlist div div.addhobby {
	text-align: left;
}
div#interestlist div div.people {
	text-align: left;
}
div#interestlist div div.popularhobbies {
	text-align: left;
}