div.join {
	padding-top: 20px;
	text-align: center;
	margin: 30px 0 40px 0;
}
div.join h2 {
	margin: 0;
	padding-bottom: 5px;
}
div.join div.bubble {
	margin: auto;
	width: 600px;
	text-align: left;
}
div.join div.bubble form.joinform div {
	padding: 5px 0 20px 0; 
}
div.join div.bubble form.joinform div a.button {
	font-size: 120%;
	padding: 5px 10px;
	font-weight: bold;
	display: block;
	width: 120px;
	margin: 20px auto 0 auto;
	text-align: center;
}
div.join div.bubble form.joinform div label {
	display: block;
	padding: 0 0 3px 0;
}
div.join div.bubble form.joinform div input {
	display: block;
}
div.join div.bubble form.joinform div p {
	padding: 3px 0 0 0;
	margin: 0;
	font-size: 80%;
}

div.join div.bubble form.joinform div div {
	height: 20px;
}

div.join div.bubble form.joinform div div img {
	padding: 1px;
}
div.join div.bubble p {
	padding: 3px 0 0 0;
	margin: 0;
	font-size: 80%;
}
div#join_tos {
	width: 600px;
	height: 500px;
	display: none;
	text-align: center;
}
div#join_tos div {
	text-align: left;
	overflow: hidden;
	width: 550px;
	height: 400px;
	overflow: auto;
	margin: 10px auto 20px auto;
}
div#join_tos h3 {
	margin: 0;
	padding: 0;
}
div#join_tos p {
	margin: 0;
	padding: 0;
}
div#join_tos ol {
	margin: 0;
	padding: 0;
}
div#join_tos ol li {
	margin: 0;
	padding: 0;
}