div.join div.bubble form.joinform div a.button {
	width: 130px;
	height: 20px;
}
div.join div.bubble i.bl, div.join dib.bubble i.br {
	background-repeat: no-repeat;
	background-position: 50% 6px;
}
