div#journallist {
	margin-bottom: 20px;
}
div#journallist ul {
	padding: 0;
	margin: 0 0 0 170px;
	list-style: none;
	width: 60%;
}
div#journallist ul li {
	padding: 10px 0 0 15px;
	margin: 0;
}
div#journallist ul li h3 {
	padding: 0;
	margin: 0;
}
div#journallist ul li p {
	padding: 7px 0 7px 0;
	margin: 0;
	border-bottom: 1px solid #cfcfcf;
}
div#journallist ul li ul {
	padding: 3px 0 0 0;
	margin: 0;
	list-style: none;
}
div#journallist ul li ul li {
	padding: 0;
	margin: 0;
	display: inline;
}
div#journallist ul li ul li dl {
	padding: 0;
	margin: 0;
	display: inline;
}
div#journallist ul li ul li dt {
	padding: 0;
	margin: 0;
	display: inline;
}
div#journallist ul li ul li dl dt.commentsnum {
	background-image: url('images/comment.png');
	background-repeat: no-repeat;
	padding-right: 5px;
}
div#journallist ul li ul li dl dt.commentsnum a {
	padding-left: 18px;
	font-size: 90%;
}
div#journallist ul li ul li dl dt.addfav {
	background-image: url('images/heart_add.png');
	background-repeat: no-repeat;
	padding-right: 5px;
}
div#journallist ul li ul li dl dt.addfav a {
	padding-left: 18px;
}
