div#photolist h2 {
	margin: 0;
	padding: 0;
}
div#photolist dl dd.photonum {
	background-image: url('images/photo.png');
	background-repeat: no-repeat;
	padding-left: 18px;
	display: inline;
}
div#photolist dl dd.commentsnum {
	background-image: url('images/comment.png');
	background-image: no-repeat;
	padding-left: 18px;
	display: inline;
}
div#photolist ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	clear: both;
	/*overflow: hidden;*/
}
div#photolist ul li {
	padding: 0;
	margin: 0;
	float: left;
	width: 200px;
	height: 200px;
	border: 1px solid red;
}