div#photoview h2 {
	margin: 0;
	padding: 0;
}
div#photoview dl {
	margin: 0;
	padding: 0;
}
div#photoview dl dd.commentsnum {
	margin: 0;
	padding: 0 0 0 18px;
	display: inline;
	background-image: url('images/comment.png');
	background-repeat: no-repeat;
	font-size: 90%;
}
div#photoview dl dd.addfav{
	margin: 0;
	padding: 0 0 0 2px;
	display: inline;
}
div#photoview dl dd.addfav a {
	background-image: url('images/heart_add.png');
	background-repeat: no-repeat;
	padding-left: 18px;
}
/* all this trouble to make it resizable :-) */
div#photoview div.photothumbs {
    height: 154px;
    overflow: hidden;
	margin-bottom: 20px;
    text-align: center;
    width: 96%;
}
div#photoview div.photothumbs div.arrow {
    height: 150px;
    line-height: 150px;
    width: 50px;
}
div#photoview div.photothumbs div.arrow a img {
	border: none;
	margin-bottom: 30px;
    vertical-align: middle;
}
div#photoview div.photothumbs div.arrow a {
    vertical-align: middle;
}
div#photoview div.photothumbs div.left {
    float: left;
}
div#photoview div.photothumbs div.right {
    float: right;
}
div#photoview div.photothumbs ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table-row;
}
div#photoview div.photothumbs ol li {
    padding: 0;
    margin: 0;
    display: table-cell;
}
div#photoview div.photothumbs ol li.selected {
    text-align: center;
    width: 150px;
}
div#photoview div.photothumbs ol li.selected img {
	border: 4px solid #82a4b6;
}
div#photoview div.photothumbs ol li.left {
    text-align: right;
}
div#photoview div.photothumbs ol li.right {
    text-align: left;
}
div#photoview div.photothumbs ol li bdo {
	padding: 0;
	margin: 20px auto;
    display: inline;
}
div#photoview div.photothumbs ol li span {
    padding: 0;
}
div#photoview div.photothumbs ol li span a{
	padding: 0 2px 0 2px;
	margin: 0;
	display: inline;
	vertical-align: middle;
}
div#photoview div.photothumbs ol li a img {
	border: 1px solid gray;
}
div#photoview div.thephoto {
	text-align:center;
	padding-top: 0;
}
img.hoverclass {
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
