/*
ZinoPlayer CSS
*/

#zinoPlayer {
	display:block;
	float:left;
	width:320px;
	height:115px;
	background:url('./playerArt/background.jpg') no-repeat;
	margin-bottom:5px;
	font-family:arial;
}

#zinoPlayer span.playing {
	display:block;
	float:left;
	width:4px;
	height:7px;
	background:url('./playerArt/playing.gif') no-repeat;
	margin: 3px 2px 0px 4px;
}

#zinoPlayer #playerControls {
	display:block;
	float:left;
	width:320px;
	height:32px;
}

#zinoPlayer ul#playList {
	display:block;
	float:left;
	width:310px;
	height:75px;
	list-style:none;
	margin:6px 0px 0px 4px;
}

#zinoPlayer ul#playList li {
	display:block;
	height:15px;
	width:310px;
	border-bottom:1px solid #cccccc;
}

#zinoPlayer ul#playList li a {
	display:block;
	height:13px;
	padding-top:2px;
	width:310px;
	overflow:hidden;
	font-size:10px;
	color:#4b6c7f;
	text-indent:4px;
}

#zinoPlayer ul#playList li a.selected {
	background:url('./playerArt/trackSelection.jpg') repeat-x;
	color:#ffffff;
	text-indent:8px;
	width:311px;
	font-weight:bold;
}

#zinoPlayer #playerControls #pauseButton {
	display:block;
	float:left;
	width:30px;
	height:31px;
	background:url('./playerArt/pauseButton.png') scroll 0px 0px no-repeat;
	border:1px solid red;
}