/*
ZinoPlayer CSS
*/

#zinoPlayer {
	display:block;
	float:left;
	width:320px;
	height:115px;
	background:url('./playerArt/background.jpg') no-repeat;
	margin-bottom:5px;
}

#zinoPlayer #playerControls {
	display:block;
	float:left;
	width:320px;
	height:32px;
	border:1px solid #00ff00;
}

#zinoPlayer ul#playList {
	display:block;
	float:left;
	width:310px;
	height:75px;
	border:1px solid red;
	list-style:none;
	margin-left:4px;
}

#zinoPlayer ul#playList li {
	display:block;
	height:15px;
	width:310px;
	border-bottom:1px solid #cccccc;
}

#zinoPlayer ul#playList li a {
	font-size:10px;
}