div#pollview h2 {
	margin: 0;
	padding: 0;
}
div#pollview div.results {
	margin-bottom: 20px;


}
div#pollview div.results ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div#pollview div.results ul li {
	height: 13px;
	margin: 0;
	padding: 0;
}
div#pollview ul li dl dd div.percentagebar {
	height: 13px;
}
div#pollview div.results ul li dl dd div.percentagebar div.leftrounded {
	float: left;
	background-image: url('images/left-roundedbar.jpg' );
	background-repeat: no-repeat;
	background-position: top;
	height: 13px;
	width: 5px;
}
div#pollview div.results ul li dl dd div.percentagebar div.rightrounded {
	float: right;
	background-image: url( 'images/right-roundedbar.jpg' );
	background-repeat: no-repeat;
	background-position: top;
	height: 13px;
	width: 5px;
}
div#pollview div.results ul li dl dd div.percentagebar div.middlerounded {
	background-image: url('images/roundedbar-repeat.jpg');
	background-repeat: repeat-x;
	background-position: top;
	height: 13px;
}