div#pollview h2 {
	margin: 0 0 0 170px;
	padding: 0;
}
div#pollview div.results {
	margin: 0 0 50px 170px;
	padding-top: 20px;
}
div#pollview div.results ul {
	margin: 0 0 0 170px;
	padding: 0;
	list-style: none;
}
div#pollview div.results ul li {
	height: 20px;
	margin: 0;
	padding: 3px 0;
	width: 400px;
}
div#pollview div.results ul li dl {
	padding: 0;
	margin: 0;
}
div#pollview div.results ul li dl dt {
	float: right;
	padding: 0;
	margin: 0;
}
div#pollview div.results ul li dl dd {
	padding: 0;
	margin: 0;
}
div#pollview div.results ul li dl dd span {
	padding-left: 7px;
}
div#pollview ul li dl dd div.percentagebar {
	height: 13px;
	float: left;
}
div#pollview div.results ul li dl dd div.percentagebar div.leftrounded {
	float: left;
	background-image: url('images/left-roundedbar.jpg' );
	background-repeat: no-repeat;
	background-position: top;
	height: 13px;
	width: 5px;
}
div#pollview div.results ul li dl dd div.percentagebar div.rightrounded {
	float: right;
	background-image: url( 'images/right-roundedbar.jpg' );
	background-repeat: no-repeat;
	background-position: top;
	height: 13px;
	width: 5px;
}
div#pollview div.results ul li dl dd div.percentagebar div.middlerounded {
	background-image: url('images/roundedbar-repeat.jpg');
	background-repeat: repeat-x;
	background-position: top;
	height: 13px;
}