div#polllist ul li.onepoll h3{
	font-size: 105%;
	margin: 0;
	padding: 0;
}
div#polllist ul {
	list-style: none;
	margin: 0 0 0 150px;
	padding: 0;
}
div#polllist ul li {
	padding: 0;
	margin: 0;
}
/*div.results ul {
	padding: 0;
	list-style: none;
}
div.results ul li {
	height: 20px;
	margin: 0;
	padding: 3px 0;
	width: 450px;
}
div.results ul li dl {
	padding: 0;
	margin: 0;
}
div.results ul li dl dt {
	float: right;
	padding: 0;
	margin: 0;
}
div.results ul li dl dd {
	padding: 0;
	margin: 0;
}
div.results ul li dl dd span {
	padding-left: 7px;
}
div.results ul li dl dd div.percentagebar {
	height: 13px;
	float: left;
}
div.results ul li dl dd div.percentagebar div.leftrounded {
	float: left;
	background-image: url('images/percentagebar-left.jpg' );
	background-repeat: no-repeat;
	background-position: top;
	height: 13px;
	width: 9px;
}
div.results ul li dl dd div.percentagebar div.rightrounded {
	float: right;
	background-image: url( 'images/percentagebar-right.jpg' );
	background-repeat: no-repeat;
	background-position: top;
	height: 13px;
	width: 9px;
}
div.results ul li dl dd div.percentagebar div.middlerounded {
	background-image: url('images/percentagebar-fade.jpg');
	background-repeat: repeat-x;
	background-position: top;
	height: 13px;
}
*/