div#search h2 {
	text-align: center;
}
div#search div.ybubble form input.submit {
	border: 0 none transparent;
    background-color: transparent;
    font-size: 110%;
	color: #105cb6;
    margin: 0 auto 0 auto;
    font-weight: bold;
    cursor: pointer;
    width: 110px;
    height: 32px;
    padding: 0;
    background-image: url('images/s_button.png');
    background-repeat: no-repeat;
    background-position: top;
}
div#search div.ybubble form input.submit:hover {
    color: #000033;
}