div#search div.ybubble {
	background-position: 50% -15%;
	margin-left: 15%;
}
div#search div.ybubble i.bl {
	position: absolute;
	bottom: 28.5%;
	right: 50%;
	background-repeat: no-repeat;
}
div#search div.ybubble i.br {
	position: absolute;
	bottom: 28.5%;
	right: 0%;
	background-repeat: no-repeat;
}
div#search div.ybubble i.tl, div#search div.ybubble i.tr {
	background-repeat: no-repeat;
}
div.gender input {
	border: transparent 0px;
}
div#search div.ybubble form input.submit {
	position: relative;
	top: -8px;
}
