div.settings {
    padding-top: 30px;
}
div.settings div.sidebar {
    float: right;
    width: 300px;
    height: 100%;
    background-color: white;
}
div.settings div.sidebar ol {
    list-style: none;
    padding: 10px;
    margin: 0;
}
div.settings div.sidebar span {
    background-image: url('images/button_ok_22.png');
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: left;
}
div.settings div.sidebar a.backtoprofile {
    background-image: url('images/forward22.png');
    background-repeat: no-repeat;
    padding-right: 30px;
    background-position: right;
}
div.settings div.sidebar ol li {
    background-repeat: no-repeat;
    background-position: left;
    height: 25px;
    padding-left: 25px;
}
div.settings div.sidebar ol li.personal {
    background-image: url('images/info.png');
}
div.settings div.sidebar ol li.characteristics {
    background-image: url('images/bookmark.png');
}
div.settings div.sidebar ol li.interests {
    background-image: url('images/idea.png');
}
div.settings div.sidebar ol li.contact {
    background-image: url('images/kontact_mail.png');
}
div.settings div.sidebar ol li.settings {
    background-image: url('images/gear.png');
}
div.settings div.tabs {
    margin-right: 300px;
}
div.settings div.tabs div div { /* denotes a specific setting */
    border-bottom: 1px solid #ccc;
    padding: 3px;
}
div.setting div.tabs div div label {
    float: left;
    width: 300px;
}
