ul.albums {
    margin: 0 20px 0 200px;
    position: relative;
}
ul.albums div.ads {
    position: absolute;
    right: 23px;
    top: 138px;
}
ul.albums li {
    float: left;
    width: 180px;
    padding: 10px;
    margin: 0 15px;
	height: 220px;
}
ul.albums li a {
    font-weight: bold;
}
/*ul.albums li a span {*/
span.desc {
    display: block;
    width: 176px;
    text-align: center;
    margin: 5px 0 0 5px;
}
/*
ul.albums li a div {*/
span.albummain {
    background: url( 'images/album.png' ) no-repeat top left;
    width: 185px;
    height: 185px;
    line-height: 175px;
    display: block;
    text-align: center;
    vertical-align: middle;
}
span.albummain a img {
    margin: 0 10px 4px 0;
    vertical-align: middle;
    border: 2px solid #7ea3c2;
}
ul.albums li.create {
	padding: 85px 0 0 0;
	text-align: center;
	height: 160px;
	margin-bottom: 0;
}
ul.albums li.create a {
	font-weight: bold;
}
ul.albums li.create a img {
	vertical-align: -10px;
	margin: 0 5px 0 0;
}
ul.albums li a:hover span img {
    border: 2px solid white;
    cursor: pointer;
}
ul.albums li dl {
    display: block;
    margin: auto;
    width: 100px;
    padding-top: 5px;
    white-space: nowrap;
    overflow: visible;
    text-align: center;
}
ul.albums li dl dt {
    display: inline;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
ul.albums li dl dd {
    display: inline;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    font-size: 80%;
}
div.creationmakeup , div.creating {
	display: none;
}
div.createalbum span.desc {
	display: block;
}
div.pagifyalbums {
	text-align: center;
	padding-bottom: 20px;
}
