RewriteEngine On
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^about$ /index.php?p=about [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^about/([a-z]*)$ /index.php?p=about&section=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^forgot$ /index.php?p=forgot [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^forgot/success$ /index.php?p=forgot/success [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^forgot/failure$ /index.php?p=forgot/failure [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^forgot/recover/([0-9]+) /index.php?p=forgot/recover&requestid=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^find$ /index.php?p=invite [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^messages$ /index.php?p=pms [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^settings$ /index.php?p=settings [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^register$ /index.php?p=register [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^do/([a-zA-Z0-9_/-]+)$ /action.php?p=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^join$ /index.php?p=join [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^joined$ /index.php?p=joined [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^comments$ /index.php?p=comments/recent [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^shouts$ /index.php?p=shoutbox [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^albums$ /index.php?p=albums [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^polls$ /index.php?p=allpolls [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^journals$ /index.php?p=alljournals [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^photos$ /index.php?p=allphotos [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^space$ /index.php?p=space [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^friends$ /index.php?p=friends [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^questions$ /index.php?p=answers [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^favourites$ /index.php?p=favourites [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^favourites/([a-z]*)?$ /index.php?p=favourites&type=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^css/([a-zA-Z][a-z0-9_\.\-]+\.css)$ /css/static.php?file=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^js/([a-zA-Z][a-z0-9_\-]+[a-zA-Z]\.js)$ /js/static.php?file=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^tos$ /index.php?p=tos [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^contact$ /index.php?p=contact [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^advertise$ /index.php?p=advertise [L,QSA]
RewriteCond %{SERVER_NAME} ^beta\.zino\.gr
RewriteRule ^live$ /index.php?p=recent [L,QSA]

# # #
# api.zino.gr
# # #
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^user/([a-zA-Z0-9/_-]+) /api.php?p=api/user&user=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^status/([a-zA-Z0-9/_-]+) /api.php?p=api/status&user=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^avatar/([a-zA-Z0-9/_-]+) /api.php?p=api/avatar&user=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^friends/([a-zA-Z0-9/_-]+) /api.php?p=api/friends&user=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^journal/([a-zA-Z0-9/_-]+)/([a-zA-Z0-9.,:()_-]+) /api.php?p=api/friends&user=$1&j=$2 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^poll/([a-zA-Z0-9/_-]+)/([a-zA-Z0-9.,:()_-]+) /api.php?p=api/poll&user=$1&j=$2 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^image/([a-zA-Z0-9/_-]+)/([a-zA-Z0-9/_-]+) /api.php?p=api/image&user=$1&imageid=$2 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^album/([a-zA-Z0-9/_-]+)/([a-zA-Z0-9/_-]+) /api.php?p=api/album&user=$1&albumid=$2 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^albums/([a-zA-Z0-9/_-]+) /api.php?p=api/albums&user=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^health /api.php?p=api/health [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^poll/([a-zA-Z0-9/_-]+)/([a-zA-Z0-9.,:()_-]+) /api.php?p=api/poll&user=$1&poll=$2 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^status/([a-zA-Z0-9/_-]+) /api.php?p=api/status&user=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^auth/([a-zA-Z0-9/_-]+) /api.php?p=api/auth&username=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^api\.beta\.zino\.gr
RewriteRule ^notifications /api.php?p=api/notifications [L,QSA]

RewriteCond %{SERVER_NAME} ^store\.beta\.zino\.gr
RewriteRule ^product/([a-z]+) /store.php?p=product&name=$1 [L,QSA]
RewriteCond %{SERVER_NAME} ^store\.beta\.zino\.gr
RewriteRule ^ /store.php?p=home [L,QSA]

# # #
#
# nick.zino.gr rewrites
#
# # #
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^(www)?([^.]+)\.beta\.zino\.gr
RewriteRule ^$ /index.php?p=user&subdomain=%2 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^albums$ /index.php?p=albums&subdomain=%1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^polls$ /index.php?p=polls&subdomain=%1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^journals$ /index.php?p=journals&subdomain=%1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^favourites$ /index.php?p=favourites&subdomain=%1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^favourites/([a-z]*)$ /index.php?p=favourites&subdomain=%1&type=$1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^space$ /index.php?p=space&subdomain=%1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^friends$ /index.php?p=friends&subdomain=%1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^questions$ /index.php?p=answers&subdomain=%1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^journals/([a-zA-Z0-9.,:()_-]+)$ /index.php?p=journal&subdomain=%1&url=$1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^polls/([a-zA-Z0-9.,:()_-]+)$ /index.php?p=poll&subdomain=%1&url=$1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^albums/([a-zA-Z0-9.,:()_-]+)$ /index.php?p=album&subdomain=%1&url=$1 [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^photos$ /index.php?p=album&subdomain=%1&url=egw [L,QSA]
RewriteCond %{SERVER_NAME} !^beta\.zino\.gr
RewriteCond %{SERVER_NAME} ^([^.]+)\.beta\.zino\.gr
RewriteRule ^do/image/upload2 /action.php?p=image/upload2 [L,QSA]
