[class^="sx_"] {
	background-image: url( 'http://static.zino.gr/phoenix/spriting/spritex/spritex_1.png' );
	background-repeat: repeat-x;
}
.sx_0001 { 
	background-position: 0 0; 
} 
.sx_0002 { 
	background-position: 0 -49px; 
} 
.sx_0003 { 
	background-position: 0 -166px; 
} 
.sx_0004 { 
	background-position: 0 -213px; 
} 
.sx_0005 { 
	background-position: 0 -254px; 
} 
.sx_0006 { 
	background-position: 0 -337px; 
} 
.sx_0007 { 
	background-position: 0 -432px; 
} 
.sx_0008 { 
	background-position: 0 -486px; 
} 
.sx_0009 { 
	background-position: 0 -760px; 
} 
.sx_0010 { 
	background-position: 0 -833px; 
} 
