[class^="s2_"] {
	background-image: url( 'http://static.zino.gr/phoenix/spriting/sprite2/sprite2_1.png' );
	background-repeat: no-repeat;
}
.s2_0001 { 
	background-position: 0 0; 
} 
.s2_0002 { 
	background-position: 0 -40px; 
} 
.s2_0003 { 
	background-position: 0 -80px; 
} 
.s2_0004 { 
	background-position: 0 -120px; 
} 
.s2_0005 { 
	background-position: 0 -160px; 
} 
.s2_0006 { 
	background-position: 0 -211px; 
} 
.s2_0007 { 
	background-position: 0 -480px; 
} 
.s2_0008 { 
	background-position: 0 -533px; 
} 
.s2_0009 { 
	background-position: 0 -584px; 
} 
.s2_0010 { 
	background-position: 0 -638px; 
} 
.s2_0011 { 
	background-position: 0 -678px; 
} 
.s2_0012 { 
	background-position: 0 -718px; 
} 
.s2_0013 { 
	background-position: 0 -758px; 
}
