div.eof{
	clear: both;
}

.fade{
	opacity: 0.7 !important;
}


body.standalone #Layout > .x-panel-body > div{
	margin-top: 66px;
}
body.standalone #NavigationBar{
	margin-top: 20px;
}
#Layout > .x-panel-body > div{
	margin-top: 44px;
}
#Layout > .x-panel-body > div#PhotoView{
	margin-top: 0;
}
#Layout > .x-panel-body > div#LoginForm{
	margin-top: 0;
}

.portrait #LoginForm .h2{
	margin: 20px 0;
}
.portrait #LoginForm .field{
	margin: 20px auto 0 auto;
	width: 188px;
}
.portrait #LoginForm .login{
	float: right;
	margin: 15px 20px 0 0;
}
.landscape #LoginForm .h2{
	margin: 20px 0;
}
.landscape #LoginForm .field{
	margin: 10px auto 0 auto;
	width: 188px;
}
.landscape #LoginForm .login{
	float: right;
	margin: 5px 80px 0 0;
}

#LoginForm{
	background: url("http://static.zino.gr/touch/login-bg.png") no-repeat;
	background-size: 100% 120%;
	color: white;
	text-align: center;
}
#LoginForm > .x-panel-body{
	max-width: 320px;
	margin: auto;
}
#LoginForm .x-panel-body{
	background: transparent;
}
#LoginForm h2{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
#LoginForm label{
	display: block;
}
#LoginForm .x-input-text, #LoginForm .x-input-password{
	background: url("http://static.zino.gr/revolution/loggedout/textbox.png");
	border: 0;
	padding: 3px;
	width: 188px;
	height: 30px;
	text-align: center;
}
#LoginForm #LoginUserdetails img{
	width: 50px;
	float: left;
	margin-right: 20px;
}
#LoginForm #LoginUserdetails .x-panel-body{
	padding: 0;
}
#LoginForm #LoginUserdetails .x-panel-body div{
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 5px;
}
#LoginForm .error{
	padding: 0;
	color: #f33;
	font-size: 13px;
	margin-top: 5px;
}
#LoginForm .signup{
	color: white;
	text-align: right;
}
#LoginForm .signup a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#PhotoList li{
	float: left;
	width: 76px;
	height: 76px;
	margin: 2px;
	position: relative;
}
#PhotoList img{
    border: 1px solid #333;
    width: 75px;
    height: 75px;
}
#PhotoList .commentnum{
	position: absolute;
	display: inline;
	top: 2px;
	left: 2px;
	border-radius: 20px;
	border: 2px solid white;
	font-size: 10px;
	padding: 2px 2px 2px 3px;
	min-width: 20px;
	text-align: center;
	background: orange;
	font-weight: bold;
}

#NewList li{
	border-bottom: 1px dotted black;
	padding: 5px;
	font-size: 12px;
}
#NewList li img{
	height: 50px;
	float: left;
	margin-right: 10px;
}
#NewList li .username{
	color: #1B49C1;
	font-weight: bold;
}
#NewList li .time{
	color: #555;
	margin-left: 6px;
}

#PhotoView{
	background: black;
}
#PhotoView .card{
	background: black;
}
#PhotoView .photo_loading{
	position: fixed;
	width: 2em;
	height: 2em;
	top: 50%;
	left: 50%;
	margin-left: -1em;
	margin-top: -1em;
	background: black;
}
#PhotoView .image_content{
	display: block;
	margin: auto;
}


div.ph{
	background: #5A5A5A url(http://static.zino.gr/touch/loading.gif) no-repeat 50% 50%;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	height: 10em;
	width: 10em;
	left: 50%;
	top: 50%;
	margin-left: -5em;
	margin-top: -5em;
	padding-top: 8em;
	text-align: center;
	text-shadow: black 0 1px 1px;
	position: fixed;
}

.x-button img{
	width: 1.4em;
	height: 1.4em;
}