.posmall {
	padding: 10px 0;
}
.posmall h4 {
	padding: 0;
	margin: 0;
}
.posmall .results ul {
	margin: 10px 0;
	width: 100%;
}
.posmall .results ul li {
	margin: 0 0 10px 0;
	padding: 3px 0;
    clear: both;
}
.posmall .results ul li dl {
    float: left;
}
.posmall .results ul li dl span {
	margin-left: 20px;
}
.posmall .results ul li dl dt.voteterm {
	margin: 0 3px 0 0;
    width: 20px;
    float: left;
    display: block;
}
.posmall .results ul li dl dd.votedefinition {
	display: block;
	vertical-align: 3px;
    margin-left: 23px;
}
.posmall .results ul li dl dd {
    width: 270px;
}
.posmall .results ul li dl dd span {
	padding: 0 0 0 7px;
}
.posmall .results ul li dl dd div.option {
	height: 15px;
	float: left;
}
.posmall .results ul li dl dd .option .percentagebar {
    float: left;
    height: 13px;
    margin: 0 10px 0 0;
}
.posmall .results ul li dl dd .option .percentagebar .s1_0063 {
	float: left;
	height: 13px;
	width: 9px;
}
.posmall .results ul li dl dd .option .percentagebar .s1_0064 {
	float: right;
	height: 13px;
	width: 9px;
}
.posmall .results ul li dl dd .option .percentagebar .middlerounded {
    /* percantagebar-fade */
    background: transparent url( 'http://static.zino.gr/phoenix/sprite_x.png' ) 0 -1028px;
	height: 13px;
}
.posmall .results dl.pollinfo {
	text-align: right;
}
.posmall .results dl.pollinfo2 {
	text-align: left;
	margin: 5px 0 0 0;
}
.posmall .results dl.pollinfo dd, .pollsmall .results dl.pollinfo2 dd {
	display: inline;
	font-size: 80%;
}
.posmall .voting {
	display: none;
}
