div#journallist {
	margin-bottom: 20px;
}
div#journallist ul {
	padding: 0;
	margin: 0 0 0 0;
	margin-left: 170px;
	list-style: none;
	width: 60%;
}
div#journallist ul li {
	padding: 5px 0 2px 0;
	margin: 0;
}
div#journallist ul li div.pollsmall div.results ul {
	margin-left: 0;
}
div#journallist ul li div.pollsmall h4 {
	margin-bottom: 10px;
}
div#journallist ul li div.pollsmall {
	width: 450px;
}
