div#polist ul li h3 {
	margin: 0;
	padding: 0;
}
div#polist > ul {
	margin: 0 0 0 170px;
}
div#polist ul li {
	padding: 10px 0;
}
div#polist ul li div.results {
	width: 100%;
	padding-top: 10px;
}
div#polist ul li div.results dl.pollinfo {
	text-align: left;
}
div#polist ul li div.results dl.pollinfo dd {
	display: inline;
	font-size: 80%;
}
div#polist ul li div.results ul li {
	padding: 5px 0 1px 0;
    clear: both;
}
div.creationmockup {
	border: 1px solid #ccc;
	border-style: dotted;
	padding: 15px;
	width: 450px;
	display: none;
}
div.creationmockup div input {
	width: 300px;
	padding: 2px;
}
div.creationmockup div a.createpoll {
	margin-left: 3px;
	background: url( 'http://static.zino.gr/phoenix/icons.png' ) no-repeat -203px -1504px;
	padding-left: 12px;
}
div.creationmockup div.tip , div#polllist div.tip2 {
	font-size: 90%;
	margin-top: 5px;
}
div.creationmockup div.tip span , div#polllist div.tip2 span {
	background: url( 'http://static.zino.gr/phoenix/icons.png' ) no-repeat -739px -710px;
	padding: 0 5px 0 12px;
}
div#polist div.tip2 {
	display: none;
	margin-bottom: 25px;
}
div.creationmockup div.newoption {
	background: url( 'http://static.zino.gr/phoenix/icons.png' ) no-repeat -203px -386px; 	padding-left: 10px;
	margin: 2px 0;
	overflow: hidden;
}
div#polist div.creatingpoll {
	display: none;
}
/*
div#polist ul li.create a.new span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -132px;
	vertical-align: -5px;
	padding: 12px 0 0 30px;
}
*/
div#polist ul li.create a {
	font-weight: bold;
}
div#polist ul li.create a img {
	vertical-align: -10px;
	margin-right: 5px;
}
div#polist div.pagifypolls {
	text-align: center;
	margin-top: 20px;
}
