div.pollsmall {
	padding: 10px 0;
}
div.pollsmall h4 {
	padding: 0;
	margin: 0;
}
div.pollsmall div.results {
	width: 750px;
}
div.pollsmall div.results ul {
	padding: 0;
	margin: 10px 0 0 0;
	list-style: none;
	/*width: 450px;*/
}
div.pollsmall div.results ul li {
	height: 20px;
	margin: 0;
	padding: 3px 0;
	/*width: 450px;*/
}
div.pollsmall div.results ul li dl {
	padding: 0;
	margin: 0;
}
div.pollsmall div.results ul li dl dt {
	float: right;
	padding: 0;
	margin: 0;
}
div.pollsmall div.results ul li dl dd {
	padding: 0;
	margin: 0;
}
div.pollsmall div.results ul li dl dd span {
	padding-left: 7px;
}
div.pollsmall div.results ul li dl dd div.percentagebar {
	height: 13px;
	float: left;
}
div.pollsmall div.results ul li dl dd div.percentagebar div.leftrounded {
	float: left;
	background-image: url('http://static.zino.gr/phoenix/percentagebar-left.jpg' );
	background-repeat: no-repeat;
	background-position: top;
	height: 13px;
	width: 9px;
}
div.pollsmall div.results ul li dl dd div.percentagebar div.rightrounded {
	float: right;
	background-image: url( 'http://static.zino.gr/phoenix/percentagebar-right.jpg' );
	background-repeat: no-repeat;
	background-position: top;
	height: 13px;
	width: 9px;
}
div.pollsmall div.results ul li dl dd div.percentagebar div.middlerounded {
	background-image: url('http://static.zino.gr/phoenix/percentagebar-fade.jpg');
	background-repeat: repeat-x;
	background-position: top;
	height: 13px;
}
div.pollsmall div.results dl.pollinfo {
	text-align: right;
	margin: 0;
	padding: 0;
}
div.pollsmall div.results dl.pollinfo dd {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 80%;
}
div.pollsmall div.results dl.pollinfo dd a {
	background-image: url('http://static.zino.gr/phoenix/comment.png');
	background-repeat: no-repeat;
	padding-left: 18px;
}