div.posmall {
	padding: 10px 0;
}
div.posmall h4 {
	padding: 0;
	margin: 0;
}
div.posmall div.results ul {
	margin: 10px 0;
	width: 100%;
}
div.posmall div.results ul li {
	margin-bottom: 10px;
	padding: 3px 0;
    clear: both;
}
div.posmall div.results ul li dl {
	padding: 0;
	margin: 0;
}
div.posmall div.results ul li dl span {
	margin-left: 20px;
}
div.posmall div.results ul li dl dt.voteterm {
	margin-right: 3px;
    width: 20px;
    float: left;
    display: block;
}
div.posmall div.results ul li dl dd.votedefinition {
	display: block;
	vertical-align: 3px;
    margin-left: 23px;
}
div.posmall div.results ul li dl dd {
    float: left;
    width: 270px;
    margin: 0;
}
div.posmall div.results ul li dl dd span {
	padding-left: 7px;
}
div.posmall div.results ul li dl dd div.option {
	height: 15px;
	float: left;
}
div.posmall div.results ul li dl dd div.option div.percentagebar {
    float: left;
    height: 13px;
    margin-right: 10px;
}
div.posmall div.results ul li dl dd div.option div.percentagebar div.leftrounded {
	float: left;
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -234px -952px;
	height: 13px;
	width: 9px;
}
div.posmall div.results ul li dl dd div.option div.percentagebar div.rightrounded {
	float: right;
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -236px -1015px;
	height: 13px;
	width: 9px;
}
div.posmall div.results ul li dl dd div.option div.percentagebar div.middlerounded {
	background: url( 'http://static.zino.gr/phoenix/percentagebar-fade.jpg' ) repeat-x top;
	height: 13px;
}
div.posmall div.results dl.pollinfo {
	text-align: right;
	margin: 0;
	padding: 0;
}
div.posmall div.results dl.pollinfo2 {
	text-align: left;
	margin: 5px 0 0 0;
	padding: 0;
}
div.posmall div.results dl.pollinfo dd, div.pollsmall div.results dl.pollinfo2 dd {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 80%;
}
div.posmall div.results a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1215px;
	padding-left: 16px;
}
div.posmall div.voting {
	display: none;
}
