div.pollsmall {
	padding: 10px 0;
}
div.pollsmall h4 {
	padding: 0;
	margin: 0;
}
div.pollsmall div.results ul {
	padding: 0;
	margin: 10px 0 0 0;
	list-style: none;
	width: 550px;
}
div.pollsmall div.results ul li {
	height: 20px;
	margin-bottom: 10px;
	padding: 3px 0;
	width: 550px;
}
div.pollsmall div.results ul li dl {
	padding: 0;
	margin: 0;
}
div.pollsmall div.results ul li dl dt.resultterm {
	width: 275px;
	clear: both;
	float: right;
	padding: 0;
	margin: 0;
}
div.pollsmall div.results ul li dl dt.voteterm {
	display: inline;
	margin-right: 3px;
}
div.pollsmall div.results ul li dl dd.votedefinition {
	display: inline;
	vertical-align: 3px;
}
div.pollsmall div.results ul li dl dd {
	width: 300px;
	padding: 0;
	margin: 0;
}
div.pollsmall div.results ul li dl dd span {
	float: left;
	padding-left: 7px;
}
div.pollsmall div.results ul li dl dd div.percentagebar {
	height: 13px;
	float: left;
}
div.pollsmall div.results ul li dl dd div.percentagebar div.leftrounded {
	float: left;
	background-image: url( 'http://static.zino.gr/phoenix/iconlist.png' );
	background-position: -80px -50px;
	background-repeat: no-repeat;
	height: 13px;
	width: 9px;
}
div.pollsmall div.results ul li dl dd div.percentagebar div.rightrounded {
	float: right;
	background-image: url( 'http://static.zino.gr/phoenix/iconlist.png' );
	background-position: -80px -113px;
	background-repeat: no-repeat;
	height: 13px;
	width: 9px;
}
div.pollsmall div.results ul li dl dd div.percentagebar div.middlerounded {
	background-image: url( 'http://static.zino.gr/phoenix/percentagebar-fade.jpg' );
	background-repeat: repeat-x;
	background-position: top;
	height: 13px;
}
div.pollsmall div.results dl.pollinfo {
	text-align: right;
	margin: 0;
	padding: 0;
}
div.pollsmall div.results dl.pollinfo2 {
	text-align: left;
	margin: 5px 0 0 0;
	padding: 0;
}
div.pollsmall div.results dl.pollinfo dd, div.pollsmall div.results dl.pollinfo2 dd {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 80%;
}
div.pollsmall div.results dl.pollinfo dd a, div.pollsmall div.results dl.pollinfo2 dd a {
	background-image: url( 'http://static.zino.gr/phoenix/iconlist.png' );
	background-position: 0 -670px;
	background-repeat: no-repeat;
	padding-left: 18px;
}
div.pollsmall div.voting {
	display: none;
}