div#pollview div.comments {
	float: left;
	width: 90%;
	overflow: hidden;
}
div#pollview div.pollsmall h4 {
	margin: 0;
	padding: 0;
}
div#pollview div.pollsmall {
	margin-left: 170px;
}
div#pollview div.pollsmall div.results {
	margin-bottom: 30px;
}
div#pollview div.delete {
	margin-bottom: 10px;
}
div#pollview div.delete a {
	background-image: url( 'http://static.zino.gr/phoenix/delete.png' );
	background-repeat: no-repeat;
	padding: 0 0 0 16px;
	vertical-align: -1px;
}
div#pollview div.comments {
	margin-top: 50px;
}	
div#pollview div.comments div.pagifycomments {
	text-align: center;
}
