div#poview {
    margin-bottom: 20px;
}
div#poview div.comments {
	float: left;
	width: 90%;
	overflow: hidden;
}
div#poview h2 {
	margin: 0 0 0 165px;
	padding: 0 0 3px 0;
}
div#poview div.posmall {
	margin-left: 165px;
}
div#poview div.posmall div.results {
	margin-bottom: 30px;
}
div#poview div.comments {
	margin-top: 50px;
}	
div#poview div.comments div.pagifycomments {
	text-align: center;
}
div#poview dl {
	text-align: left;
}
div#poview dl.toolbar {
    margin: 0 0 0 167px;
}
div#poview dd.delete {
    display: inline;
    padding: 0 0 0 2px;
}
div#poview dd.delete a span {
	margin: 0 2px 0 0;
}
div#poview dl dd.createdate {
    margin: 0 0 10px 0;
}
div#poview dl dd.commentsnum {
	margin: 0 5px 0 0;
	display: inline;
	font-size: 90%;
}
div#poview dl dd.commentsnum span {
	padding: 0 0 0 15px;
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1215px;
}