div#pollview div.comments {
	float: left;
	width: 90%;
	overflow: hidden;
}
div#pollview div.pollsmall h4 {
	margin: 0;
	padding: 0;
}
div#pollview div.pollsmall {
	margin-left: 170px;
}
div#pollview div.pollsmall div.results {
	margin-bottom: 30px;
}