div#pollview {
    margin-bottom: 20px;
}
div#pollview div.comments {
	float: left;
	width: 90%;
	overflow: hidden;
}
div#pollview h2 {
	margin: 0 0 0 165px;
	padding: 0 0 3px 0;
}
div#pollview div.pollsmall {
	margin-left: 165px;
}
div#pollview div.pollsmall div.results {
	margin-bottom: 30px;
}
div#pollview div.comments {
	margin-top: 50px;
}	
div#pollview div.comments div.pagifycomments {
	text-align: center;
}
div#pollview dl {
	text-align: left;
	padding: 0;
	margin: 0;
}
div#pollview dl.toolbar {
    margin-left: 170px;
}
div#pollview dd.delete {
    display: inline;
    margin: 0;
    padding: 0 0 0 2px;
}
div#pollview dd.delete a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1414px;
	padding-left: 12px;
	vertical-align: -1px;
	margin-right: 2px;
}
div#pollview dl dd.createdate {
    margin: 0 0 10px 0;
    padding: 0;
}
div#pollview dl dd.commentsnum {
	margin: 0 5px 0 0;
	display: inline;
	font-size: 90%;
}
div#pollview dl dd.commentsnum span {
	padding: 0 0 0 15px;
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1215px;
}