div.panoudaki {
	background-image: url('part1.png');
	background-position: top left;
	z-index:1;
}

div.kato{
	background-image: url('part 3.png');
	z-index:1;
}

div.frelations {
	background-image: url('part 2.png');
	background-repeat: repeat-y;
	z-index:1;
}
