div#reportabusemodal {
    height: 400px;
    width: 600px;
}
div#reportabusemodal form {
	padding: 15px;
}
div#reportabusemodal div {
	padding-bottom: 30px;
}
div#reportabusemodal div.buttons a {
	margin-right: 10px;
}
div#reportabusemodal textarea {
	width: 100%;
}
.report {
	display: block;
	text-align: center;
	padding: 5px;
	font-weight: bold;
	font-size: 80%;
}
