.sidebar .mplayer .player{
	height: 40px;
}
.sidebar .mplayer .player object, .sidebar .mplayer .player embed{
	width: 280px;
	height: 40px;
	margin-left: 2px;
	float: left;
}
.sidebar .mplayer .toolbox{
	display: none;
	float: left;
	margin: 4px 4px 0 20px;
}
.sidebar .mplayer .toolbox span{
	cursor: pointer;
	display: block;
}
.sidebar .mplayer .addsong{
	display: none;
}
#mplayersearchmodal{
	display: none;
	top: 35%;
	left: 30%;
	position: fixed;
	background: transparent;
	width: 466px;
}
#mplayersearchmodal .input{
	-moz-border-radius: 10px;
	background: purple;
}
#mplayersearchmodal .input input{
	width: 410px;
	height: 30px;
	margin: 5px;
	font-size: 23px;
}
#mplayersearchmodal .input.loading{
	background: url(http://static.zino.gr/phoenix/ajax-loader.gif) no-repeat scroll 330px 15px;
}
#mplayersearchmodal .list{
	display: none;
	margin-top: 20px;
	-moz-border-radius: 10px;
	background: purple;
	padding: 4px;
}
#mplayersearchmodal table{
	overflow: auto;
	height: 339px;
	padding: 0 5px;
	display: block;
	background: white;
}
#mplayersearchmodal table tr{
	padding: 3px;
	cursor: pointer;
}
#mplayersearchmodal table tr.head{
	display: none;
	font-weight: bold;
	text-align: left;
}
#mplayersearchmodal table tr:hover{
	background: #ddeeff;
	font-weight: 3px;
}
#mplayersearchmodal table tr td{
	border-bottom: 1px dashed #ccc;
}
#mplayersearchmodal table tr.head td{
	border-bottom: 2px solid #ccc;
}
