.sidebar .mplayer .toolbox{
	display: none;
	float: right;
	margin: 4px 8px 0 0;
}
.sidebar .mplayer .toolbox span{
	cursor: pointer;
	display: block;
}
#mplayersearchmodal{
	display: none;
	top: 25%;
	left: 40%;
	position: fixed;
	background: #eef5f9;
	border: 1px solid #284659;
    height: 400px;
	z-index: 500;
}
