div.tweetbox {
    position: absolute;
    top: 25px;
    left: 150px;
}
div.tweet {
    background: url( 'http://static.zino.gr/phoenix/tweet-mid.png' ) repeat-x top;
    height: 55px;
    float: left;
    padding: 0;
}
div.tweetbox i.corner {
    display: block;
    width: 40px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: top;
}
div.tweetbox i.left {
    float: left;
    background: url( 'http://static.zino.gr/phoenix/icons.png' ) 0 -812px;
}
div.tweetbox i.right {
    float: right;
    width: 27px;
    background: url( 'http://static.zino.gr/phoenix/icons.png' ) 0 -642px;
}
div.tweet div {
    padding-top: 19px;
    display: block;
    float: left;
    position: relative;
    left: -18px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 1000px;
}
div.tweetbox {
    float: left;
    padding-right: 25px;
    z-index: 2;
}
div.tweetactive div.tweet a:hover {
    text-decoration: underline;
    color: #149;
}
div#tweetedit {
	display: none;
	top: 25%;
	left: 40%;
	position: fixed;
	background: #eef5f9;
	border: 1px solid #284659;
    height: 120px;
}
div#tweetedit form {
    margin: 20px 15px 0 15px;
    text-align: center;
}
div#tweetedit ul li {
    display: inline;
    margin: 10px;
}
div#tweetedit h5 {
    margin: 0 0 30px 0;
}
div#tweetedit div.input {
    padding: 0 0 30px 0;
}
div#tweetedit input {
    width: 200px;
}