.tweetbox {
    position: absolute;
    top: -25px;
    left: 120px;
}
.tweet {
    height: 55px;
    float: left;
    padding: 0;
}
.tweetbox i.corner {
    float: left;
    height: 55px;
}
.tweetbox .s1_0042 {
    width: 40px;
}
.tweetbox .s1_0041 {
    width: 27px;
}
.tweet div {
    padding-top: 19px;
    display: block;
    float: left;
    position: relative;
    left: -18px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 1000px;
}
.tweetbox {
    float: left;
    padding-right: 25px;
    z-index: 2;
}
.tweetactive div.tweet a:hover {
    text-decoration: underline;
    color: #149;
}
#tweetedit {
	display: none;
	top: 25%;
	left: 40%;
	position: fixed;
	background: #eef5f9;
	border: 1px solid #284659;
    height: 120px;
}
#tweetedit form {
    margin: 20px 15px 0 15px;
    text-align: center;
}
#tweetedit ul li {
    display: inline;
    margin: 10px;
}
#tweetedit h5 {
    margin: 0 0 30px 0;
}
#tweetedit div.input {
    padding: 0 0 30px 0;
}
#tweetedit input {
    width: 200px;
}
