div#profile {
	margin: 0;
}
div#profile div.sidebar {
	background-color: white;
	background-image: url('http://static.zino.gr/phoenix/sidebarbg.jpg');
	background-repeat: repeat-y;
	background-position: right;
	float: left;
	position: relative;
	width: 330px;
	padding: 14px 0 4px 0;
	overflow: hidden;
}
div#profile div.sidebar div.basicinfo {
	padding: 4px;
	margin-bottom: 20px;
}
div#profile div.sidebar div.basicinfo h2 img {
	margin-bottom: 5px;
}
div#profile div.sidebar div.basicinfo div.mood {
	padding-top: 5px;
	margin-top: 5px;
}
div#profile div.sidebar div.basicinfo div.mood img {
	display: block; 
	margin-top: 3px;
}
div#profile div.sidebar div.basicinfo div.addfriend {
	clear: left;
	margin-bottom: 15px;
	height: 20px;
}
div#profile div.sidebar div.basicinfo div.addfriend a {
	background-image: url( 'http://static.zino.gr/phoenix/user_add.png' );
	background-repeat: no-repeat;
	padding-left: 18px;
}
div#profile div.sidebar div.basicinfo div.deletefriend {
	clear: left;
	margin-bottom: 15px;
	height: 20px;
}
div#profile div.sidebar div.basicinfo div.deletefriend a {
	background-image: url( 'http://static.zino.gr/phoenix/user_delete.png' );
	background-repeat: no-repeat;
	padding-left: 18px;
}
div#profile div.sidebar div.basicinfo div.info {
	clear: left;
}
div#profile div.sidebar div.basicinfo div dl {
	padding: 0;
	margin: 0;
}
div#profile div.sidebar div.basicinfo dl dt {
	display: block;
	float: left;
	width: 12em;
	padding: 3px 0;
}
div#profile div.sidebar div.basicinfo dl dd {
	display: block;
	text-align: left;
	margin-left: 12em;
	padding: 3px 0;
	width: 160px;
}
div#profile div.sidebar div.basicinfo h2 {
	padding: 0;
	margin: 0;
	font-size: 120%;
	color: #105cb6;
}
div#profile div.sidebar div.basicinfo h2  img {
	float: left;
	margin: 3px 6px 20px 3px;
	border: 1px solid #666;
	width: 150px;
	height: 150px;
}
div#profile div.sidebar div.basicinfo h2 span.name {
	font-size: 120%;
	display: block;
	font-weight: bold;
}
div#profile div.sidebar div.look {
	clear: both;
	padding: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: white;
}
div#profile div.sidebar div.look ul li.dot {
	color: #999;
	font-size: 100%;
}
div#profile div.sidebar div.look img {
	float: left;
}
div#profile div.sidebar div.look ul {
	margin: 0 0 0 30px;
	padding: 0;
	list-style: none;
}
div#profile div.sidebar div.look ul li {
	font-weight: bold;
	padding: 1px;
	display: inline;
}
div#profile div.sidebar div.social {
	padding: 4px;
	clear: both;
}
div#profile div.sidebar div.social dl {
	padding: 0;
	margin: 0;
}
div#profile div.sidebar div.social dl dt {
	display: block;
	float: left;
	width: 170px;
	padding: 3px 0;
}
div#profile div.sidebar div.social dl dd {
	display: block;
	text-align: left;
	margin-left: 170px;
	padding: 3px 0;
	width: 100px;
}
div#profile div.sidebar div.aboutme {
	padding: 4px;
	clear: both;
}
div#profile div.sidebar div.aboutme dl {
	padding: 7px 0 0 0;
	margin: 0;
}
div#profile div.sidebar div.aboutme dl dt {
	display: block;
	padding: 3px 0 1px 0;
	margin: 0;
}
div#profile div.sidebar div.aboutme dl dd {
	display: block;
	margin: 0;
	padding: 1px 0 0 0;
}
div#profile div.sidebar div.interests {
	padding: 4px;
	clear: both;
}
div#profile div.sidebar div.interests dl {
	padding: 0;
	margin: 0;
}
div#profile div.sidebar div.interests dl dt {
	display: block;
	padding: 3px 0 1px 0;
}
div#profile div.sidebar div.interests dl dd {
	display: block;
	padding: 1px 0 5px 0;
	margin: 0;
}
div#profile div.sidebar div.contacts {
	padding: 4px;
}
div#profile div.sidebar div.contacts dt {
	float: left;
	height: 18px;
}
div#profile div.sidebar div.contacts dd {
	height: 18px;
	margin: 4px 4px 4px 20px;
}
div#profile div.sidebar div.notice {
	margin: 10px 0 20px 0;
	text-align: left;
}
div#profile div.sidebar div.notice span.online {
	background-image: url('http://static.zino.gr/phoenix/bullet_green.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
}
div#profile div.sidebar div.notice span.online a {
	background-image: url('http://static.zino.gr/phoenix/comment.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
}
div#profile div.sidebar div.eof {
    float: right;
	position: relative;
	top: 14px;
	background-image: url('http://static.zino.gr/phoenix/sidebarend.jpg');
	width: 41px;
	height: 51px;
}
div#profile div.main {
	padding: 14px 0 0 25px;
	margin-left: 330px;
	position: relative;
}
div#profile div.main div.notifications {
	padding: 5px 0 0 0;
	top: 0;
	margin: 0 0 20px 50px;
	width: 70%;
	border: 1px solid #ccc;
	border-top: 0;
	position: absolute;
	background-color: #fdfdfd;
}
div#profile div.notifications div.expand a {
	background-image: url( 'http://static.zino.gr/phoenix/arrow_up.png' );
	background-repeat: no-repeat;
	background-color: #cfc9fd;
	background-position: 4px 5px;
	padding-left: 18px;
}
div#profile div.main div.notifications h3 {
	margin: 0 0 10px 0;
	padding: 5px 0 0 20px;
}
div#profile div.main div.notifications  div.list div.event {
	float: none;
	width: 95%;
	margin: 2px auto;
	padding: 5px;
	cursor: pointer;
}
div#profile div.main div.notifications div.list div.event div.toolbox a {
	z-index: 100;
}
div#profile div.main div.notifications div.list div.event div.who img.avatar {
	width: 50px;
	height: 50px;
	border: 1px solid #666;
	float: left;
	margin: 0 4px 0 0;
}
div#profile div.main div.notifications  div.list div.event div.subject p img {
	float: right;
	margin-top: -17px;
}
div#profile div.main div.notificatios div.list div.event div.subject p a.itempic img {
	width: 75px;
	height: 75px;
}
div#profile div.main div.notifications div.list div.event div.subject div.addfriend {
	margin-bottom: 4px;
	font-size: 90%;
}
div#profile div.main div.notifications div.list div.event div.subject div.viewprofile {
	font-size: 90%;
}
div#profile div.main div.notifications div.list div.event div.subject div.addfriend a {
	background-image: url( 'http://static.zino.gr/phoenix/user_add.png' );
	background-repeat: no-repeat;
	background-position: 0 -1px;
	padding-left: 18px;
}

div#profile div.main div.ybubble {
	margin: -28px 0 20px 50px;
	width: 500px;
	height: 85px;
}
div#profile div.main div.ybubble div.body {
	padding-left: 5px;
}
div#profile div.main div.ybubble div.body h3 {
	padding-top: 3px;
}	
div#profile div.main div.ybubble div.body div.uploaddiv {
	margin: 0 0 5px -30px;
}
div#profile div.main div.ybubble div.body div.uploaddiv object.uploadframe {
	height: 40px;
}
div#profile div.main div.photos {
	height: 150px;
}
div#profile div.main div.photos div.more {
	float: right;
	margin-top: 5px;
}
div#profile div.main div.photos div.viewalbums {
	margin-top: 20px;
}
div#profile div.main div.photos ul {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	height: 100px;
}
div#profile div.main div.photos ul li {
	padding: 0 3px;
	margin: 0;
	float: left;
}
div#profile div.main div.friends {
	padding-bottom: 20px;
}
div#profile div.main div.friends h3 {
	padding: 5px 0 5px 0;
	margin: 0;
}
div#profile div.main div.people {
	overflow: hidden;
	height: 130px;
}
div#profile div.main div.friends a.button {
	margin-left: 0;
}
div#profile div.main div.questions {
	padding-bottom: 20px;
	width: 70%;
}
div#profile div.main div.questions h3 {
	padding: 5px 0 5px 0;
	margin: 0;
}
div#profile div.main div.questions ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 70%;
}
div#profile div.main div.questions ul li {
	padding: 5px 0 5px 0;
	margin: 0;
	overflow: hidden;
}
div#profile div.main div.questions ul li p.question {
	padding: 0 0 2px 0;
	margin: 0;
	font-weight: bold;
}
div#profile div.main div.questions ul li p.answer {
	padding: 0;
	margin: 0;
}
div#profile div.main div.questions a.button {
	margin-left: 0;
}
div#profile div.main div.lastpoll {
	float: right;
	padding-bottom: 20px;
}

div#profile div.main div.lastpoll h3 {
	padding: 5px 0 5px 0;
	margin: 0;
}
div#profile div.main div.lastpoll h4 {
	padding: 2px 0 0 0;
	margin: 0;
}
div#profile div.main div.lastpoll div.container {
	margin-bottom: 10px;
}
div#profile div.main div.lastpoll a.button {
	margin-left: 0;
}
div#profile div.main div.lastpoll div.nopolls {
	width: 400px;
}	
div#profile div.main div.lastpoll div.nopolls div {
	margin-top: 5px;
	font-weight: bold;
}
div#profile div.main div.lastjournal {
	padding-bottom: 20px;
}
div#profile div.main div.lastjournal div.journalsmall {
	margin-bottom: 10px;
}
div#profile div.main div.lastjournal h3 {
	padding: 20px 0 5px 0;
	margin: 0;
}
div#profile div.main div.lastjournal div.nojournals div {
	font-weight: bold;
	margin-top: 5px;
}
div#profile div.main div.space {
	margin-bottom: 20px;
}
div#profile div.main div.space div {
	margin-bottom: 20px;
}
div#profile div.main div.space h3 {
	padding: 20px 0 5px 0;
	margin: 0;
}
div#profile div.main div.space a.button {
	margin-left: 0;
}
div.comments {
	float: left;
	width: 90%;
	overflow: hidden;
}
div.comments h3 {
	padding: 20px 0 5px 0;
	margin: 0;
}
div.comments div.pagifycomments {
	text-align: center;
}
