div.useralbums {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(0, #000),
        color-stop(1, #333 )
    );
    background:-moz-linear-gradient( top, #333, #000);
    color: #fc0;
    font-size:18px;
    margin:0 9px;
    padding:7px;
    text-align:center;
    overflow: hidden;
    position: relative;
}
div.useralbums .minimize {
    position: absolute;
    left: 1%;
    top: 0;
    text-align :right;
    display: block;
    width: 98%;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
#albumlist {    
    white-space: nowrap;
    height: 185px;
    overflow: auto;
    width: 100%;
    margin-top: 5px;
}
    #albumlist li {
        display: inline-block;
        vertical-align: top;
        margin: 4px 10px;
        position: relative;
    }
    #albumlist li a {
        text-decoration: none;
    }
    #albumlist li p {
        font-size: 11pt;
        margin: 5px;
        color: #347594;
    }
    #albumlist a.selected img {
        border: 2px solid #ffba09;
    }
    #albumlist img {
        width: 120px;
        border: 2px solid white;
        -moz-border-radius: 5px;
        -webit-border-radius: 5px;
        border-radius: 5px;
    }
    #albumlist li:hover span.deletebutton, .photostream li:hover span.mainbutton {
        display: block;
    }
    #albumlist a span.deletebutton, .photostream a span.mainbutton {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        background: black;
        height: 25px;
        line-height: 25px;
        opacity: 0.7;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 25px;
        display: none;
    }
    .photostream a span.mainbutton {
        right: 0;
        top: 11px;
        text-align: center;
        font-size: 250%;
    }
    #albumlist a span.deletebutton:hover, .photostream a span.mainbutton:hover {
        background: #333;
    }
    #albumlist a.egoalbum span.deletebutton {
        display: none;
    }
