#chat {
    color: black;
    background-color: white;
    position: fixed;
    top: 31px;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px solid black;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    z-index: 10;
}
    #chat a {
        color: blue;
    }
    .chatchannel div.scrollcontainer {
        bottom: 55px;
        right: 200px;
        overflow: auto;
        position: absolute;
        right: 200px;
        top: 0;
        left: 6px;
    }
    .chatchannel ol {
    }
    .chatchannel .userinfo div {
        margin-left: 48px;
    }
    .chatchannel .userinfo {
        background-color: rgb(56, 143, 197);
        background-image: -webkit-gradient(
                            linear,
                            left bottom,
                            left top,
                            color-stop(0, #367),
                            color-stop(1, rgb(56,143,197))
                         );
        background-image: -moz-linear-gradient(
                            center bottom,
                            #367 0%,
                            rgb(56,143,197) 100%
                         );
        color: white;
        margin: 0;
        padding: 0 0 0 5px;
        height: 44px;
        -moz-border-radius-topleft: 5px;
        border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
    }
    .chatchannel .userinfo img {
        width: 44px; float: left; margin: 0pt; padding: 0pt;
    }
    .chatchannel .userinfo h3 {
        padding: 2px 0pt 0pt;
        margin: 0;
    }
    .chatchannel .userinfo ul li {
        display: inline;
    }
    .chatchannel .userinfo ul li:after {
        content: "●";
        padding: 0 5px;
    }
    .chatchannel .userinfo ul li.last:after {
        display: none;
    }
    #chat .search {
        display: none;
        height: 20px;
        background-color: #f0f0f0;
        padding: 4px 13px 6px 4px;
        border-bottom: 1px solid #ddd;
    }
        #chat .search input {
            margin: 0;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 2px 4px 2px 4px;
            border: 1px solid rgb(170, 170, 170);
            color: rgb(170, 170, 170);
            height: 17px;
            width: 100%; 
            font-family: "Trebuchet MS";
            font-size: 110%;
        }
    #chat .xbutton {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #AABBCC;
        bottom: 0;
        color: white;
        height: 20px;
        left: 0;
        top: auto;
        margin: 3px;
        padding: 0 5px;
        width: auto;
        position: absolute;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        font-size: 9pt;
        font-weight: normal;
    }
.userlist {
    float: right;
    width: 200px;
    height: 100%;
    overflow: auto;
}
.userlist ol {
    padding: 5px;
    margin: 0pt;
    list-style: none outside none;
}
.userlist li {
    padding: 5px;
    cursor: pointer;
}
.userlist .world {
    font-weight: bold;
}
.userlist li.selected {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.13, rgb(59,130,243)),
        color-stop(0.6, rgb(50,152,254))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(59,130,243) 13%,
        rgb(50,152,254) 60%
    );
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
.userlist li.flash {
    background-color: orange;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.userlist li.flash span.username {
    color: black;
}
.userlist li.flash span.username:after {
    content: ": ";
}
.userlist li.flash span.text {
    display: block;
    padding: 5px;
    height: 15px;
    overflow: hidden;
    color: white;
}
.textmessages {
    height: 100%;
    margin-right: 200px;
}
.textmessages li {
    clear: both;
    line-height: 23px;
}
.scrollcontainer li{
    position: relative;
    padding-right: 100px;
}
.textmessages li span.when{
    position: absolute;
    right: 10px;
    color: #aDd2f7;
    display: none;
}
.textmessages strong {
    color: #39f;
    font-weight: normal;
    float: left;
    text-align: right;
    padding-right: 15px;
    width: 100px;
}
.textmessages strong.self {
    color: #999;
}
.textmessages #chatmessages ol img {
    max-height: 200px;
}
.textmessages ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
#chatmessages span.text {
    margin-left: 105px;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
}
#outgoing {
    position: absolute;
    left: 5px;
    right: 5px;
    padding: 5px 10px 5px 5px;
    bottom: 5px;
    height: 37px;
    margin-left: 113px;
    background-color: #eee;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 197px;
}
#outgoing div {
}
#outgoing textarea {
    width: 100%;
    font-size: 106%;
    font-family: Trebuchet MS;
    height: 29px;
}
.loading {
    bottom: 55px;
    color: #CCCCCC;
    font-size: 200%;
    left: 5px;
    margin-left: 115px;
    margin-right: 200px;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 40%;
}
.loading div.progressbar {
    border: 1px solid #749ec2;
    background-color: #206386;
    margin: 10px auto;
}
.loading div.progressbar .progress {
    height: 20px;
    width: 40px;
    background-color: #749ec2;
}
.chatbubble {
    background-color: orange;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    float: right;
    border: 2px solid white;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,145,0)),
        color-stop(1, rgb(255,187,97))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(255,145,0) 0%,
        rgb(255,187,97) 100%
    );
    color: black;
    cursor: pointer;
}
.chatbubble img {
    float: left;
    width: 50px;
}
.chatbubble div {
    margin-left: 55px;
}
.chatbubble div span {
    display: block;
}
#chatbubbles {
    z-index: 5;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
