#chat {
    color: black;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px solid black;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    z-index: 10;
}
#chat .xbutton {
    position: absolute;
    
}
.userlist {
    float: right;
    width: 200px;
    height: 100%;
    overflow: auto;
}
.userlist ol {
    padding: 5px;
    margin: 0pt;
    list-style: none outside none;
}
.userlist li {
    padding: 5px;
    cursor: pointer;
}
.userlist .world {
    font-weight: bold;
}
.userlist li.selected {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.13, rgb(59,130,243)),
        color-stop(0.6, rgb(50,152,254))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(59,130,243) 13%,
        rgb(50,152,254) 60%
    );
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
.userlist li.flash {
    background-color: orange;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.userlist li.flash span.username {
    color: black;
}
.userlist li.flash span.username:after {
    content: ": ";
}
.userlist li.flash span.text {
    display: block;
    padding: 5px;
    height: 15px;
    overflow: hidden;
    color: white;
}
.textmessages {
    height: 100%;
    margin-right: 200px;
}
.textmessages li {
    clear: both;
    line-height: 23px;
}
.textmessages strong {
    color: #39f;
    font-weight: normal;
    float: left;
    text-align: right;
    padding-right: 15px;
    width: 100px;
}
.textmessages strong.self {
    color: #999;
}
.textmessages #chatmessages {
    bottom: 55px;
    top: 5px;
    position: absolute;
    left: 5px;
    overflow: auto;
    right: 0pt;
    margin-right: 200px;
}
.textmessages ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
#chatmessages span.text {
    margin-left: 105px;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
}
#outgoing {
    position: absolute;
    left: 5px;
    right: 5px;
    padding: 5px 10px 5px 5px;
    bottom: 5px;
    height: 37px;
    margin-left: 113px;
    background-color: #eee;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 197px;
}
#outgoing div {
}
#outgoing textarea {
    width: 100%;
    font-size: 106%;
    font-family: Trebuchet MS;
    height: 29px;
}
.loading {
    bottom: 55px;
    color: #CCCCCC;
    font-size: 200%;
    left: 5px;
    margin-left: 115px;
    margin-right: 200px;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 40%;
}
.loading div.progressbar {
    border: 1px solid #749ec2;
    background-color: #206386;
    margin: 10px auto;
}
.loading div.progressbar .progress {
    height: 20px;
    width: 40px;
    background-color: #749ec2;
}
.chatbubble {
    background-color: orange;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    float: right;
    border: 2px solid white;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,145,0)),
        color-stop(1, rgb(255,187,97))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(255,145,0) 0%,
        rgb(255,187,97) 100%
    );
    color: black;
    cursor: pointer;
}
.chatbubble img {
    float: left;
    width: 50px;
}
.chatbubble div {
    margin-left: 55px;
}
.chatbubble div span {
    display: block;
}
#chatbubbles {
    z-index: 5;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
