body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    background-color: #213549;
    background-image: url('http://static.zino.gr/revolution/bg.png');
    background-position: top;
    background-repeat: repeat-x;
    color: white;
    min-height: 400px;
}
h1 {
    margin: 0;
    position: relative;
    z-index: 2;
}
h1 img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
h2 {
    color: #7399BA;
    font-size: 130%;
    margin: 0.5em 200px;
    line-height: 2.5em;
    border-bottom: 3px #246d93 solid;
}
a img { 
    border: none;
}
textarea, input {
    background-color: white;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: #acf;
    font-weight: normal;
    text-decoration: underline;
}
fieldset, form {
    border: none;
    padding: 0;
    margin: 0;
}
a:hover {
    color: #def;
}
a:focus {
    outline: none;
}
div.linkbutton {
    color: red;
}
a.linkbutton {
    text-align: center;
    padding-bottom: 2px;
    text-decoration: none;
}
.eof {
    clear: both;
}
.editable {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    z-index: 0;
}
.editable:hover {
    color: #def;
}
.notshown {
    font-style: italic;
    padding-right: 2px;
}
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
select.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: auto;
    height: auto;
    font-weight: bold;
    /* display: none; */
}
.editable:hover select.dropdown {
    display: block;
}
select.dropdown option {
    font-style: normal;
    background: #213549;
    color: white;
    border: 1px solid #123;
    line-height: 3em;
    font-weight: bold;
}
#world {
    position: relative;
    overflow: hidden;
}
#content {
    position: relative;
}
