div.discussion {
    padding: 5px;
    clear: both;
}
.thread {
    border-top: 1px solid #2c4762;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    text-align: left;
    clear: left;
    overflow: hidden;
    border-left: 2px solid transparent;
}
.thread:hover {
    border-left: 2px solid #273f57;
}
img.avatar {
    height: 46px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border: 1px solid transparent;
}
.note {
    padding: 5px;
    display: block;
    color: white;
    text-align: center;
}
.note span.username {
    display: inline;
}
.time {
    color: #3d6287;
    padding: 5px 0;
    display: none;
}
.processedtime {
    display: inline;
}
a.talk {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #284059;
    border: 2px solid #3b5d81;
    color: white;
    font-size: 100%;
    padding: 6px;
    text-align: center;
    width: 180px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
}
.thread.new a {
    text-decoration: none;
}
.thread.new {
    border-top: none;
    border-right: none;
    display: none;
    cursor: default;
}
.message.new {
    padding: 0 5px 0 0;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.message.new .text {
    line-height: normal;
    position: relative;
    padding: 2px 5px 0 0;
}
div.message textarea {
    font: 1.15em/1.1 'Lucida Grande',sans-serif;
    border: 1px solid #aaa;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 2px;
    width: 100%;
    position: relative;
}
.new.message .author img {
    position: absolute;
}
div.author div.details {
    white-space: nowrap;
    margin-left: 60px;
}
div.message div.text {
    line-height: 25px;
    margin-left: 60px;
}
ul.tips {
    text-align: right;
    padding: 2px 0;
}
ul.tips li {
    display: inline; 
    padding-left: 20px;
    color: #4f7eae;
    white-space: nowrap;
}
ul.tips strong {
    font-weight: normal;
    color: #acf;
}
div.message {
    position: relative;
    background-color: #243a50;
    font-size: 110%;
    cursor: pointer;
}   
div.message .author {
    float: left;
    margin: 0 10px 0 0;
    vertical-align: middle;
    font-size: 90%;
    cursor: default;
}
div.message .author .avatar {
    float: left;
    margin-right: 5px;
}
span.username {
    color: #3f8bbb;
    font-family: Verdana;
    display: block;
}
div.mine {
    border-top: 1px solid #3b5d81;
    background-color: #284059;
}
div.mine .time {
    color: #4f7eae;
}
table.smileys {
    width: 400px;
    border-collapse: collapse;
}
    table.smileys tbody {
        height: 300px;
        width: 100%;
        overflow: auto;
    }
    table.smileys tbody tr {
        width: 100%;
        overflow: hidden;
    }
