.feed ul  {
    width: 55%;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.feed ul li {
    border-top: 1px solid black;
    border-bottom: 2px solid #dfdfdf;
    min-height: 67px;
}
.feed ul li a h2 {
    margin: 0 10px 5px 80px;
    padding: 2px;
    line-height: 22px;
    color: black;
    border: 0;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
}
.feed ul li a.title {
    text-decoration: none;
}
.feed ul li a.username {
    display: block;
    height: 1px;
    margin: 10px 30px;
    color: #1b49c1;
    text-decoration: none;
    font-weight: bold;
}
.feed ul li a.username img {
    display: block;
    float: left;
    margin-right: 4px;
}
