.feed ul  {
    width: 55%;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.feed ul li {
    border-top: 1px dotted black;
    min-height: 67px;
    position: relative;
    overflow: hidden;
}
.feed ul li a h2 {
    margin: 0 10px 5px 80px;
    padding: 2px;
    line-height: 18px;
    color: black;
    border: 0;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
}
.feed ul li:hover {
    background-color: #C7DAED;
}
.feed ul li.previewing {
    background-color: #7a9ec2;
}
.feed ul li a.title {
    text-decoration: none;
    display: block;
    position: relative;
    top: 0;
    padding-top: 21px;
    width: 100%;
    min-height: 48px;
}
.feed ul li div.details {
    position: absolute;
    width: 100%;
}
.feed ul li a.username {
    display: block;
    height: 1px;
    margin: 10px 0px 10px 30px;
    color: #1b49c1;
    text-decoration: none;
    font-weight: bold;
    float: left;
    position: relative;
    z-index: 1;
}
.feed ul li a.username img {
    display: block;
    float: left;
    margin-right: 4px;
}
.feed ul li p.publishtime {
    float: left;
    margin: 10px 0 0 5px;
    color: #555;
}
.feed ul li p.commentcount {
    text-align: right;
    margin: 10px 15px 0 0;
    color: #3B5998;
}
#preview {
     position: fixed;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     visibility: hidden;
}
#preview:before {
     content: '  ';
     width:4.5%;
     min-width: 50px;
     float: left;
     padding-top: 1px;
     visibility: hidden;
}
#preview div.contentshadow {
    visibility: hidden;
    height: 100%;
    overflow: auto;
    position: relative;
}
#preview div.content {
    width: 45%;
    height: 100%;
    background-color: #213549;
    position: absolute;
    right: 0;
    visibility: visible;
    z-index: 100;
    border-left: 1px solid black;
    overflow: hidden;
}
#preview h2 {
    margin: 25px;
}
#preview .document {
    padding: 0 30px;
}
#preview div.content div.details {
    display: none;
}
#preview .infotext {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 130%;
    width: 100%;
}