#photo-listing {
    background-color: #213549;
}
.vbar {
    background-image:
	-webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0, #111),
	    color-stop(1, #222 )
	);
    background-image: -moz-linear-gradient(left,#111,#222);
    background-color: #111;
    font-weight: bold;
}
    .vbar ul li {
        height: 80px;
        display: block;
        text-align: center;
    }
        .vbar ul li a {
            display: block;
            border: 1px transparent black;
        }
        .vbar ul li img {
            margin-top: 25%;
        }
        .vbar ul li a span {
            display: block;
            line-height: 12px;
            padding-top: 5px;
            margin-bottom: 25%;
        }
    .vbar ul li.selected a {
        border: 1px solid #ccc;
        border-right: 1px solid #f5f5f5;
        background-color: white;
        font-weight: bold;
    }
    .vbar ul li.selected a span {
        color: black;
    }
.col2 {
    min-width: 700px;
}
.col2:before {
    content: '';
    width:4.5%;
    min-width: 50px;
    float: left;
    padding-top: 1px;
}
#content {
    overflow: auto;
}
div.photostream {
    margin-left: 5px;
    height: 100%;
    margin-right: 10px;
}
    div.photostream ul {
        height: 100%;
        overflow: hidden;
        text-align: justify;
    }
    div.photostream li:before {
        content: "  ";
    }
    div.photostream li {
        display: inline;
    }
    div.photostream a, div.photostream form {
        text-decoration: none;
        display: inline-block;
        width: 25%;
        max-width: 150px;
        position: relative;
    }
    div.photostream form {
        overflow: hidden;
        padding-top: 100px;
    }
    div.photostream form div {
        position: relative;
        top: -70px;
        left: 65px;
        width: 30px;
    }
    div.photostream form div:hover .tooltip {
        display: block;
    }
    div.photostream img {
        margin: 1px;
        padding: 5px;
        width: 100%;
        height: 150px;
        display: block;
        position: relative;
        background-image: url( 'http://static.zino.gr/revolution/placeholder.png' );
        -moz-background-origin: border-box;
        -moz-background-size: 100% 100%;
        -webkit-background-origin: border;
        -webkit-background-size: 100% 100%;
    }
.photostream ul li.justifyhack {
    overflow: hidden;
    height: 1px;
    display: inline-block;
    width: 150px;
}
.SI-FILES-STYLIZED label.cabinet
{
    width: 30px;
    height: 30px;
    background: url('http://static.zino.gr/phoenix/add3.png') 0 0 no-repeat;

    display: block;
    overflow: hidden;
    cursor: pointer;
}
.SI-FILES-STYLIZED label.cabinet input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.bl {
    bottom: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}
.col1 {
    position: fixed;
    z-index: 5;
    width: 4.5%;
    min-width: 50px;
    border: 0;
    height: 100%;
}
.col2 {
    background-color: #347594;
}
.contentitem > .details {
    padding: 10px;
    margin: 5px 0 5px 5px;
    background-color: #206386;
    color: white;
    opacity: 0.8;
    width: 120px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
    overflow: hidden;
}
.contentitem > .details img.avatar {
    border: none;
    display: block;
    margin: auto;
}
.contentitem > .details .username {
    display: inline;
}
.contentitem > .details .processedtime {
    color: #7399ba;
    padding: 5px;
    display: block;
}
.contentitem > .details .delete img{
    border: none;
    width: 20px;
    position: relative;
    top: 4px;
    display: inline;
}
.contentitem > .title {
    color: #7399ba;
    display: block;
}
li.stat {
    padding-top: 15px;
    display: inline;
    font-size: 120%;
    padding: 5px;
}
li.numfavourites {
    color: red;
}
li.numcomments span {
    background-image: url( 'images/speak-blue.png' );
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}
li.stat span {
    font-weight: bold;
    color: white;
}
.contentitem {
    font-size: 120%;
    text-align: center;
    position: relative;
    padding: 5px 5px 0 5px;
}
.contentitem img {
    border: 3px solid white;
}
.xbutton {
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    padding: 2px 3px 2px 0;
    position: absolute;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: 2px solid white;
    background-color: #45719b;
    opacity: 0.9;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    line-height: 16px;
    vertical-align: middle;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(34,67,89)),
        color-stop(0.6, rgb(63,115,163))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(34,67,89) 0%,
        rgb(63,115,163) 60%
    );
}
.xbutton:hover {
}
.xbutton .tooltip {
    font-size: 70%;
}
.tooltip {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #111;
    color: #eee;
    padding: 5px;
    font-weight: normal;
    font-family: "Trebuchet MS";
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    white-space: nowrap;
    opacity: 0.9;
}
.xbutton:hover > .tooltip {
    display: block;
}
.tooltip span {
    left: 3px;
    top: -12px;
    position: absolute;
    font-size: 180%;
    color: #111;
}
div.message {
    position: relative;
    background-color: #243a50;
    font-size: 110%;
    cursor: pointer;
}   
div.message .author {
    float: left;
    margin: 0 10px 0 0;
    vertical-align: middle;
    font-size: 90%;
    cursor: default;
}
div.message .author .avatar {
    float: left;
    margin-right: 5px;
}
span.username {
    color: #3f8bbb;
    font-family: Verdana;
    display: block;
}
span.countbubble {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: orange;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    vertical-align: middle;
    line-height: 19px;
    color: black;
    border: 2px solid white;
    font-weight: bold;
    top: 12px;
    left: 12px;
}
.love {
    display: inline;
    padding-right: 6px;
    text-decoration: none;
}
.love strong {
    color: red;
}
ul.options {
    margin: auto;
    width: 300px;
}
ul.options li {
    padding: 5px 0;
    color: white;
    text-align: left;
}
div.document {
    text-align: left;
    color: white;
    padding: 20px 200px;
}
div.useralbums {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(0, #000),
        color-stop(1, #333 )
    );
    background:-moz-linear-gradient( top, #333, #000);
    color: #fc0;
    font-size:18px;
    margin:0 9px;
    padding:7px;
    text-align:center;
}
