body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    background-color: #213549;
}
h1 {
    margin: 20px 0 -10px;
    width: 100%;
}
h1 img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
a img { 
    border: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: #acf;
    font-weight: normal;
    text-decoration: underline;
}
.vbar {
    background-image:
	-webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0, #111),
	    color-stop(1, #222 )
	);
    background-image: -moz-linear-gradient(left,#111,#222);
    background-color: #111;
    font-weight: bold;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
.vbar ul li {
    height: 80px;
    display: block;
    text-align: center;
}
.vbar ul li img {
    margin-top: 25%;
}
.vbar ul li.selected a {
    display: block;
    border: 1px solid #ccc;
    border-right: 1px solid #f5f5f5;
    background-color: white;
    font-weight: bold;
}
.vbar ul li a span {
    display: block;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 25%;
}
.vbar ul li.selected a span {
    color: black;
}
div.photofeed {
    margin-left: 1%;
    padding-right: 2%;
    overflow: hidden;
}
div.photofeed ul {
    text-align: justify;
}
div.photofeed li:before {
    content: "  ";
}
div.photofeed li {
    display: inline;
}
div.photofeed a {
    text-decoration: none;
    display: inline-block;
    width: 18%;
    max-width: 150px;
    position: relative;
}
div.photofeed img {
    margin: 1px;
    padding: 5px;
    width: 100%;
    display: block;
    position: relative;
    background-image: url( 'http://sh.deviantart.net/shadow/x/152/152/logo3.png' );
    -moz-background-origin: border-box;
    -moz-background-size: 100% 100%;
    -webkit-background-origin: border;
    -webkit-background-size: 100% 100%;
}
div.photofeed a:hover span {
    top: 10px;
    left: 10px;
}
div.photofeed a:hover img {
    left: -2px;
    top: -2px;
}
.bl {
    bottom: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}
.col1 {
    position: fixed;
    z-index: 5;
    height: 98%;
    top: 1%;
    width: 4.5%;
    min-width: 50px;
    margin-top: -2px;
    border-top: 2px;
    border-bottom: 2px;
    border-right: 2px;
    border-left: 0px;
    border-style: solid;
    border-color: #ddd;
}
.col2 {
    overflow: auto;
    background-image: url( http://farm5.static.flickr.com/4021/4283886098_0895163184.jpg);
    background-repeat: repeat;
    background-color: #dae7f9;
    padding-left: 4.5%;
}
.contentitem > .details {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    background-color: #2c4762;
    color: white;
    opacity: 0.8;
    width: 120px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.contentitem > .details img {
    border: none;
}
.contentitem > .details .username {
    display: inline;
}
.contentitem > .details .processedtime {
    color: #7399ba;
    padding: 5px;
    display: block;
}
.contentitem > .title {
    color: #7399ba;
    display: block;
}
li.stat {
    padding-top: 15px;
    display: inline;
    font-size: 120%;
    padding: 5px;
}
li.numfavourites {
    color: red;
}
li.numcomments span {
    background-image: url( '../images/speak-blue.png' );
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}
li.stat span {
    font-weight: bold;
    color: white;
}
.contentitem {
    background-color: #213549;
    font-size: 120%;
    text-align: center;
    position: relative;
    padding: 5px 25px 0 25px;
}
.contentitem img {
    border: 3px solid white;
}
.xbutton {
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    padding: 2px 3px 2px 0;
    position: absolute;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #45719b;
    opacity: 0.9;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    line-height: 16px;
    vertical-align: middle;
}
.xbutton:hover {
    background-color: #131e2a;
    text-align: left;
    padding: 2px 1px 2px 2px;
}
div.thread {
    border-top: 1px solid #2c4762;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    text-align: left;
    clear: left;
    overflow: hidden;
}
div.discussion {
    padding: 10px;
}
img.avatar {
    border: 1px solid transparent;
    -moz-border-radius: 2px;
    width: 50px;
    height: 50px;
}
div.message {
    position: relative;
    background-color: #243a50;
    font-size: 110%;
    padding-bottom: 2px;
    cursor: pointer;
}
div.message .author {
    float: left;
    margin: 0 10px 0 0;
    vertical-align: middle;
    height: 50px;
    font-size: 90%;
    cursor: default;
}
span.username {
    color: #3f8bbb;
    font-family: Verdana;
    display: block;
}
div.message div.text {
    line-height: 25px;
    margin-left: 60px;
}
.author .avatar {
    float: left;
    margin-right: 5px;
}
div.eof {
    clear: both;
}
div.author div.details {
    white-space: nowrap;
    margin-left: 60px;
}
div.time {
    color: #3d6287;
    padding: 5px 0;
    display: none;
}
div.processedtime {
    display: inline;
}
span.countbubble {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: orange;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    vertical-align: middle;
    line-height: 19px;
    color: black;
    border: 2px solid white;
    font-weight: bold;
    top: 12px;
    left: 12px;
}
.thread {
    border-left: 2px solid transparent;
}
.thread:hover {
    border-left: 2px solid #243a50;
}
div.note {
    padding: 5px;
    display: block;
    color: white;
    text-align: center;
}
div.note span.username {
    display: inline;
}
.love {
    display: inline;
    padding-right: 6px;
    text-decoration: none;
}
.love strong {
    color: red;
}
div.button {
    color: red;
}
div.mine {
    background-color: #345373;
}
div.mine .time {
    color: #4f7eae;
}
a.button {
    text-align: center;
    padding-bottom: 2px;
    text-decoration: none;
}
a.talk {
    background-image: url( '../images/speak.png' );
    background-repeat: no-repeat;
    background-position: 2px 3px;
    padding-left: 20px;
}
.thread.new {
    border-top: none;
}
div.thread .new {
    padding: 5px 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.message textarea {
    font: 1.15em/1.1 'Lucida Grande',sans-serif;
    border: 1px solid #aaa;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 2px;
    width: 100%;
}
div.thread .new.message {
    cursor: default;
}
ul.tips {
    text-align: right;
    padding: 2px 0;
}
ul.tips li {
    display: inline; 
    padding-left: 20px;
    color: #4f7eae;
}
ul.tips strong {
    font-weight: normal;
    color: #acf;
}
h2 {
    color: #7399BA;
    font-size: 130%;
    margin: 0.5em 200px;
    line-height: 2.5em;
    border-bottom: 3px #243A50 solid;
}
ul.options {
    margin: auto;
    width: 300px;
}
ul.options li {
    padding: 5px 0;
    color: white;
    text-align: left;
}
div.progressbar {
    border-radius: 25px;
    -moz-border-radius: 25px;
    background-color: #172634;
    border: 1px solid #f5f5f5;
    height: 20px;
    width: 300px;
    overflow: hidden;
    margin: 5px 0;
}
div.progressbar div.progress {
    border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius-topright: 25px;
    border-radius-bottomright: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    background-color: orange;
    height: 100%;
}
div.document {
    text-align: left;
    color: white;
    padding: 20px;
}
.feed {
    margin-left: 0.2%;
}
.feed ul {
    list-style: none;
    padding: 0;
    margin-left: 5px;
}
.feed li.poll {
    border-left: 8px solid orange;
}
.feed li.journal {
    border-left: 8px solid red;
}
.feed li {
    background-image:
	-webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #dedede),
	    color-stop(1, #b2c4e6 )
	);
    background-image: -moz-linear-gradient(top,#dedede,#b2c4e6);
    border: 1px solid #555;
    padding-top: 8px;
    min-height: 44px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    margin: 3px;
    padding: 8px 8px 0 8px;
    width: 50%;
}
.feed li:hover {
    background-image:
	-webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #dedede),
	    color-stop(1, #fff )
	);
    background-image: -moz-linear-gradient(top,#dedede,#fff);
}
.feed a {
    color: black;
    text-decoration: none;
}
.feed h2 {
    font-size: 18px;
    border: 0;
    margin: 0 0 10px;
    font-weight: normal;
    color: black;
    line-height: 18px;
}
#preview {
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    -webkit-border-radius: 9px;
    background-color: white;
    border: 3px solid #516579;
    margin: 5px 0;
    bottom: 0;
    position: fixed;
    right: 0.5%;
    top: 0;
    width: 44%;
    background-color: #213549;
}
