.editabletext {
    top: 0;
    left: 0;
    cursor: text;
}
.editableinput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-align: inherit;
    padding: inherit;
    border: inherit;
}
.editabletext:hover .editableinput {
    display: block;
}
.editabletext.editableempty {
    font-style: italic;
}
input.clickable.blured {
    color: grey;
}