textarea.invisible {
    width: 0;
    height: 0;
    border: 0px solid transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.pantherbox {
    border: 3px solid #567;
    padding: 10px;
    background-color: #345;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 5px 5px 0;
    width: 300px;
    position: relative;
}
.pantherbox li.dot:after {
    content: ' â— ';
    color: #567;
    font-size: 70%;
    position: relative;
    top: -2px;
}
.pantherbox a {
    text-decoration: none;
}
.pantherbox .arrow {
    position: absolute;
    color: #567;
    top: -16px;
}
.love {
    white-space: nowrap;
}
#instantbox {
    margin-bottom: 150px;
}
    #instantbox > .content {
        float: right;
        width: 50%;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }
    #instantbox .content .tips {
        background-color: #172322;
        padding: 10px;
        color: white;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        opacity: 0.8;
        margin: 7px;
    }
    #instantbox .content:hover .tips {
        display: block;
    }
    #instantbox > .content img {
        display: block;
    }
    #instantbox > .details {
        text-align: center;
    }
    #instantbox > .details .message {
        cursor: default;
    }
    #instantbox > .tips {
        text-align: center;
        background-color: #172322;
        border-bottom: 1px solid #666;
        padding: 7px;
    }
    #instantbox .contentitem img.maincontent {
        margin-left: 0;
    }
    #instantbox div.document {
        padding: 20px 20px;
    }
    #instantbox div.message textarea {
        margin-left: 0;
    }
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.businesscard {
    height: 100px;
    width: 300px;
    margin: auto;
    border: 1px solid rgb(68, 85, 102);
    background-color: rgb(17, 34, 51);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
    .businesscard .avatar {
        float: left;
    }
    div.businesscard div.username {
        font-weight: bold;
        color: white;
        text-align: left;
        padding: 5px;
        display: block;
        margin-left: 100px;
    }
    .businesscard ul {
        margin-left: 100px;
        text-align: left;
        padding: 5px;
    }
    .businesscard ul li {
        display: inline;
    }
.panel {
    z-index: 5;
    height: 150px;
    overflow: hidden;
    padding: 0 30px;
}
.panel .background {
    border-top: 1px solid #666;
    background-color: black;
    opacity: 0.9;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
    .panel .xbutton, .panel .vbutton {
        font-size: 100%;
        color: white;
        float: right;
        position: static;
        margin: 5px -25px 0 0;
        border: 0;
        background-color: transparent;
        padding: 0;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .panel .xbutton:hover, .panel .vbutton:hover {
        margin: 5px -45px 0 0;
    }
    .panel .xbutton {
        background-image: url( 'http://static.zino.gr/phoenix/xbutton.png' );
    }
    .panel .vbutton {
        background-image: url( 'http://static.zino.gr/revolution/vbutton.png' );
    }
    .panel .box:hover {
        border: 2px solid white;
    }
    .panel .box {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 2px solid #666;
        cursor: pointer;
        float: left;
        height: 100px;
        margin: 5px 5px;
        opacity: 1;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 200px;
    }
    .panel .box .text img {
        width: 75px;
        display: block;
        margin: auto;
    }
    .panel .done {
        background-image: -moz-linear-gradient(center bottom , #009800 3%, #83CD83 82%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.03, rgb(0,152,0)), color-stop(0.82, rgb(131,205,131)));
        border:2px solid white;
        font-family: Garamond;
        font-size: 700%;
        font-weight:  bold;
        padding-left: 10px;
        text-align: center;
        width: 190px;
    }
    .panel .selected {
        border: 2px solid white;
    }
        .panel .box div {
            height: 100px;
            overflow: hidden;
            width: 100px;
        }
        .panel .box div.details h4 {
            display: block;
            text-align: center;
            background-color: black;
            color: white;
            padding: 2px 0pt;
            margin: 0;
            font-size: 100%;
        }
        .panel .box div.details {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 80px;
            border-left: 1px solid white;
            width: auto;
            height: 100%;
            color: white;
            background-color: #222;
            z-index: 1;
        }
        .panel .box div.details .background{
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            z-index: -1;
            background: url( http://images2.zino.gr/media/4571/_239510/239510_150.jpg );
            opacity: 0.2;
        }
            .panel .box div.details div.text {
                font-weight: bold;
                padding: 5px;
            }
            .panel .box div.details div.love {
                font-size: 500%;
                padding: 0 10px 0 8px;
                text-align: center;
                color: red;
                display: block;
            }
            .panel .box div.details div.friend {
                padding: 5px;
                text-align: center;
                font-weight: bold;
                font-size: 120%;
                background-image: url( 'http://static.zino.gr/phoenix/user_add.png' );
                background-repeat: no-repeat;
                background-position: 5px 5px;
                padding-left: 22px;
                width: 60px;
                margin: 20px auto;
            }
    .panel h3 {
        color: orange; font-size: 120%; padding: 5px; margin: 4px 0pt; text-align: center;
    }
