.contentitem .image{
    position: relative;
    margin: auto;
    padding-right: 6px;
}
.contentitem .image .icon_x{
    position: absolute;
    top: 7px;
    right: 7px;
    display: none;
}
.contentitem .image:hover .icon_x{
    display: block;
}
.contentitem .image .icon_x .bg{
    width: 30px;
    height: 30px;
    background: #222;
    opacity: 0.7;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
.contentitem .image .icon_x:hover .bg{
    opacity: 0.9;
}
.contentitem .image .icon_x span{
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 7px;
    top: 2px;
    cursor: pointer;
}

.contentitem > .title{
    padding-top: 2px;
}
.contentitem > .title input{
    width: 300px;
    text-align: center;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 13px;
    background: transparent;
    border-width: 0;
    color: #3F8BBB;
    padding-top: 3px;
    cursor: default;
}
.contentitem > .title input.hover{
    background: #FFFFD6;
    cursor: pointer;
    border-width: 2px;
    color: black;
    padding-top: 1px;
}
.contentitem > .title input.focus{
    background: white;
    border-width: 2px;
    color: black;
    padding-top: 1px;
}
.contentitem > .title input.empty{
    font-style: italic;
}
.contentitem > .title span.hidden{
    display: none;
}
