.contentitem .image{
    position: relative;
    margin: auto;
    padding-right: 6px;
}
.contentitem .image .icon{
    display: none;
    cursor: pointer;
}
.contentitem .image:hover .icon {
    position: absolute;
    font-weight: bold;
    font-size: 150%;
    top: 7px;
    right: 7px;
    display: block;
    padding: 6px 10px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #222;
    color: white;
    opacity: 0.7;
}
.contentitem .image .icon:hover {
    opacity: 1;
}

.contentitem > .title{
    padding-top: 2px;
    height: 20px;
}
.contentitem > .title input{
    width: 300px;
    text-align: center;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 13px;
    background: transparent;
    border-width: 0;
    color: #3F8BBB;
    padding-top: 3px;
    cursor: default;
}
.contentitem > .title input.hover{
    background: #FFFFD6;
    cursor: pointer;
    border-width: 2px;
    color: black;
    padding-top: 1px;
}
.contentitem > .title input.focus{
    background: white;
    border-width: 2px;
    color: black;
    padding-top: 1px;
}
.contentitem > .title input.empty{
    font-style: italic;
}
.contentitem > .title span.hidden{
    display: none;
}
