.contentitem .image{
    position: relative;
    margin: auto;
}
    .contentitem .image .icon{
        display: none;
        cursor: pointer;
    }
    .contentitem .image:hover .icon {
        position: absolute;
        font-weight: bold;
        font-size: 150%;
        top: 7px;
        right: 7px;
        display: block;
        padding: 6px 10px;
        text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: #222;
        color: white;
        opacity: 0.7;
    }
    .contentitem .image .icon:hover {
        opacity: 1;
    }
    .contentitem .image .tagarea {
        background: #666;
        position: absolute;
        margin: auto;
        top: 0;
        left: 50%;
        opacity: 0.3;
    }
    
        .tagarea .tagbox {
            position: relative;
            width: 100px;
            height: 100px;
        }
        .tagbox .handle{
            position: absolute;
            cursor: move;
            background: white;
            height: 100%;
            width: 100%;
        }
        .tagbox .handle:hover {
            left: -3px;
            top: -3px;
            border: 3px solid black;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin: 0;
        }
        .tagbox .toolbox {
            background: blue;
            position: absolute;
            top: 10px;
            right: -30px;
            height: 60px;
            width: 30px;
        }

.contentitem > .title{
    padding-top: 2px;
    height: 20px;
}
.contentitem > .title input{
    width: 300px;
    text-align: center;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 13px;
    background: transparent;
    border-width: 0;
    color: #3F8BBB;
    padding-top: 3px;
    cursor: default;
}
.contentitem > .title input.hover{
    background: #FFFFD6;
    cursor: pointer;
    border-width: 2px;
    color: black;
    padding-top: 1px;
}
.contentitem > .title input.focus{
    background: white;
    border-width: 2px;
    color: black;
    padding-top: 1px;
}
.contentitem > .title input.empty{
    font-style: italic;
}
.contentitem .hidden {
    display: none;
}
