.stream {
    width: 55%;
    float: left;
}
.stream ul  {
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.stream ul li {
    border-top: 1px dotted black;
    min-height: 67px;
    position: relative;
    overflow: hidden;
}
.stream ul li a h2 {
    margin: 5px 13px 3px 63px;
    padding: 0;
    line-height: 18px;
    color: black;
    border: 0;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
}
.stream ul li:hover {
    background-color: #C7DAED;
}
.stream ul li.previewing {
    background-color: #7a9ec2;
}
.stream ul li a.title {
    text-decoration: none;
    display: block;
    position: relative;
    top: 0;
    padding-top: 21px;
    width: 100%;
    min-height: 48px;
}
.stream ul li div.details {
    position: absolute;
    width: 100%;
}
.stream ul li a.username {
    display: block;
    height: 1px;
    margin: 10px 0px 10px 10px;
    color: #1b49c1;
    text-decoration: none;
    font-weight: bold;
    float: left;
    position: relative;
    z-index: 1;
}
.stream ul li a.username img {
    display: block;
    float: left;
    margin-right: 4px;
}
.stream ul li p.time {
    float: left;
    margin: 10px 0 0 5px;
    color: #555;
}
.stream ul li p.commentcount {
    text-align: right;
    margin: 10px 15px 0 0;
    color: #3B5998;
}
.stream ul li .zoomin {
    position: absolute;
    bottom: 0.5em;
    text-align: center;
    width: 100%;
    display: none;
    color: white;
}
.stream ul li.previewing .zoomin {
    display: inline;
}
#preview div.content {
    width: 45%;
    height: 100%;
    background-color: #213549;
    position: absolute;
    right: 0;
    visibility: visible;
    z-index: 1;
    border-left: 1px solid black;
    overflow: hidden;
}
#preview h2 {
    margin: 25px;
}
#preview .document {
    padding: 0 30px;
}
#preview div.content div.details {
    display: none;
}
#preview div.content {
    position: fixed;
}
#preview .infotext {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 130%;
    width: 100%;
}
ol.createitem {
    padding: 15px 0;
    margin: 0;
    list-style: none;
    background: white;
    font-size: 120%;
    height: 1.5em;
    border-left: 1px black solid;
    border-right: 1px black solid;
    text-align: center;
}
ol.createitem li {
    padding: 0 15px;
    display: inline;
}
ol.createitem li a {
    color: #008;
    text-decoration: none;
    font-weight: bold;
}
