.maininfo {
    position: relative;
    text-align: left;
    padding: 0 0 0 120px;
    margin: 0 0 15px 50px;
    display: block;
    height: 100px;
}
.maininfo img.avatar {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
}
.maininfo .username {
    font-size: 160%;
    line-height: 200%;
    font-weight: bold;
    color: #72B3DB;
}
.maininfo ul.asl {
    overflow: hidden;
}
.maininfo ul.asl li.dot:before,
.heightweight span.dot:before {
    content: ' ▪ ';
}
.maininfo ul.asl li {
    float: left;
    margin: 0 3px 0 0;
}
.maininfo ul.asl li span {
    color: #ddf;
    font-weight: bold;
    line-height: 200%;
}
.userview {
    width: 100%;
    position: relative;
    padding: 15px 0;
    min-width: 750px;
}
.sidebar {
    width: 300px;
    min-height: 400px;
    float: left;
    padding-left: 50px;
}
.userdetails li {
    padding: 2px 0;
    text-align: left;
    width: 100%;
}
.userdetails li span, .userdetails li div {
    font-weight: bold;
}
li.heightweight {
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
}
.heightweight span{
    font-weight: bold;
}
.useritems{
    float: right;
}
.useritems li {
    float: left;
    text-align: center;
    padding: 0 15px;
}
.useritems li a{
    text-decoration: none;
}
.useritems li a div{
    font-size: 160%;
    font-weight: bold;
}