.maininfo {
    position: relative;
    text-align: left;
    display: block;
    float: left;
}
.maininfo .details {
    margin-left: 110px;
}
.maininfo img.avatar {
    height: 100px;
    width: 100px;
    float: left;
}
.maininfo .username {
    font-size: 160%;
    line-height: 200%;
    font-weight: bold;
    color: #72B3DB;
    overflow: hidden;
}
.maininfo ul.asl {
    overflow: hidden;
}
.maininfo ul.asl li.dot:before,
.heightweight span.dot:before {
    content: ' â— ';
    color: #72b3db;
    font-size: 70%;
    position: relative;
    top: -2px;
}
.maininfo ul.asl > li {
    float: left;
    margin: 0 3px 0 0;
}
.maininfo ul.asl li {
    font-weight: bold;
    line-height: 200%;
}
.userview {
    position: relative;
    padding: 15px 0;
    min-width: 750px;
    padding-left: 50px;
}
.sidebar {
    width: 400px;
    min-height: 400px;
    float: left;
}

.userdetails li {
    padding: 2px 0;
    text-align: left;
    width: 100%;
    font-weight: bold;
}
    ul.userdetails li span {
        font-weight: normal;
    }
    li.heightweight {
        font-weight: normal;
        text-align: center;
        padding: 1em 0;
    }    
    ul.userdetails li.heightweight span {
        font-weight: bold;
    }
    ul.userdetails li.aboutme {
        padding: 1em 0;
    }

.useritems{
    float: right;
}
    .useritems li {
        float: left;
        text-align: center;
        padding: 0 15px;
    }
        .useritems li a{
            text-decoration: none;
        }
            .useritems li a:hover {
            }
            .useritems li a span {
                font-size: 160%;
                font-weight: bold;
                display: block;
            }

#friendship {
    padding: 5px;
    border: 1px solid #234;
    background-color: #abc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
}
    #friendship a {
        color: #234;
        font-weight: bold;
        text-decoration: none;
        position: relative;
        display: block;
        padding: 3px;
    }
    #friendship .love strong {
        color: #234;
    }
    #friendship a strong.delete {
        display: none;
        position: absolute;
        left: 5px;
        top: 1px;
        color: #abc;
    }
    #friendship a:hover strong.delete {
        display: inline;
    }

textarea.aboutme {
    width: 300px;
    height: 300px;
}
select.location {
    width: 230px;
    font-weight: bold;
}
.settingsmodal ul li input{
    width: 140px;
    margin-left: 20px;
}
.settingsmodal ul li span {
    float: left;
    width: 180px;
    line-height: 2.5em;
}