.wysiwyg-youtube-preview {
    position: relative;
    width: 128px;
    height: 96px;
    clear: both;
}
.wysiwyg-youtube-preview span {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 96px;
    opacity: 0.7;
    background-image: url( 'http://static.zino.gr/phoenix/wysiwyg-play-video.png' );
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

