#xsldebug{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    border: 1px solid #346;
    width: 300px;
    height: 120px;
    z-index: 2000;
}
#xsldebug h4{
    margin: 0;
    padding: 0;
    text-align: center;
    background: #346;
    color: white;
}
#xsldebug h4 span{
    float: right;
    display: block;
    padding-right: 5px;
    cursor: pointer;
}
#xsldebug ul{
    overflow: auto;
    color: black;
    height: 105px;
}
#xsldebug li{
    clear: both;
}
#xsldebug ul li.ok{
    color: #33CC00;
}
#xsldebug ul li.warning{
    color: #FF6600;
}
#xsldebug ul li.critical{
    color: #FF0033;
}

#xsldebug ul li span.which{
    display: block;
    float: left;
    width: 170px;
}
#xsldebug ul li span.microtime1{
    display: block;
    float: left;
    margin-left: 10px;
    width: 50px;
}
#xsldebug ul li span.microtime2{
    display: block;
    float: left;
    margin-left: 10px;
}
