div.latestphotos {
    margin: 20px auto 20px auto;
}
div.latestphotos ul {
    padding: 0;
}
div.latestphotos ul li {
    float: left;
    margin: 8px;
    height: 110px;
    text-align: center;
}
div.latestphotos ul li img {
    border: 1px solid #cce;
}
