div#im  h2 {
	text-align: center;
}
div#im div.cred {
	border: 1px solid #dad9d9;
	text-align: center;
	width: 500px;
	height: 210px;
	margin: 20px auto;
}
div#im div.cred h3 {
	font-size: 100%;
	color: #4875c7;
	text-align: center;
	margin: 5px 0 15px 0;
}
div#im div.cred div.empwd {
	text-align: left;
	padding: 0 0 0 100px;
}
div#im div.cred div.empwd div.mail span {
	padding: 0 23px 0 0;
}
div#im div.cred div.empwd div.pwd {
	margin: 7px 0 0 0;
}
div#im div.cred div.empwd div.pwd span {
	padding: 0 8px 0 0;
}
div#im div.cred div.wrong {
	margin: 10px 0 0 0;
}
div#im div.cred div.wrong {
	font-size: 90%;
	font-weight: 700;
	height: 18px;
}
div#im div.cred div.wrong > div {
	display: none;
}
div#im div.cred div.wrong > div.w {
	font-weight: 400;
}
div#im div.cred div.wrong > div.w img {
	vertical-align: -2px; 
	padding: 0 1px 0 0;
}
div#im div.cred div.next {
	margin: 15px 0 0 0;
}
div#im div.cred div.barfade {
	margin: 20px 0 0 0;
}
div#im div.cred > p {
	padding: 5px; 
	font-size: 80%; 
	margin: 0;
}