#search {
    padding-bottom: 40px;
}
#search h2 {
	text-align: center;
}
#search div.ybubble {
    margin: 0 auto;
}
#search .ybubble form input.submit {
	border: 0 none transparent;
    font-size: 110%;
	color: #105cb6;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    width: 96px;
    height: 32px;
    padding: 0;
    position: relative;
    top: 15px;
}
#search .ybubble i.tl {
    height: 9px;
}
#search .ybubble form input.submit:hover {
    color: #000033;
}
#search .ybubble form .search {
    width: 49%;
}
#search .ybubble .body {
    padding: 10px 0 0 0;
}
