div#im {
}
div#im div.cred {
	border: 1px solid #dad9d9;
	text-align: center;
	width: 500px;
	height: 170px;
	margin: 20px auto;
}
div#im div.cred h3 {
	font-size: 100%;
	color: #4875c7;
	text-align: center;
	margin: 5px 0 15px 0;
}
div#im div.cred div.empwd {
	text-align: left;
	padding: 0 0 0 100px;
}
div#im div.cred div.empwd div.mail span {
	padding: 0 23px 0 0;
}
div#im div.cred div.empwd div.pwd {
	margin: 7px 0 0 0;
}
div#im div.cred div.empwd div.pwd span {
	padding: 0 5px 0 0;
}
div#im div.cred div.wrong {
	margin: 20px 0 0 0;
}
div#im div.cred div.wrong {
	font-size: 90%;
	font-weight: 700;
}
div#im div.cred div.next {
	margin: 20px 0 0 0;
}