div.b300x250 {
	width: 305px;
	height: 55px;
	float: right;
	text-align: right;
}
div.b728x90 {
	text-align: center;
    width: 733px;
    height: 95px;
	margin: 0 auto;
}
div.b728x90 a img {
	border: 1px solid #ccc;
    color: blue;
}
