.settings {
    padding: 30px 0 30px 5px;
}
.settings .sidebar {
    float: right;
    width: 300px;
    height: 100%;
    background: #fff;
    padding-left: 50px;
}
.sidebar .savesettings .savebutton {
    margin: 5px 0 0 0;
}
.sidebar .savesettings .savebutton a {
    display: block;
}
.sidebar .savesettings div.savebutton img {
    vertical-align: -2px;
    margin-right: 3px;
}
.sidebar .backtoprofile {
    margin: 20px 0 0 0;
}
.sidebar .backtoprofile a {
    display: block;
}
.sidebar .savesettings .saving span {
    padding: 0 0 0 5px;
    vertical-align: 3px;
}
.sidebar .disabled {
    opacity: 0.3;
	filter: alpha(opacity = 30);
	background: #fff;
}
.sidebar a.disabled:hover {
    color: #105cb6;
}
.settings .sidebar ol {
    list-style: none;
    padding: 10px;
    margin: 0;
}
.sidebar ol li {
    padding: 0 0 0 18px;
    margin: 0 0 0 22px;
    background-color: #fff;
}
.sidebar ol li.s1_selected {
	font-weight: bold;
    background-position: -71px -334px;
    background-color: #047cbb;
}
.sidebar ol li a {
    height: 25px;
    padding: 5px 35px 5px 35px;
    line-height: 22px;
    vertical-align: middle;
    border-bottom: 1px solid #eef;
    display: block;
    white-space: nowrap;
}
.sidebar ol li a span {
	margin-left: -30px;
	padding-left: 22px;
	float: left;
}
.settings .tabs {
    margin: 0 350px 0 0;
}
.tabs form .option { /* denotes a specific setting */
    padding: 10px 0;
}
.tabs form .barfade {
	padding: 0;
	margin: 5px 0;
}
.tabs form div label {
    float: left;
    width: 300px;
    display: block;
}
#personalinfo div span.invaliddob {
	display: none;
	opacity: 0;
	font-weight: bold;
	padding-left: 10px;
	font-size: 80%;
}
.tabs form div .setting input.small,
.tabs form div .setting select.small {
    width: auto;
}
.tabs form div div.setting input,
.tabs form div div.setting textarea, 
.tabs form div div.setting select {
    border: 1px solid #666;
    width: 50%;
}
.tabs form div table tr th {
    text-align: left;
}
.tabs form div table tr td {
    text-align: center;
}
.tabs form div .setting {
    margin-left: 300px;
    border: none;
}
#contactinfo div .setting input {
	width: 300px;
}
#interestsinfo .option {
	margin: 10px 0;
}
#interestsinfo .option .setting .add {
	padding-top: 20px;
	clear: left;
}
#interestsinfo .option .setting .add a {
	margin-left: 5px;
	vertical-align: 1px;
}
#interestsinfo .option .setting .add input {
	width: 200px;
}
#interestsinfo .option .setting .add ul {
    border: 1px solid gray;
    border-top-width:0px;
    width:200px;
	max-height:250px;
	overflow:auto;
    position: absolute;
    z-index: 1;
    background-color: white;
	display: none;
}
#interestsinfo .option .setting .add ul li.selected{
    background-color: #3377EE;
    color: white;
    cursor: pointer;
}
#interestsinfo .creation {
	display: none;
}
.settings .tabs form div .setting ul.interesttags {
	margin: 0;
	padding: 0;
	list-style: none;
}
form div .setting ul.interesttags li {
	margin: 0 10px 7px 0;
	padding: 0;
	float: left;
}
#email span {
	font-weight: bold;
	font-size: 80%;
	display: none;
	opacity: 0;
}
#email span img {
	vertical-align: -2px;
}
#msn span {
	font-weight: bold;
	font-size: 80%;
	display: none;
	opacity: 0;
}
#msn span img {
	vertical-align: -2px;
}
#photo .changeavatar{
	clear: both;
}
#avatarlist {
	display: none;
	top: 10%;
	left: 30%;
	position: fixed;
	background: #eef5f9;
	border: 1px solid #284659;

}
#avatarlist .uploaddiv {
	position: absolute;
	top: 25px;
	right: 0;
}
#avatarlist .uploaddiv object.uploadframe {
	height: 40px;
}
#avatarlist ul {
	margin: 60px 0 0 0;
	padding: 0;
	width: 490px;
	height: 400px;
	overflow: auto;
}
#avatarlist ul li {
	margin: 0 5px 5px 0;
	padding: 0;
	float: left;
	width: 110px;
	height: 110px;
	text-align: center;
}
#avatarlist ul li img.photosmall {
	padding: 1px;
	border: 1px solid #ccc;
}
#avatarlist div.cancel {
	text-align: center;
}
#pwdmodal {
	display: none;
    top: 10%;
	left: 30%;
	position: fixed;
	background: #eef5f9;
	border: 1px solid #284659;
    width: 400px;
}
#pwdmodal > div {
    padding: 0 0 0 20px;
}
.oldpassword {
	margin: 10px 0;
}
.newpassword {
	margin: 10px 0;
}
.renewpassword {
	margin: 10px 0 50px 0;
}
.oldpassword div .wrongpwd {
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	margin-top: 3px;
}
.oldpassword div .wrongpwd span {
	display: none;
}
.oldpassword div .wrongpwd span img {
	vertical-align: -3px; 
	padding-right: 3px;
}
.newpassword div .shortpwd {
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	margin-top: 3px;
}
.newpassword div .shortpwd span {
	display: none;
}
.newpassword div .shortpwd span img {
	vertical-align: -3px; 
	padding-right: 3px;
}
.renewpassword div .wrongrepwd {
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	margin-top: 3px;
}
.renewpassword div .wrongrepwd span {
	display: none;
}
.renewpassword div .wrongrepwd span img {
	vertical-align: -3px; 
	padding-right: 3px;
}	
#pwdmodal .save {
    margin: 0 0 20px 0;
	text-align: center;
}
#settingsinfo label { 
	font-weight: bold;
}
#settingsinfo .email label {
    font-weight: normal;
    float: none;
    margin: 2px 0;
}
#email span span.s_invalid {
	vertical-align: 3px;
	padding-top: 3px;
}
#settingsinfo .changepwdl {
    display:block;
}
#settingsinfo .changepwdl label {
    width: 400px;
    text-align: center;
}
#settingsinfo .barfade {
    width: 400px;
    clear: left;
}
#settingsinfo .emailbarfade { 
    margin: 10px 0;
}
#settingsinfo .pwdbarfade {
    margin: 35px 0 0 0;
}
#settingsinfo .notifyme {
	font-weight: bold;
	clear: left;
	padding-top: 30px;
	display: block;
}
#settingsinfo .setting table thead tr th {
	font-weight: 400;
}
#settingsinfo .setting table tbody tr th {
	font-weight: 400;
}
.settings .explanation {
    color: #aaa;
    font-size: 90%;
    margin-top: 10px;
}
