div#joined {
	padding: 0;
	text-align: center;
}
div#joined div.ybubble {
	text-align: left;
	width: 550px;
	height: 50px;
	margin: auto;
}
div#joined div.ybubble div.body div.welcome {
	padding: 7px 0 0 0;
	text-align: center;
}
div#joined div.profinfo{
	text-align: left;
	padding: 20px 0 0 0;
	margin: auto;
	width: 550px;
}
div#joined div.profinfo div.logininfo {
	display:block;
	background: #82a4b6;
	width:302px;
	border: 1px solid #335;
	padding:5px;
}
div#joined div.profinfo div.loginfo span {
	display: block;
	text-align: center;
	font-size:80%;
	color: white;
	padding: 2px;
}
div#joined div.profinfo form > span {
	padding: 10px 0 3px 0;
	display: block;
}
div#joined div.profinfo form span.invaliddob {
	padding: 0;
	font-weight: bold;
	font-size: 90%;
	display: none;
	margin-left: 5px;
	vertical-align: 1px;
}
div#joined div.profinfo form span.invaliddob span {
	display: inline;
}
div#joined div.profinfo p {
	font-size: 105%;
}
div#joined div a.button {
	display: block;
	width: 120px;
	margin: 20px auto 0 auto;
}