div.usersections {
	padding: 25px 0 5px 0;
}
div.usersections a img {
	float: left;
	margin: 3px 6px 20px 3px;
	border: 1px solid #666;
}
div.usersections a span.name {
	font-size: 120%;
	display: inline;
	font-weight: bold;
}
div.usersections ul {
	margin: 0 0 0 160px;
	padding: 15px 10px 0 0;
	text-align: right;
	background: #fff url( 'http://static.zino.gr/phoenix/copybg_rev.jpg' ) repeat-x 0 -8px;
	height: 30px;
	vertical-align: bottom;
}
div.usersections ul li {
	padding: 0 5px 0 5px;
	font-size: 105%;
	display: inline;
}
div.usersections ul li.selected a {
	font-weight: 700;
    color: #4a7aab;
}
div.usersections div {
	clear: both;
}
