div.settings {
    padding: 30px 0 30px 5px;
}
div.settings div.sidebar {
    float: right;
    width: 300px;
    height: 100%;
    background: #fff;
    padding-left: 50px;
}
div.sidebar div.savesettings div.savebutton {
    margin: 5px 0 0 0;
}
div.sidebar div.savesettings div.savebutton a {
    display: block;
}
div.sidebar div.savesettings div.savebutton img {
    vertical-align: -2px;
    margin-right: 3px;
}
div.sidebar div.backtoprofile {
    margin: 20px 0 0 0;
}
div.sidebar div.backtoprofile a {
    display: block;
}
div.sidebar div.savesettings div.saving span {
    padding: 0 0 0 5px;
    vertical-align: 3px;
}
div.sidebar div.savesettings div.saved span span {
    background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1083px;
    padding: 1px 20px 0 0;
}
div.sidebar a.disabled {
    opacity: 0.3;
	filter: alpha(opacity = 30);
	background: #fff;
}
div.sidebar a.disabled:hover {
    color: #105cb6;
}
div.settings div.sidebar ol {
    list-style: none;
    padding: 10px;
    margin: 0;
}
div.settings div.sidebar ol li {
    padding: 0 0 0 18px;
    margin: 0 0 0 22px;
    background: #fff none no-repeat left;
}
div.settings div.sidebar ol li.selected {
	font-weight: bold;
	background: #047cbb url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -465px -1221px;
}
div.settings div.sidebar ol li a {
    background-repeat: no-repeat;
    background-position: 5pt;
    height: 25px;
    padding: 5px 35px 5px 35px;
    line-height: 22px;
    vertical-align: middle;
    border-bottom: 1px solid #eef;
    display: block;
}
div.sidebar ol li a span {
	margin-left: -30px;
	padding-left: 22px;
	float: left;
}
div.sidebar ol li.selectedpersonal a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -465px -1002px;
}
div.sidebar ol li.selectedcharacteristics a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -465px -1184px;
}
div.sidebar ol li.selectedinterests a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -465px -1110px;
}
div.sidebar ol li.selectedcontact a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -465px -1145px;
}
div.sidebar ol li.selectedsettings a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -465px -1075px;
}
div.sidebar ol li.personal a span {
    background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -235px -546px;
}	
div.sidebar ol li.characteristics a span {
    background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -815px;
}
div.sidebar ol li.interests a span {
    background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -235px -342px;
}
div.sidebar ol li.contact a span {
    background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -235px -618px;
}
div.sidebar ol li.settings a span {
    background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -235px -72px;
}
div.settings div.tabs {
    margin-right: 350px;
}
div.settings div.tabs form div.option { /* denotes a specific setting */
    padding: 10px 0;
}
div.settings div.tabs form div.barfade {
	padding: 0;
	margin: 5px 0;
}
div.settings div.tabs form div label {
    float: left;
    width: 300px;
    display: block;
}
form#personalinfo div span.invaliddob {
	display: none;
	opacity: 0;
	font-weight: bold;
	padding-left: 10px;
	font-size: 80%;
}
form#personalinfo div span.invaliddob span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1665px;
	padding: 0 4px 0 12px;
}

/*
div.settings div.tabs form#personalinfo div.option div.forstudents {
	font-size: 80%;
	background-image: url( 'http://static.zino.gr/phoenix/error.png' );
	background-repeat: no-repeat;
	padding: 1px 0 0 20px;
	margin: 5px 0 0 0;
}
*/
div.settings div.tabs form div div.setting input.small,
div.settings div.tabs form div div.setting select.small {
    width: auto;
}
div.settings div.tabs form div div.setting input,
div.settings div.tabs form div div.setting textarea, 
div.settings div.tabs form div div.setting select {
    border: 1px solid #666;
    width: 50%;
}
div.settings div.tabs form div table tr th {
    text-align: left;
}
div.settings div.tabs form div table tr td {
    text-align: center;
}
div.settings div.tabs form div div.setting {
    margin-left: 300px;
    border: none;
}
div.settings div.tabs form#contactinfo div div.setting input {
	width: 300px;
}
form#interestsinfo div.option {
	margin: 10px 0;
}
form#interestsinfo div.option div.setting div.add {
	padding-top: 20px;
	clear: left;
}
form#interestsinfo div.option div.setting div.add a {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 0;
	padding-left: 16px;
	margin-left: 5px;
	vertical-align: 1px;
}
form#interestsinfo div.option div.setting div.add input {
	width: 200px;
}
form#interestsinfo div.option div.setting div.add form {
	display: none;
}
form#interestsinfo div.option div.setting div.add form select {
	width: 200px;
	border-top-width: 0px;
}
form#interestsinfo div.creation {
	display: none;
}
div.settings div.tabs form div div.setting ul.interesttags {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.settings div.tabs form div div.setting ul.interesttags li {
	margin: 0 10px 7px 0;
	padding: 0;
	float: left;
}
div#email span {
	font-weight: bold;
	font-size: 80%;
	display: none;
	opacity: 0;
}
div#email span img {
	vertical-align: -2px;
}
div#msn span {
	font-weight: bold;
	font-size: 80%;
	display: none;
	opacity: 0;
}
div#msn span img {
	vertical-align: -2px;
}
div.settings div.tabs form#personalinfo div.option div.setting div#avatarlist {
	display: none;
	top: 10%;
	left: 30%;
	position: fixed;
	background: #eef5f9;
	border: 1px solid #284659;

}
div#avatarlist div.uploaddiv {
	position: absolute;
	top: 25px;
	right: 0;
}
div#avatarlist div.uploaddiv object.uploadframe {
	height: 40px;
}
div#avatarlist ul {
	margin: 60px 0 0 0;
	padding: 0;
	width: 490px;
	height: 400px;
	overflow: auto;
}
div#avatarlist ul li {
	margin: 0 5px 5px 0;
	padding: 0;
	float: left;
	width: 110px;
	height: 110px;
	text-align: center;
}
div#avatarlist ul li img.photosmall {
	padding: 1px;
	border: 1px solid #ccc;
}
div#avatarlist div.cancel {
	text-align: center;
}
div#pwdmodal {
	display: none;
    top: 10%;
	left: 30%;
	position: fixed;
	background: #eef5f9;
	border: 1px solid #284659;
    width: 400px;
}
div#pwdmodal > div {
    padding: 0 0 0 20px;
}
div.oldpassword {
	margin: 10px 0;
}
div.newpassword {
	margin: 10px 0;
}
div.renewpassword {
	margin: 10px 0 50px 0;
}
div.oldpassword div div.wrongpwd {
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	margin-top: 3px;
}
div.oldpassword div div.wrongpwd span {
	display: none;
}
div.oldpassword div div.wrongpwd span img {
	vertical-align: -3px; 
	padding-right: 3px;
}
div.newpassword div div.shortpwd {
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	margin-top: 3px;
}
div.newpassword div div.shortpwd span {
	display: none;
}
div.newpassword div div.shortpwd span img {
	vertical-align: -3px; 
	padding-right: 3px;
}
div.renewpassword div div.wrongrepwd {
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	margin-top: 3px;
}
div.renewpassword div div.wrongrepwd span {
	display: none;
}
div.renewpassword div div.wrongrepwd span img {
	vertical-align: -3px; 
	padding-right: 3px;
}	
div#pwdmodal div.save {
    margin: 0 0 20px 0;
	text-align: center;
}
div.settings div.tabs form#settingsinfo label { 
	font-weight: bold;
}
div.settings div.tabs form#settingsinfo div.email label {
    font-weight: normal;
    float: none;
    margin: 2px 0;
}
div.settings form#settingsinfo div.changepwdl {
    display:block;
}
div.settings form#settingsinfo div.changepwdl label {
    width: 400px;
    text-align: center;
}
div.settings div.tabs form#settingsinfo div.barfade {
    width: 400px;
    clear: left;
}
div.settings div.tabs form#settingsinfo div.emailbarfade { 
    margin: 10px 0;
}
div.settings div.tabs form#settingsinfo div.pwdbarfade {
    margin: 35px 0 0 0;
}
div.settings div.tabs form#settingsinfo span.notifyme {
	font-weight: bold;
	clear: left;
	padding-top: 30px;
	display: block;
}
div.settings div.tabs form#settingsinfo div.setting table thead tr th {
	font-weight: 400;
}
div.settings div.tabs form#settingsinfo div.setting table tbody tr th {
	font-weight: 400;
}
div.settings div.explanation {
    color: #aaa;
    font-size: 90%;
    margin-top: 10px;
}
