#pview .ads {
	display: none;
}
#pview h2 {
	margin: 0 2px 0 0;
	padding: 0;
	display: inline;
}
/*#pview .ads {    
    position: absolute;
    right: 23px;
    top: 138px;
    z-index: 2;
}
*/
#pview div.ads h3 {
    display: none;
}
#pview dl {
	margin: 2px 0 0 0;
}
#pview dl dd.commentsnum {
	margin: 0 5px 0 0;
	display: inline;
}
#pview dl dd.time {
	display: inline;
}
#pview ul.edit {
	margin: 25px 0 0 0;
}
#pview ul.edit li {
	display: inline;
	margin: 0 0 0 2px;
}
#pview ul.edit li:first {
	margin: 0;
}
/* all this trouble to make it resizable :-) */
#pview .pthumbs {
    height: 110px;
	margin: 50px 0 20px 0;
    text-align: center;
    width: 96%;
}
#pview .pthumbs div.arrow {
    height: 150px;
    line-height: 150px;
    width: 50px;
}
#pview .pthumbs div.arrow a img {
	border: none;
	margin-bottom: 30px;
    vertical-align: middle;
}
#pview .pthumbs div.arrow a {
    vertical-align: middle;
}
#pview .pthumbs div.left {
    float: left;
}
#pview .pthumbs div.right {
    float: right;
}
#pview .pthumbs ul {
	height: 110px;
	text-align: center;
}
#pview .pthumbs ul li {
    margin: 25px 2px 0 2px;
	display: inline;
}
#pview .pthumbs ul li.selected img {
	border: 4px solid #82a4b6;
	padding: 1px;
}
#pview .pthumbs ul li a img {
	border: 1px solid #ccc;
	padding: 1px;	
}
#pview .thephoto {
	text-align:center;
	padding-top: 0;
	position: relative;
	margin: auto;
}
#pview .banner {
	margin: 20px auto;
}
#pview .comments {
	margin: 20px 0 0 0;
}
#pview .comments .pagifycomments {
	text-align: center;
}
.s_buy {
    background-image: url( 'http://static.zino.gr/phoenix/store/basket.png' );
    background-repeat: no-repeat;
}
