#photolist {
	padding-bottom: 20px;
}
#photolist h2 {
	margin: -7px 0 0 0;
	padding: 0;
}
#photolist .owner {
	margin: 4px 0;
}
#photolist div.owner div.edit {
	display: inline;
}
#photolist .owner .delete {
	margin: 0 0 0 5px;
	display: inline;
}
#photolist dl .photonum {
	display: inline;
}
#photolist dl dt.commentsnum {
	margin: 0 5px 2px 3px;
	display: inline;
}
#photolist ul {
	padding: 10px 0 0 0;
	width: 100%;
    margin: 80px 0 0 0;
	clear: both;
}
#photolist ul li {
	padding: 5px 10px;
	width: 210px;
	height: 270px;
	text-align: center;
}
#photolist  div.uploaddiv {
	padding-top: 15px;
	border: 1px dotted #ccc;
	height: 60px;
	width: 300px;
	position: absolute;
	top: 175px;
	right: 30px;
	margin-top: -40px;
    overflow: hidden;
}
#photolist div.uploaddiv object.uploadframe {
	height: 60px;
}
#photolist div.uploaddiv iframe.uploadframe { /* IE */
    height: 60px;
    position: relative;
    left: -5px;
}
#photolist .rename, #photolist .delete{
	margin: 5px 0;	
}
#photolist .rename a, #photolist .delete a {
	font-size: 95%;
}
#photolist div.pagifyimages {
	text-align: center;
}
