div#photolist {
	padding-bottom: 20px;
}
div#photolist h2 {
	margin: -7px 0 0 0;
	padding: 0;
}
div#photolist div.owner {
	margin: 4px 0;
}
div#photolist div.owner div.edit {
	display: inline;
}
div#photolist div.owner div.delete {
	margin: 0 0 0 5px;
	display: inline;
}
div#photolist dl dt.photonum {
	display: inline;
	font-size: 90%;
}
div#photolist dl dt.commentsnum {
	margin: 0 5px 2px 3px;
	font-size: 85%;
	display: inline;
}
div#photolist ul {
	padding: 10px 0 0 0;
	width: 100%;
	clear: both;
}
div#photolist ul li {
	padding: 5px 10px;
	float: left;
	width: 210px;
	height: 270px;
	text-align: center;
}
div#photolist  div.uploaddiv {
	padding-top: 15px;
	border: 1px dotted #ccc;
	height: 60px;
	width: 300px;
	position: absolute;
	top: 175px;
	right: 30px;
	margin-top: -40px;
    overflow: hidden;
}
div#photolist div.uploaddiv object.uploadframe {
	height: 60px;
}
div#photolist div.uploaddiv iframe.uploadframe { /* IE */
    height: 60px;
    position: relative;
    left: -5px;
}
div#photolist div.rename, div#photolist div.delete{
	margin: 5px 0;	
}
div#photolist div.rename a, div#photolist div.delete a {
	font-size: 95%;
}
div#photolist div.pagifyimages {
	text-align: center;
}
