div#photolist {
	margin-bottom: 20px;
}
div#photolist h2 {
	margin: -7px 0 0 0;
	padding: 0;
}
div#photolist div.owner {
	margin: 4px 0;
}
div#photolist div.owner div.edit {
	display: inline;
}
div#photolist div.owner div.edit a {
	background-image: url( 'http://static.zino.gr/phoenix/iconlist.png' );
	background-position: 0 -1873px;
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
}
div#photolist div.owner div.delete {
	margin: 0 0 0 5px;
	display: inline;
}
div#photolist div.owner div.delete a {
	background-image: url( 'http://static.zino.gr/phoenix/delete.png' );
	background-repeat: no-repeat;
	padding: 0 0 0 16px;
}
div#photolist dl {
	padding: 0;
	margin: 0;
}
div#photolist dl dt.photonum {
	background-image: url('http://static.zino.gr/phoenix/iconlist.png');
	background-position: 0 -1531px;
	background-repeat: no-repeat;
	padding: 0 0 0 19px;
	margin: 0;
	display: inline;
	font-size: 90%;
}
dt.commentsnum, span.commentsnum {
	background-image: url('http://static.zino.gr/phoenix/iconlist.png');
	background-position: 0 -670px;
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
	margin: 0 0 0 5px;
	display: inline;
	font-size: 90%;
}
span.commentsnum {
	vertical-align: 2px;
}
div#photolist ul {
	padding: 10px 0 0 0;
	margin: 0;
	width: 100%;
	list-style: none;
	clear: both;
	/*overflow: hidden;*/
}
div#photolist ul li {
	padding: 5px 10px;
	margin: 0;
	float: left;
	width: 210px;
	height: 270px;
	text-align: center;
	/*display: inline;*/
}
div#photolist  div.uploaddiv {
	padding-top: 15px;
	border: 1px dotted #ccc;
	height: 60px;
	width: 300px;
	position: absolute;
	top: 175px;
	right: 30px;
	margin-top: -40px;
    overflow: hidden;
}
div#photolist div.uploaddiv object.uploadframe {
	height: 60px;
}
div#photolist div.uploaddiv iframe.uploadframe { /* IE */
    height: 60px;
    position: relative;
    left: -5px;
}
div#photolist div.rename, div#photolist div.delete{
	margin: 5px 0;	
}
div#photolist div.rename a, div#photolist div.delete a {
	font-size: 95%;
}
div#photolist div.pagifyimages {
	text-align: center;
}