div.photo {
	font-size: 100%;
	font-weight: normal;
	text-align: center;
	display: inline;
}
div.photo div {
	padding: 3px 0 0 0;
	margin: 0;
	display: inline;
}
div.photo div span.addfav {	
	padding: 0 3px 0 18px;
	margin: 0;
	display: inline;
}