div.thephoto div {
    display: none;
}
div.thephoto div.frienders {
    position: absolute;
    left: 270px;
    top: 100px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 250px;
    margin-left: 20px;
}
div.thephoto div.frienders div {
    margin-top: 10px;
}
div.thephoto div.frienders form {
    margin-top: 5px;
}
div.thephoto div.frienders form input {
    width: 130px;
    color: #777777;
}
div.thephoto div.tagme {
    width: 170px;
    height: 170px;
    /* If you change border width, change js/album/photo/tag.js */
    border: 3px dotted #FFFFBB;
    position: absolute;
    left: 100px;
    top: 100px;
}
div.thephoto div.frienders ul {
    list-style-type: none;
    margin-right: 20px;
    text-align: left;
}
div.thephoto div.frienders ul li a:hover {
    text-decoration: underline;
}

