form#uploadform a{
	font-weight: bold;
	display:block;
    position:relative;
}
form#uploadform a span {
	position: absolute;
}
form#uploadform a span img {
	vertical-align: -10px;
}
form#uploadform a input.uploadfile1 {
	position: absolute;
	top: 4;
	left: -145px;
	opacity: 0.5;
}
form#uploadform a input.uploadfile2 {
	position: absolute;
	top: 4px;
	left: -70px;
	opacity: 0.5;
}
form#uploadform a input.uploadfile3 {
	position: absolute;
	top: 4px;
	left: -20px;
	opacity: 0.5;
}