div#pview {
    position: relative;
}
div#pview h2 {
	margin: 0 2px 0 0;
	padding: 0;
	display: inline;
}
div#pview  div.ads {    
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}
div#pview div.ads h3 {
    display: none;
}
div#pview dl {
	margin: 2px 0 0 0;
}
div#pview dl dd.commentsnum {
	margin: 0 5px 0 0;
	display: inline;
	font-size: 85%;
}
div#pview dl dd.time {
	display: inline;
	font-size: 85%;
}
div#pview dl dd.time span {
	padding: 2px 0 2px 17px;
}
div#pview ul.edit {
	margin: 25px 0 0 0;
}
div#pview ul.edit li {
	display: inline;
	margin: 0 0 0 2px;
}
div#pview ul.edit li:first {
	margin: 0;
}
/* all this trouble to make it resizable :-) */
div#pview div.pthumbs {
    height: 110px;
	margin: 50px 0 20px 0;
    text-align: center;
    width: 96%;
}
div#pview div.pthumbs div.arrow {
    height: 150px;
    line-height: 150px;
    width: 50px;
}
div#pview div.pthumbs div.arrow a img {
	border: none;
	margin-bottom: 30px;
    vertical-align: middle;
}
div#pview div.pthumbs div.arrow a {
    vertical-align: middle;
}
div#pview div.pthumbs div.left {
    float: left;
}
div#pview div.pthumbs div.right {
    float: right;
}
div#pview div.pthumbs ul {
	height: 110px;
	text-align: center;
}
div#pview div.pthumbs ul li {
    margin: 25px 2px 0 2px;
	display: inline;
}
div#pview div.pthumbs ul li.selected img {
	border: 4px solid #82a4b6;
	padding: 1px;
}
div#pview div.pthumbs ul li a img {
	border: 1px solid #ccc;
	padding: 1px;	
}
div#pview div.thephoto {
	text-align:center;
	padding-top: 0;
	position: relative;
	margin: auto;
}
div#pview div.banner {
	margin: 20px auto;
}
div#pview div.comments {
	margin: 20px 0 0 0;
}
div#pview div.comments div.pagifycomments {
	text-align: center;
}
