div#photoview h2 {
	margin: 0;
	padding: 0;
}
div#photoview div.owner {
	margin: 5px 0 0 0;
}
div#photoview div.owner div.edit {
	display: inline;
}
div#photoview div.owner div.edit a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -234px -887px;
	padding: 0 0 0 16px;
}
div#photoview div.owner div.delete {
	margin: 0 0 0 5px;
	display: inline;
}
div#photoview div.owner div.delete a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1413px;
	padding: 0 0 0 13px;
}
div#photoview div.owner div.mainimage {
	margin: 0 0 0 8px;
	display: inline;
}
div#photoview div.owner div.mainimage a span {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -233px -1078px;
	padding: 0 0 0 16px;
}
div#photoview dl {
	margin: 5px 0 0 0;
	padding: 0;
}
div#photoview dl dd.commentsnum {
	margin: 0 5px 0 0;
	display: inline;
	font-size: 85%;
}
div#photoview dl dd.commentsnum span {
	padding: 0 0 0 15px;
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1215px;
}
div#photoview dl dd.addfav, div#photoview dl dd.addtag{
	display: inline;
}
div#photoview dl dd.addtag span {
	padding: 0 0 0 21px;
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -465px -1401px;
}
div#photoview dl dd.addfav a span {
	background: url('http://static.zino.gr/phoenix/icons.jpg') no-repeat;
	padding: 0 0 0 16px;
}
div#photoview dl dd.addfav a.add span {
	background-position: -235px -276px;
}
div#photoview dl dd.addfav a.isadded span {
	background-position: -235px -210px;
	cursor: default;
}
/* all this trouble to make it resizable :-) */
div#photoview div.pthumbs {
    height: 110px;
	margin: 50px 0 20px 0;
    text-align: center;
    width: 96%;
}
div#photoview div.pthumbs div.arrow {
    height: 150px;
    line-height: 150px;
    width: 50px;
}
div#photoview div.pthumbs div.arrow a img {
	border: none;
	margin-bottom: 30px;
    vertical-align: middle;
}
div#photoview div.pthumbs div.arrow a {
    vertical-align: middle;
}
div#photoview div.pthumbs div.left {
    float: left;
}
div#photoview div.pthumbs div.right {
    float: right;
}
div#photoview div.pthumbs ul {
	height: 110px;
	text-align: center;
}
div#photoview div.pthumbs ul li {
    margin: 25px 2px 0 2px;
	display: inline;
}
div#photoview div.pthumbs ul li.selected img {
	border: 4px solid #82a4b6;
	padding: 1px;
}
div#photoview div.pthumbs ul li a img {
	border: 1px solid #ccc;
	padding: 1px;	
}
div#photoview div.thephoto {
	text-align:center;
	padding-top: 0;
	position: relative;
	margin: auto;
}
div#photoview div.banner {
	margin-top: 20px;
}
div#photoview div.comments {
	margin-top: 20px;
}
div#photoview div.comments div.pagifycomments {
	text-align: center;
}
