div.moodpicker {
    height: 55px;
    width: 68px;
    padding-top: 1px;
    position: relative;
}
div.moodpicker div.view {
    border: 1px solid #666;
    margin: 1px 1px 0 1px;
    display: block;
    width: 65px;
    height: 52px;
    position: relative;
    background: #ccc;
    overflow: hidden;
}
div.moodpicker div.view:hover {
    border: 1px solid black;
}
div.moodpicker img.selected {
    margin: 0;
    padding: 0;
    border: 1px solid #eee;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
div.moodpicker div.view a {
    float: right;
    line-height: 50px;
    text-decoration: none;
    padding: 2px 1px 0 3px;
    display: block;
    color: #333;
    background: url( 'http://static.zino.gr/phoenix/dropbutton.png' ) no-repeat 3px 0;
}
div.moodpicker a img {
    border-width: 0px;
}
div.moodpicker div.pick {
    background: #fff;
    border: 1px solid #666;
    width: 328px;
    margin: -1px 1px 1px 1px;
    padding: 0 0 2px 0;
    position: absolute;
    left: 0;
    top: 56px;
}
div.moodpicker div.pick ul {
    margin: 0;
    padding: 0 0 4px 2px;
}
div.moodpicker div.pick ul li, .nomood {
    display: block;
    float: left;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0 2px 4px 2px;
    padding: 1px;
    border: 1px solid black;
}
    .nomood {
        background: white;
    }
div.moodpicker div.pick ul li a {
    height: 52px;
    cursor: pointer;
}
div.moodpicker div.pick ul li a img {
    border: 1px solid white;
}
div.moodpicker div.pick ul li a:hover img {
    border: 1px solid #469;
}