
div.moodpicker div.view {
    border: 1px solid #666;
    margin: 1px 1px 0 1px;
    display: block;
    width: 65px;
    height: 52px;
    position: relative;
    background: #ccc;
    overflow: hidden;
}
div.moodpicker div.view:hover {
    border: 1px solid black;
}
div.moodpicker img.selected {
    margin: 0;
    padding: 0;
    border: 1px solid #eee;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
div.moodpicker div.view a {
    float: right;
    line-height: 50px;
    text-decoration: none;
    padding: 2px 1px 0 3px;
    display: block;
    color: #333;
    background: url( 'http://static.zino.gr/phoenix/dropbutton.png' ) no-repeat 3px 0;
}
div.moodpicker a img {
    border-width: 0px;
}
div.moodpicker div.pick ul {
    margin: 0;
    padding: 0 0 4px 2px;
}
div.moodpicker div.pick ul li a {
    height: 52px;
    cursor: pointer;
}
div.moodpicker div.pick ul li a img {
    border: 1px solid white;
}
div.moodpicker div.pick ul li a:hover img {
    border: 1px solid #469;
}





.mood > .activemood:hover {
    border-color: #8ad;
}
.mood {
    position: relative;
}
.moodpicker {
    background: #345;
    border: 3px solid #567;
    width: 360px;
    margin: 0;
    padding: 0 0 4px 4px;
    top: -7px;
    left: -7px;
    position: absolute;
}
.moodpicker ul li {
    background-color: white;
    width: 56px;
    height: 56px;
    margin: 4px 4px 0 0;
    float: left;
}
.editable.mood {
    cursor: auto;
    overflow: visible;
}
.moodtile {
    display: block;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 3px solid #567;
    background: no-repeat center white;
}
    .nomood {
        background: white;
    }
    .editable .moodtile {
        cursor: pointer;
    }
    .editable .moodpicker .moodtile:hover {
        opacity: 0.8;
    }
    .moodpicker ul li.activemood .moodtile:hover {
        opacity: 1;
    }
    .moodpicker ul li.activemood .moodtile {
        border-color: #8ad;
        cursor: auto;
    }