.mood > .activemood:hover {
    border-color: #8ad;
}
.mood {
    position: relative;
    height: 58px;
    width: 58px;
    margin: 4px 0 0 25px;
}
.moodpicker {
    background: #345;
    border: 3px solid #567;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 360px;
    margin: 0;
    padding: 0 0 4px 4px;
    top: -7px;
    left: -7px;
    position: absolute;
}
.moodpicker ul li {
    background: #345;
    width: 56px;
    height: 56px;
    margin: 4px 4px 0 0;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
    .moodpicker ul li .moodtile {
        opacity: 0.5;
    }
    .moodpicker ul li:hover {
        background: white;
    }
    .moodpicker ul li:hover .moodtile {
        opacity: 0.8;
    }
    .moodpicker ul li.activemood .moodtile {
        border-color: #8ad;
        cursor: auto;
        opacity: 1;
    }
.editable.mood {
    cursor: auto;
    overflow: visible;
    z-index: 3;
}
.moodtile {
    display: block;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 3px solid #567;
    background: no-repeat center white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
    .nomood {
        background: white;
    }
    .editable .moodtile {
        cursor: pointer;
    }