.userview {
    font-size: 120%;
    text-align: center;
    position: relative;
    padding: 5px 5px 0 5px;
}
.userview img {
    border: 3px solid white;
}
.maininfo {
    position: relative;
    text-align: left;
    display: block;
    float: left;
}
.maininfo .details {
    margin-left: 110px; 
}
.maininfo #useravatar {
    position: relative;
    cursor: pointer;
    display: inline;
}
.maininfo #useravatar .changeavatar {
    display: none;
    background-color: white;
    color: black;
    width: 100%;
    height: 14px;
    width: 106px;
    top: 46px;
    left: 0;
    padding: 2px 0 4px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    opacity: 0.9;
}
.maininfo #useravatar:hover .changeavatar {
    display: block;
}
.maininfo img.avatar {
    height: 100px;
    width: 100px;
    float: left;
}
.maininfo .username {
    font-size: 160%;
    line-height: 50px;
    font-weight: bold;
    color: #72B3DB;
    overflow: hidden;
    display: inline;
}
.heightweight ul {
    overflow: hidden;
}
.maininfo ul.asl li.dot:before,
.heightweight ul li.dot:before,
ul.accountmenu li.dot:before {
    content: ' â— ';
    color: #72b3db;
    font-size: 70%;
    position: relative;
    top: -2px;
}
.maininfo ul.asl > li {
    display: inline;
    margin: 0 3px 0 0;
}
.heightweight ul > li {
    float: left;
    margin: 0 3px 0 0;
}
.maininfo .slogan {
    line-height: 25px
}
.maininfo ul.asl {
    line-height: 25px;
    white-space: nowrap;
}
.maininfo ul.asl li {
    font-weight: bold;
    line-height: 200%;
}
.userview {
    position: relative;
    padding: 15px 0;
    min-width: 750px;
    padding-left: 50px;
}
.sidebar {
    width: 400px;
    min-height: 400px;
    float: left;
}
ul.userdetails {
    margin: 1em 0;
}
ul.userdetails > li {
    padding: 2px 0;
    text-align: left;
    width: 100%;
    font-weight: bold;
}
ul.userdetails li span {
    font-weight: normal;
}
li.heightweight {
    text-align: center;
}
li.heightweight ul {
    text-align: center;
    padding: 0 0 1em 0;
}
li.heightweight ul li {
    font-weight: bold;
}
ul.userdetails li.aboutme {
    padding: 1em 0;
}
.mplayer{
    margin-top: 20px;
}

.userinterests{
    text-align: left;
    margin-top: 20px;
}
.userinterests > li{
    margin: 10px 0;
}
.userinterests li div:first-child{
    font-weight: bold;
    margin: 2px 0;
}
.userinterests li div span.add{
    border: 3px solid transparent;
    display: inline-block;
    height: 11px;
    line-height: 8px;
    width: 12px;
    margin-left: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer; 
}
.userinterests li div span.add:hover{
    background: black;
    border: 3px solid #2a2;
    -moz-border-top-colors: #2A2 #060 #010;
    -moz-border-right-colors: #2A2 #060 #010;
    -moz-border-bottom-colors: #2A2 #060 #010;
    -moz-border-left-colors: #2A2 #060 #010;
    border-top-colors: #2A2 #060 #010;
    border-right-colors: #2A2 #060 #010;
    border-bottom-colors: #2A2 #060 #010;
    border-left-colors: #2A2 #060 #010;
}
.userinterests li ul li{
    float: left;
    margin-right: 13px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.userinterests li ul li:hover{
    color: #def;
}

.userinterests li ul li:hover span.delete{
    position: absolute;
    right: -15px;
    top: -1px;
    display: block;
}
.userinterests li ul li span.delete{
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 1px;
    height: 11px;
    line-height: 9px;
    width: 11px;
    vertical-align: top;
    display: none;
}
.userinterests li ul li span.delete:hover{
    border: 2px solid #22a;
    background: black;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.useritems{
    float: right;
}
.useritems li {
    float: left;
    text-align: center;
    padding: 0 15px;
}
.useritems li a{
    text-decoration: none;
}
.useritems li a:hover {
}
.useritems li a span {
    font-size: 160%;
    font-weight: bold;
    display: block;
}

.friendship {
    margin: 3px 0;
    padding: 5px;
    border: 1px solid #234;
    background-color: #abc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
}
.friendship a {
    color: #234;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 3px;
}
.friendship .love strong {
    color: #234;
}
.friendship a strong.delete {
    display: none;
    position: absolute;
    left: 5px;
    top: 1px;
    color: #abc;
}
.friendship a:hover strong.delete {
    display: inline;
}
textarea.aboutme {
    width: 300px;
    height: 300px;
}
select.location {
    width: 230px;
    font-weight: bold;
}
.settingsmodal {
    width: 260px;
    height: 230px;
}
.settingsmodal #tab_password input {
    width: 170px;
}
.settingsmodal #tab_email input[type=text] {
    width: 250px;
}
.rightbar {
    margin: 0 15px 0 400px;
    padding-left: 10px;
    text-align: left;
}
    .rightbar h2 {
        margin: 0 0 10px;
    }
    .rightbar .activities li {
        margin-bottom: 10px;
        padding: 5px;
        border-top: 1px solid #2C4762;
        background: #243A50;
        background: -moz-linear-gradient(top, #243A50, #243A50);
    }
        .rightbar .activities li a {
            text-decoration: none;
            color: white;
            display: block;
        }
        .rightbar .activities li a.photo {
            min-height: 66px;
        }
        .rightbar .activities li .head {
            display: block;
            font-weight: bold;
        }
        .rightbar .activities li .body {
            display: block;
        }
            .rightbar .activities li .body .wysiwyg-youtube-preview {
                clear: none;
            }
            .rightbar .activities .body img {
                max-height: 100px;
            }
        .rightbar .activities li .time {
            font-size: 11px;
        }
        .rightbar .activities li > a > img {
            float: right;
            height: 60px;
        }
ul.accountmenu {
    display: inline;
    line-height: 200%;
}
ul.accountmenu li {
    display: inline;
    padding-left: 5px;
}
ul.accountmenu li a {
    text-decoration: none;
}
.userview .tweetbox {
    text-align: left;
    width: auto;
    float: left;
}
    .tweetbox .tweet {
        
    }
