.maininfo {
    position: relative;
    text-align: left;
    display: block;
    float: left;
}
.maininfo .details {
    margin-left: 110px;
}
.maininfo img.avatar {
    height: 100px;
    width: 100px;
    float: left;
}
.maininfo .username {
    font-size: 160%;
    line-height: 200%;
    font-weight: bold;
    color: #72B3DB;
    overflow: hidden;
}
.maininfo ul.asl, .heightweight ul {
    overflow: hidden;
}
.maininfo ul.asl li.dot:before,
.heightweight ul li.dot:before {
    content: ' â— ';
    color: #72b3db;
    font-size: 70%;
    position: relative;
    top: -2px;
}
.maininfo ul.asl > li, .heightweight ul > li {
    float: left;
    margin: 0 3px 0 0;
}
.maininfo ul.asl li {
    font-weight: bold;
    line-height: 200%;
}
.userview {
    position: relative;
    padding: 15px 0;
    min-width: 750px;
    padding-left: 50px;
}
.sidebar {
    width: 400px;
    min-height: 400px;
    float: left;
}

ul.userdetails > li {
    padding: 2px 0;
    text-align: left;
    width: 100%;
    font-weight: bold;
}
    ul.userdetails li span {
        font-weight: normal;
    }
    li.heightweight {
        text-align: center;
    }
        li.heightweight ul {
            text-align: center;
            padding: 1em 0;
        }
        li.heightweight ul li {
            font-weight: bold;
        }
    ul.userdetails li.aboutme {
        padding: 1em 0;
    }

.mplayer{
    margin-top: 20px;
}

.userinterests{
    text-align: left;
    margin-top: 20px;
}
    .userinterests > li{
        margin: 10px 0;
    }
        .userinterests li div{
            font-weight: bold;
            clear: both;
            margin: 2px 0;
        }
        .userinterests li ul li{
            float: left;
            margin-right: 5px;
            position: relative;
        }
        .userinterests li ul li:after{
            content: ',';
        }
        .userinterests li ul li.last:after{
            content: '';
        }
        .userinterests li ul li span.delete{
            font-weight: bold;
            cursor: pointer;
            border: 2px solid transparent;
            padding: 1px;
            display: inline-block;
            height: 11px;
            line-height: 9px;
            width: 11px;
            vertical-align: top;
        }
        .userinterests li ul li span.delete:hover{
            border: 2px solid #22a;
            background: black;
            -moz-border-radius: 10px;
        }
.useritems{
    float: right;
}
    .useritems li {
        float: left;
        text-align: center;
        padding: 0 15px;
    }
        .useritems li a{
            text-decoration: none;
        }
            .useritems li a:hover {
            }
            .useritems li a span {
                font-size: 160%;
                font-weight: bold;
                display: block;
            }

#friendship {
    margin: 3px 0;
    padding: 5px;
    border: 1px solid #234;
    background-color: #abc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
}
    #friendship a {
        color: #234;
        font-weight: bold;
        text-decoration: none;
        position: relative;
        display: block;
        padding: 3px;
    }
    #friendship .love strong {
        color: #234;
    }
    #friendship a strong.delete {
        display: none;
        position: absolute;
        left: 5px;
        top: 1px;
        color: #abc;
    }
    #friendship a:hover strong.delete {
        display: inline;
    }

textarea.aboutme {
    width: 300px;
    height: 300px;
}
select.location {
    width: 230px;
    font-weight: bold;
}
.settingsmodal ul li input{
    width: 140px;
    margin-left: 20px;
}
.settingsmodal ul li span {
    float: left;
    width: 180px;
    line-height: 2.5em;
}
.rightbar {
    float: left;
}
