.userview {
    font-size: 120%;
    text-align: center;
    position: relative;
    padding: 5px 5px 0 5px;
}
.userview img {
    border: 3px solid white;
}
.maininfo {
    position: relative;
    text-align: left;
    display: block;
    float: left;
}
.maininfo .details {
    margin-left: 110px; 
}
.maininfo #useravatar {
    position: relative;
    cursor: pointer;
    float: left;
}
.maininfo #useravatar .changeavatar {
    display: none;
    background-color: white;
    color: black;
    height: 100px;
    width: 100px;
    top: 3px;
    left: 3px;
    position: absolute;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    opacity: 0.9;
    text-decoration: none;
}
.maininfo #useravatar:hover .changeavatar {
    display: block;
}
.maininfo img.avatar {
    height: 100px;
    width: 100px;
    float: left;
}
.maininfo .username {
    font-size: 160%;
    line-height: 50px;
    font-weight: bold;
    color: #72B3DB;
    overflow: hidden;
    display: inline;
}
.heightweight ul {
    overflow: hidden;
}
.maininfo ul.asl li.dot:before,
.heightweight ul li.dot:before,
ul.accountmenu li.dot:before {
    content: ' â— ';
    color: #72b3db;
    font-size: 70%;
    position: relative;
    top: -2px;
}
.maininfo ul.asl > li {
    display: inline;
    margin: 0 3px 0 0;
}
.heightweight ul > li {
    float: left;
    margin: 0 3px 0 0;
}
.maininfo .slogan {
    line-height: 25px;
}
#sloganmodal input {
    width: 350px;
}
.maininfo ul.asl {
    line-height: 25px;
    white-space: nowrap;
}
.maininfo ul.asl li {
    font-weight: bold;
    line-height: 200%;
}
.userview {
    position: relative;
    padding: 15px 0;
    min-width: 750px;
    padding-left: 50px;
}
.sidebar {
    width: 400px;
    min-height: 400px;
    float: left;
}
ul.userdetails {
    margin: 1em 0;
}
ul.userdetails > li {
    padding: 2px 0;
    text-align: left;
    width: 100%;
    font-weight: bold;
}
ul.userdetails li span {
    font-weight: normal;
}
li.heightweight {
    text-align: center;
}
li.heightweight ul {
    text-align: center;
    padding: 0 0 1em 0;
}
li.heightweight ul li {
    font-weight: bold;
}
ul.userdetails li.aboutme {
    padding: 1em 0;
}
.mplayer{
    margin-top: 20px;
}

.userinterests{
    text-align: left;
    margin-top: 20px;
    cursor: default;
    word-wrap: break-word;
}
.userinterests li{
    margin: 10px 0;
}
.userinterests li div.title{
    font-weight: bold;
    margin: 2px 0;
}
.userinterests li div.title span.edit{
    padding: 0 12px 0 0;
    background: transparent url("http://static.zino.gr/phoenix/edit.png") no-repeat;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}
.userinterests li:hover div.title span.edit{
    display: inline;
}
.userinterests li span.tag:after{
    content: ', ';
}
.userinterests li span.tag.last:after{
    content: '';
}

.userinterests.ego div.editarea{
    background: white;
    border: 1px solid #333;
}
.userinterests.ego div.editarea input{
    margin: 0;
    padding: 2px;
    width: 394px;
    border-width: 0 0 2px 0;
    border-style: dashed;
    border-color: #ccc;
}
.userinterests.ego div.editarea input.empty{
    color: #333;
}
.userinterests.ego div.editarea p{
    margin: 0;
    padding: 5px;
    overflow: hidden;
}
.userinterests.ego div.editarea span{
    padding: 0 4px;
    margin: 2px 4px;
    color: black;
    background: #ddd;
    border: 1px solid #aaa;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    cursor: pointer;
}
.userinterests.ego div.editarea span.selected{
    background: #777;
}
.userinterests.ego div.editarea a.delete{
    color: #333;
    display: block;
    clear: both;
    margin-top: 5px;
}
.userinterests.ego div.editarea span.tag:after{
    content: ' ';
}

.useritems{
    float: right;
}
.useritems li {
    float: left;
    text-align: center;
    padding: 0 15px;
}
.useritems li a{
    text-decoration: none;
}
.useritems li a span {
    font-size: 160%;
    font-weight: bold;
    display: block;
}

.friendship {
    margin: 3px 0;
    padding: 5px;
    border: 1px solid #234;
    background-color: #abc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
}
.friendship a {
    color: #234;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 3px;
}
.friendship .love strong {
    color: #234;
}
.friendship a strong.delete {
    display: none;
    position: absolute;
    left: 5px;
    top: 1px;
    color: #abc;
}
.friendship a:hover strong.delete {
    display: inline;
}
textarea.aboutme {
    width: 300px;
    height: 300px;
}
select.location {
    width: 230px;
    font-weight: bold;
}
.settingsmodal {
    width: 260px;
    height: 230px;
}
.settingsmodal #tab_password input {
    width: 170px;
}
.settingsmodal #tab_email input[type=text] {
    width: 250px;
}
.rightbar {
    margin: 0 15px 0 400px;
    padding-left: 10px;
    text-align: left;
}
    .rightbar h2 {
        margin: 0 0 10px;
    }
    .rightbar .activities li {
        margin-bottom: 10px;
        padding: 5px;
        border-top: 1px solid #2C4762;
        background: #243A50;
        background: -moz-linear-gradient(top, #243A50, #243A50);
    }
        .rightbar .activities li a {
            text-decoration: none;
            color: white;
            display: block;
        }
        .rightbar .activities li a.photo {
            min-height: 66px;
        }
        .rightbar .activities li .head {
            display: block;
            font-weight: bold;
        }
        .rightbar .activities li .body {
            display: block;
        }
            .rightbar .activities li .body .wysiwyg-youtube-preview {
                clear: none;
            }
            .rightbar .activities .body img {
                max-height: 100px;
            }
        .rightbar .activities li .time {
            font-size: 11px;
        }
        .rightbar .activities li > a > img {
            float: right;
            height: 60px;
        }
ul.accountmenu {
    display: inline;
    line-height: 200%;
}
ul.accountmenu li {
    display: inline;
    padding-left: 5px;
}
ul.accountmenu li a {
    text-decoration: none;
}
.userview .tweetbox {
    text-align: left;
    width: auto;
    float: left;
}
    .tweetbox .tweet {
        
    }

.avataredit .scrollbox{
    width: 400px;
    height: 130px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
}
.avataredit ul li {
    float: left;
    padding: 0;
    margin: 0 2px;
    background-color: white;
    border: 3px white solid;
    height: 100px;
    width: 100px;
}
.avataredit ul li:hover {
    border-color: #6C8ABB;
}
.avataredit ul li img {
    height: 100px;
    width: 100px;
    border: none;
    padding: 0;
    margin: 0;
}
