RewriteEngine On

RewriteRule ^photos$ index.php?resource=photo&method=listing [L,QSA]
RewriteRule ^photo/([0-9]+)$ index.php?resource=photo&method=view&id=$1 [L,QSA]
RewriteRule ^session/create$ index.php?resource=session&method=create [L]
php_flag display_errors on

