RewriteEngine On

RewriteRule ^photos$ index.php?resource=photo&method=listing [L,QSA]
RewriteRule ^photo/([0-9]+)$ index.php?resource=photo&method=view&id=$1 [L,QSA]

RewriteRule ^poll/([0-9]+)$ index.php?resource=poll&method=view&id=$1 [L,QSA]
RewriteRule ^pollvote/create$ index.php?resource=pollvote&method=create [L,QSA]

RewriteRule ^journals$ index.php?resource=journal&method=listing [L,QSA]
RewriteRule ^journal/([0-9]+)$ index.php?resource=journal&method=view&id=$1 [L,QSA]

RewriteRule ^session/create$ index.php?resource=session&method=create [L]
RewriteRule ^session/delete$ index.php?resource=session&method=delete [L]
RewriteRule ^login$ index.php?resource=session&method=view [L]

RewriteRule ^favourite/create$ index.php?resource=favourite&method=create [L]

RewriteRule ^news$ index.php?resource=news&method=listing [L,QSA]

php_flag display_errors on

