div#lbanner {
    background: url( 'http://static.zino.gr/phoenix/lbanner.png' ) no-repeat;
    height: 65px;
    width: 110px;
    float: left;
}
div#lbanner > h1 {
    padding: 9px 0 0 20px;
    margin: 0;
}
div#mbanner {
    background: url( 'http://static.zino.gr/phoenix/mbanner.png' ) repeat-x;
    height: 65px;
}
div#mbanner > div {
    padding-top: 3px;
    color: #fff;
    font-size: 8pt;
    position: absolute;
    top: 5px;
    right: 29px;
}
/*div#mbanner > div#loggedinmenu {
    top: 5px;
}
div#loggedinmenu > form {
    display: inline;
}
*/
div#mbanner > div > ul {
    display: inline;
}
div#mbanner > div > ul > li {
    display: inline;
}
div#mbanner > div > ul > li > form {
    display: inline;
}
img.banneravatar {
    width: 50px;
    height: 50px;
    border: 1px solid #ccaaff;
}
div#mbanner > div > input {
    background: #fff  url( 'http://static.zino.gr/phoenix/inputbg.png' ) no-repeat;
    border: 0;
    width: 104px;
    height: 18px;
    color: #aaa;
    font-size: 8pt;
    text-align: center;
    padding: 3px 0 0 0;
    margin: 1px 0 0 0;
}
div#mbanner > div > a.bannerinlink {
    font-size: 10pt;
    color: #fff;
    margin: 0 7px;
    vertical-align: 21px;
}
div#rbanner {
    background: url( 'http://static.zino.gr/phoenix/rbanner.png' ) no-repeat;
    width: 101px;
    height: 65px;
    float: right;
}
