.bubble {
    position: relative;
    background: #f6f6f6 url( 'http://static.zino.gr/phoenix/q_top.jpg' ) repeat-x top;
    padding: 10px;
}
i.tl {
    top: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.tr {
    top: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.bl {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
i.br {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}
.bubble i.qleft {
    background: url( 'http://static.zino.gr/phoenix/q_left.jpg' ) repeat-y left;
    width: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 10px;
}
.bubble i.qright {
    background: url( 'http://static.zino.gr/phoenix/q_right.jpg' ) repeat-y left;
    width: 10px;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
}
.bubble i.qbottom {
    /* q_bottom */
    background: url( 'http://static.zino.gr/phoenix/sprite_x.png' ) 0 -1047px;
    display: block;
    position: absolute;
    height: 10px;
    left: 10px;
    right: 10px;
    bottom: 0;
}
.ybubble {
    position: relative;
    width: 80%;
    margin: 0 auto 40px auto;
}
.ybubble .body {
	background: #ffda74; 
	height: 100%;
}
.ybubble i {
	background: url( 'http://static.zino.gr/phoenix/icons2.png' ) no-repeat;
}
.ybubble i.tl {
	background-position: -739px -1430px;
}
.ybubble i.tr {
	background-position: -203px -847px;
}
.ybubble i.bl {
	background-position: -739px -1109px;
	left: 0;
}
.ybubble i.br {
	background-position: -203px -198px;
	right: 0;
}
.ybubble form {
    text-align: center;
}
.ybubble form div.search {
    width: 50%;
    float: left;
    margin: 10px 0 10px 0;
    text-align: left;
}
.ybubble form .search h3 {
    display: inline;
    margin: 0;
    padding: 5px;
    font-size: 100%;
}
.bbbl {
    /* aplbubble_repeat */
    background: url( 'http://static.zino.gr/phoenix/sprite_x.png' ) 0 -892px;
	height: 19px;
	margin-right: 10px;
}
.bbbl .bbblmiddle {
	margin: 0 0 0 -7px;
	vertical-align: -1px;
}
.bbbl .s1_0007 {
	position: absolute;
}
