html, body {
    height: 100%;
    background: #5081ad;
}
body {
	font-size: 83%;
    font-family: sans-serif, serif , arial;
	margin: 0;
}
ul {
	list-style: none;
}
ul , li {
	margin: 0;
	padding: 0;
}
dl, dd {
	padding: 0;
	margin: 0;
}
div.eof {
	clear: both;
}
.invisible {
	display: none;
}
.barfade {
    height: 1px;
}
.barfade .leftbar {
	float: left;
	height: 1px;
	width: 153px;
}
.barfade .rightbar {
	float: right;
	height: 1px;
	width: 153px;
}
.colorlink {
	color: #105cb6;
}
.plist {
	overflow: hidden;
	position: relative;
}
/* modal overlays stylings */
div.mdloverlay1 {
	background: #000;
}
h3.modaltitle {
    height: 20px;
    background: #7b9db1;
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #284659;
    color: #fff;
}
#strip1left {
    float: left;
    width: 20px;
    height: 8px;
}
#strip1right {
    float: right;
    width: 20px;
    height: 8px;
}
#strip2 {
    background: #639dce url( 'http://static.zino.gr/phoenix/siderfade.png' ) repeat-x;
    /* siderfade */
    clear: both;
}
#midstrip {
    background: #fff;
}
#content {
    margin: 0 11px 0 11px;
    background: #fff;
    padding: 0 12px 0 7px;
}
#strip3left {
    float: left;
    width: 20px;
    height: 17px;
}
#strip3middle {
    height: 17px;
    /* content_fade */
    background: url( 'http://static.zino.gr/phoenix/sprite_x.png' ) 0 -814px;
}
#strip3right {
    float: right;
    width: 20px;
    height: 17px;
}
#downstrip {
    text-align: center;
    color: #fff;
    height: 87px;
    /* footerfade */
    background: url( 'http://static.zino.gr/phoenix/sprite_x.png' ) 0 -400px;
}
div.objectinfo {
    margin: 0 0 0 0px;
}
