div#copyleft {
    margin-top: 30px;
}
div#copyleft > span {
    font-size: 80%;
}
div#downstrip > div > a {
    font-size: 80%;
    padding: 0 9px;
}
div#downstrip > div#copyleft > a {
    padding: 0 0 0 1px;
}
