.imageview {
    position: relative;
}
.imageview > span {
    background: #d8d8d8;
    font-weight: bold;
    opacity: 0.8;
	filter: alpha(opacity=80);
    position: absolute;
    bottom: 4px;
    right: 1px;
    border-top: 1px solid #ccccee;
    border-left: 1px solid #ccccee;
    color: #000;
}
.imageview span .s1_0027 {
	vertical-align: -1px;
    margin: 0 -1px 0 0;
}
.vavie50 {
    float: left;
}
.vavie50:after {
    content: url( 'http://static.zino.gr/phoenix/shadow.png' );
    margin-left: -62px;
}
div.who span.vavie50 img.avatar {
    margin: 4px 5px 0 0;
}

div.newcomment .vavie50:after {
    content: url( 'http://static.zino.gr/phoenix/shadownewcomment.png' );
}
.rn {
    position: relative;
    float: left;
    display: block;
}
.rn img {
    position: absolute;
    top: 5px;
    left: 6px;
}
.rn span {
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
}
.vavie75 {
    width: 80px;
    height: 80px;
    padding: 0 2px 0 0;
}
.vavie75 img {
    width: 70px;
    height: 70px;
}
.vavie75 .s1_rndavie75 {
    width: 80px;
    height: 80px;
}

.vavie100 {
    width: 110px;
    height: 110px;
}
.vavie100 img {
    width: 100px;
    height: 100px;
}
.vavie100 .s1_rndavie100 {
    width: 110px;
    height: 110px;
}
.vavie150 {
    width: 160px;
    height: 160px;
}
.vavie150 img {
    width: 150px;
    height: 150px;
}
.vavie150 .s1_rndavie150 {
    width: 160px;
    height: 160px;
}
