.body {
	width: 100%;
}
.body .upper {
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 1px;
}
.body .upper .title {
	font: 14pt arial;
	color: #9b9696;
}
.body .upper .subheading {
	font: 10pt arial bold;
	float: right;
	color: #838080;
	position: relative;
	bottom: 15px;
}
.body .leftbar {
	padding: 10px 30px 20px 0;
	float: left;
	font: 10pt tahoma;
}
.body .rightbar {
	padding: 10px 0 0 10px;
}
.body .leftbar .folders {
	border: 1px solid #838080;
	max-width: 400px;
}
.top {
	border-top: 1px solid #d7d7d7;
}
.folder {	
	padding: 3px 3px 3px 0;
	min-width: 108px;
}
.folder .s1_0031 {
	margin: 0 2px;
}
.activefolder {
	font-weight: bold;
	background: #d6e6f7;
}
.newfolderactive {
	font-weight: bold;
	background: #d6e6f7;
}
.leftbar .newpm .s1_0032 {
	margin-right: 2px;
}
.leftbar .deletefolder .s1_0029 {
	margin-right: 2px;
}
.leftbar .renamefolder .s1_0030 {
	margin-right: 2px;
}
a.folderlinksactive , a.folderlinksactive:active , a.folderlinksactive:visited , a.folderlinksactive:hover {
	text-decoration: none;
}
a.folderlinks , a.folderlinks:active , a.folderlinks:visited , a.folderlinksactive:hover {
	text-decoration: none;
}
a.folderlinksnew , a.folderlinksnew:active , a.folderlinksnew:visited , a.folderlinksnew:hover {
	color: #d0cfcf;
	text-decoration: none;
}
.messages {
    position: relative;
}
.messages .message {
	position: relative; 
	margin-bottom: 15px;
}
.message .infobar {
	height: 21px;
	border: 1px solid #cdcdcb;
	padding: 3px 3px 0px 3px;
    cursor: move;
    background: #fff;
}
.message .infobar .s1_0007 {
	float: right;
	color: transparent;
}
.message .infobar .infobar_info {
	padding: 1px;
	display: inline;
	height: 21px;
	cursor: pointer;
}
.message .text {
	background: #f8f8f6;
	border-left: 1px solid #cdcdcb;
	border-right: 1px solid #cdcdcb;
    padding: 0 60px 0 0;
	overflow: auto;
}
.message .text div {
	padding: 10px 5px 0px 5px;
}
.message .lowerline {
	height: 13px;
	position: relative;
}
.message .lowerline .leftcorner {
	background: url( 'http://static.zino.gr/phoenix/icons2.png' ) no-repeat -1275px -122px;
	height: 13px;
	width: 10px;
	float: left;
}
.message .lowerline .middle {
	background: url( 'http://static.zino.gr/images/pm-downfade.jpg' ) repeat-x bottom;
	height: 13px;
}

.message .lowerline .rightcorner {
	background: url( 'http://static.zino.gr/phoenix/icons2.png' ) no-repeat -1276px -186px;
	height: 13px;
	width: 10px;
	float: right;
}
.message .toolbar {
	position: absolute;
	right: 9px;
	bottom: 3px;
}
a.folder_links , a.folderlinks:active , a.folderlinks:visited , a.folderlinks:hover {
	text-decoration: none;
	padding-top: 5px;
}
.hoverfolder {
	background: #f4f5f7;
}
