[class^="s1_"] {
	background-image: url( 'http://static.zino.gr/phoenix/spriting/sprite1/sprite1_1.png' );
	background-repeat: no-repeat;
}
.s1_0001 { 
    background-position: 0 0; 
} 
.s1_0002 { 
    background-position: 0 -46px; 
} 
.s1_0003 { 
    background-position: 0 -92px; 
} 
.s1_0004 { 
    background-position: 0 -138px; 
} 
.s1_0005 { 
    background-position: 0 -184px; 
} 
.s1_0006 { 
    background-position: 0 -230px; 
} 
.s1_0007 { 
    background-position: 0 -276px; 
} 
.s1_0008 { 
    background-position: 0 -322px; 
} 
.s1_0009 { 
    background-position: 0 -368px; 
} 
.s1_0010 { 
    background-position: 0 -414px; 
} 
.s1_0011 { 
    background-position: 0 -460px; 
} 
.s1_0012 { 
    background-position: 0 -506px; 
} 
.s1_0013 { 
    background-position: 0 -552px; 
} 
.s1_0014 { 
    background-position: 0 -590px; 
}
.s1_0015 { 
    background-position: 0 -628px; 
} 
.s1_0016 { 
    background-position: 0 -675px; 
} 
.s1_0017 { 
    background-position: 0 -722px; 
} 
.s1_0018 { 
    background-position: 0 -768px; 
} 
.s1_0019 { 
    background-position: 0 -814px; 
} 
.s1_0020 { 
    background-position: 0 -860px; 
} 
.s1_0021 { 
    background-position: 0 -906px; 
} 
.s1_0022 { 
    background-position: 0 -952px; 
} 
.s1_0023 { 
    background-position: 0 -998px; 
} 
.s1_0024 { 
    background-position: 0 -1034px; 
} 
.s1_0025 { 
    background-position: 0 -1070px; 
} 
.s1_0026 { 
    background-position: 0 -1116px; 
} 
.s1_0027 { 
    background-position: 0 -1151px; 
} 
.s1_0028 { 
    background-position: 0 -1197px; 
}
.s1_0029 { 
    background-position: 0 -1243px; 
} 
.s1_0030 { 
    background-position: 0 -1289px; 
} 
.s1_0031 { 
    background-position: 0 -1335px; 
} 
.s1_0032 { 
    background-position: 0 -1381px; 
} 
.s1_0033 { 
    background-position: 0 -1427px; 
} 
.s1_0034 { 
    background-position: 0 -1473px; 
} 
.s1_0035 { 
    background-position: 0 -1519px; 
} 
.s1_0036 { 
    background-position: 0 -1565px; 
} 
.s1_0037 { 
    background-position: 0 -1617px; 
} 
.s1_0038 { 
    background-position: 0 -1669px; 
} 
.s1_0039 { 
    background-position: 0 -1721px; 
} 
.s1_0040 { 
    background-position: 0 -1773px;
} 
.s1_0041 { 
    background-position: 0 -1825px;
} 
.s1_0042 {
    background-position: 0 -1908px; 
} 
.s1_0043 { 
    background-position: -71px 0; 
} 
.s1_0044 { 
    background-position: -71px -49px; 
} 
.s1_0045 {
    background-position: -71px -98px; 
} 
.s1_0046 { 
    background-position: -71px -150px; 
} 
.s1_0047 { 
    background-position: -71px -212px; 
} 
.s1_0048 { 
    background-position: -71px -274px; 
} 
.s1_0049 { 
    background-position: -71px -334px; 
} 
.s1_0050 { 
    background-position: -71px -400px; 
} 
.s1_0051 { 
    background-position: -71px -459px; 
} 
.s1_0052 { 
    background-position: -71px -518px; 
} 
.s1_0053 { 
    background-position: -71px -572px; 
} 
.s1_0054 { 
    background-position: -71px -634px; 
} 
.s1_0055 { 
    background-position: -71px -714px; 
} 
.s1_0056 { 
    background-position: -71px -801px; 
} 
.s1_0057 { 
    background-position: -71px -896px; 
} 
.s1_0058 { 
    background-position: -71px -991px; 
} 
.s1_0059 { 
    background-position: -71px -1128px; 
} 
.s1_0060 { 
    background-position: -71px -1343px; 
} 
