#aboutsection {
    margin-right: 30%;
    padding: 20px;
    color: #345;
}
#aboutsection .blog p {
    padding: 0 0 1em 2em;
    color: #666;
}
#aboutsection h4 {
    padding-top: 1em;
}
#aboutmenu {
    float: right;
    width: 28%;
    margin: 40px 20px;
}
#aboutmenu ol {
    list-style: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#aboutmenu li {
    padding: 4px 4px 4px 28px;
    background-position: 5px 4px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #abc;
    font-size: 90%;
    height: 18px;
}
#aboutmenu li.selected {
    background-color: #5181ad;
}
#aboutmenu li.summary {
    background-image: url( 'http://static.zino.gr/phoenix/about/summary.png' );
}
#aboutmenu li.jobs {
    background-image: url( 'http://static.zino.gr/phoenix/about/jobs.png' );
}
#aboutmenu li.workings {
    background-image: url( 'http://static.zino.gr/phoenix/about/workings.png' );
}
#aboutmenu li.contact {
    background-image: url( 'http://static.zino.gr/phoenix/about/contact.png' );
}
#aboutmenu li.team {
    background-image: url( 'http://static.zino.gr/phoenix/about/team.png' );
}
#aboutmenu li.faq {
    background-image: url( 'http://static.zino.gr/phoenix/about/faq.png' );
}
#aboutmenu li.journalists {
    background-image: url( 'http://static.zino.gr/phoenix/about/press.png' );
}
#aboutmenu li.status {
    background-image: url( 'http://static.zino.gr/phoenix/about/status.png' );
}
#aboutmenu li.jobs {
    background-image: url( 'http://static.zino.gr/phoenix/about/jobs.png' );
}
#aboutmenu li.ads {
    background-image: url( 'http://static.zino.gr/phoenix/about/ads.png' );
}
#aboutmenu li.selected a {
    color: white;
}
#aboutmenu h3 {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 0;
    margin: 0;
}
#aboutmenu .blog {
    opacity: 0.5;
}
#aboutsection .info {
    border-top: 2px solid #ccc;
    margin-top: 10px;
    font-size: 110%;
    background-color: #0d2438;
    color: white;
}
ul#aboutpeople {
    border-top: 2px solid #456;
    height: 91px;
}
ul#aboutpeople li {
    float: left;
    width: 9.09%;
}
ul#aboutpeople li img {
    width: 100%;
    opacity: 0.7;
}
ul#aboutpeople li img:hover {
    opacity: 1;
}
ul#aboutpeople li.selected img {
    border-bottom: 4px solid #70c32d;
    border-top: 3px solid #456;
    opacity: 1;
}
#aboutperson {
    position: relative;
    overflow: hidden;
}
.aboutoneperson {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0d2438;
}
.aboutonepersonslide {
    position: absolute;
    left: 100%;
}
.aboutoneperson p {
    padding: 10px 0 0 10px;
    margin-right: 380px;
}
.aboutoneperson a {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    color: #3986de;
}
.aboutoneperson a:hover {
    text-decoration: underline;
}
.aboutoneperson ul {
    padding: 10px;
}
#aboutperson h3 {
    margin: 0;
    padding: 10px 0 0 10px;
    color: #70c32d;
}
#aboutperson img {
    float: right;
}
