div.albumshow {
	text-align: center;
}
div.albumshow img {
	padding: 1px;
	border: 1px solid #9dbfed;
}
div.albumshow span.albumname {
	color: #9ba2ac;
	font-family: tahoma;
	font-size: 10pt;
	font-weight: bold;
}
div.albumshow div a:hover {
	text-decoration: none;
}
div.mainalbum {
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
    background-color: #f8f7f3;
    padding: 0 10px 0 10px;
}
div.mainalbum div.albuminfo {
	color: #c2c3c4;
	font-family: tahoma;
	font-size: 10pt;
	text-align: left;
	padding-left: 2px;
}
div.links {
	text-align: left;
}
a.albumlinks , a.albumlinks:active , a.albumlinks:visited {
	text-align: left; 
	color: #3568eb;
	font-size: 10pt;
	font-weight: bold;
}
a.albumlinks:hover {
	text-decoration: none;
	color: #1e52d8;
}
div.newalbum {
	padding-left: 20px;
}
img.smallmainimage {
	padding: 1px;
	border: 1px solid #cac7c5;
	float: left;
	margin: 0 4px 4px 0;
}
div.header h2 {
	display: inline;
	color: #1757b1;
	border-bottom: 1px solid #1757b1;
	font-weight: normal;
}
div.header span.smallalbuminfo {
	color: #aeaeae;
	font-size: 9pt;
}
div.header small {
	vertical-align: bottom;
	height: 40px;
	display: block;
	padding-top: 4px;
	font-size: 9px;
	display: inline;
}
div.header small span {
	color: #aeaeae;
}
div.header img.smalluseravatar {
	width: 16px;
	height: 16px;
	margin-top: 3px;
	display: inline;
	border: 1px solid #aeaeae;
}
a.editinfos {	
	text-decoration: none;
}
a.editinfos img {
	border: none;
	margin-left: 3px;
}