#zinostorelink a {
    position: relative;
    display: block;
    float: left;
    padding-right: 50px;
}
#zinostorelink a:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
}
#zinostorelink span.shadowN, #zinostorelink span.shadowNE, #zinostorelink span.shadowE, #zinostorelink span.shadowSE, #zinostorelink span.shadowS, #zinostorelink span.shadowSW, #zinostorelink span.shadowW, #zinostorelink span.shadowNW, #zinostorelink span.shadowN, span.wizard {
    position: absolute;
    top: 0;
    left: 0;
    color: #900;
}
#zinostorelink a:hover span.shadowN, #zinostorelink a:hover span.shadowNE, #zinostorelink a:hover span.shadowE, #zinostorelink a:hover span.shadowSE, #zinostorelink a:hover span.shadowS, #zinostorelink a:hover span.shadowSW, #zinostorelink a:hover span.shadowW, #zinostorelink a:hover span.shadowNW, #zinostorelink a:hover span.shadowN {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
}
#zinostorelink span.wizard {
    color: white;
}
#zinostorelink span.shadowN { top: -1px; }
#zinostorelink span.shadowNE { top: -1px; left: 1px }
#zinostorelink span.shadowE { left: 1px; }
#zinostorelink span.shadowSE { top: 1px; left: 1px }
#zinostorelink span.shadowS { top: 1px; }
#zinostorelink span.shadowSW { top: 1px; left: -1px }
#zinostorelink span.shadowW { left: -1px }
#zinostorelink span.shadowNW { top: -1px; left: -1px }
#lbanner {
    height: 65px;
    width: 110px;
    float: left;
}
#lbanner > h1 {
    padding: 9px 0 0 20px;
    margin: 0;
}
#lbanner > h1 > .s1_0055 {
    display: block;
    height: 55px;
    width: 95px;
}
#mbanner {
    height: 65px;
}
#mbanner > div {
    padding-top: 3px;
    color: #fff;
    font-size: 8pt;
    position: absolute;
    top: 21px;
    right: 29px;
}
#mbanner > #loggedinmenu {
    top: 3px;
}
#loggedinmenu  {
	margin-top: -6px;
}
#loggedinmenu > form {
    display: inline;
}
#loggedinmenu > span > img {
    margin: 0 17px 4px 0;
}
#loggedinmenu > span {
	right: 14px;
	top: 4px;
}
#loggedinmenu > span:after {
    content: url( 'http://static.zino.gr/phoenix/shadowblue.png' );
    margin-left: -74px;
}
#mbanner > div > ul {
    display: inline;
}
#mbanner > div > ul > li {
    display: inline;
}
#mbanner > div > ul > li > form {
    display: inline;
}
#mbanner > div > ul > li > a.unread {
    color: #ff0044;
    font-weight: 700;
}
img.banneravatar {
    width: 50px;
    height: 50px;
    border: 1px solid #b4b4b4;
}
#mbanner > div > form input {
    background-color: transparent;
    border: 0;
    width: 104px;
    height: 18px;
    color: #aaa;
    font-size: 8pt;
    text-align: center;
    padding: 3px 0 0 0;
    margin: 1px 0 0 0;
}
#mbanner > div > form input#loginbutton {
    width: 68px;
    height: 23px;
    border: 0;
    color: #fff;
    padding: 0 0 4px 0;
    margin: 0 12px 0 0;
    cursor: pointer;
}
#mbanner > div > a.bannerinlink {
    font-size: 10pt;
    color: #fff;
    margin: 0 7px;
    vertical-align: 21px;
}
#rbanner {
    width: 101px;
    height: 65px;
    float: right;
}
