div.header {
	position: relative;
	background-image: url('http://static.zino.gr/phoenix/roxasbg3.jpg');
	background-repeat: repeat-x;
	height: 50px;
	margin: 0 30px 0 30px;
}
div.header a.novisual {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}
div.header a {
	font-weight: bold;
	color: white;
}
div.header a:hover {
	color: white;
}
div.header h1 {
	display: inline;
	color: white;
	font-size: 180%;
	font-weight: normal;
	margin: 0;
	padding: 0;
    height: 50px;
    width: 90px;
	top: 0;
    _top: 3px;
	left: 0;
	position: absolute;
	background-image: url( 'http://static.zino.gr/phoenix/icons.png' );
	/*background-image: url('http://static.zino.gr/phoenix/banner-begin2.jpg');
	background-position: 0 0;
	*/
	background-position: 0 -563px;
	background-repeat: no-repeat;
}
div.header div.eof {
	display: inline;
    clear: none;
	margin: 0;
	padding: 0;
	top: 0;
    _top: 3px;
	right: 0;
    width: 71px;
    height: 50px;
	position: absolute;
	background-image: url('http://static.zino.gr/phoenix/banner-end2.jpg');
	background-position: 0 0;
	background-repeat: no-repeat;
}
div.header h1 img {
	margin: 5px 0 0 5px;
}
div.header ul {
	display: block;
	padding: 10px;
	margin: 0;
	height: 50px;
	text-align: center;
}
div.header ul li {
	padding: 1px;
	margin: 0;
	display: inline;
	color: white;
}
div.header ul li a.messages {
	background-image: url('http://static.zino.gr/phoenix/mail_generic.png');
}
div.header ul li a.settings {
	background-image: url('http://static.zino.gr/phoenix/wrench_orange.png');
}
div.header ul li a.login {
	background-image: url('http://static.zino.gr/phoenix/up.png');
	_background-image: url('http://static.zino.gr/phoenix/_up.png');
}
div.header ul li a.profile img {
    vertical-align: bottom;
    margin-right: 6px;
    border: 1px solid #eee;
}
div.header ul li a.register {
	background-image: url('http://static.zino.gr/phoenix/bookmark_toolbar.png');
	_background-image: url('http://static.zino.gr/phoenix/_bookmark_toolbar.png');
}
div.header ul li a.icon {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
}
div.header ul li a.self {
	padding-left: 30px;
}
div.header ul li input {
	border: 1px solid #999;
}
div.header ul li input.button {
    background-color: #f0f0f0;
}
div.header a.logout {
    z-index: 100;
	position: absolute;
	right: 8px;
	top: 6px;
}
div.header a:hover {
	text-decoration: underline;
}
div.header a img {
	vertical-align: text-top;
}
div.header a.logout {
	background-image: url('http://static.zino.gr/phoenix/arrow_right.gif');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 20px;
}
