.comment {
	margin: 7px 0 5px 3px;
	padding: 0 3px 3px 0px;
	border-top: 1px solid #ccc;
	background: url( 'http://static.zino.gr/phoenix/commgradient.png' ) repeat-x;
	position: relative;
    clear: both;
}
.comment .who img {
	float: left;
	margin-right: 5px;
	border: 1px solid black;
}
.comment .who {
	margin: 2px 0 2px 4px;
	color: #666;
}
.comment .toolbox {
	float: right; 
	padding: 2px 6px 2px 2px;
}
.comment .toolbox .time {
	color: #999;
	font-size: 80%;
}
.comment .toolbox img {
	vertical-align: text-bottom;
}
.comment .bottom {
	clear: both;
	font-size: 80%;
	color: #999;
	margin: 4px 4px 4px 60px;
}
.comment .text {
	top: 5px;
	left: 20px;
	right: 5px;
	overflow: hidden;
}
.comment .text img {
	max-height: 400px;
	max-width: 400px;
}
.newcomment {
	margin: 6px 0 6px 3px;
	padding: 0; /* a fix for the newcomment box */
}
.newcomment .who {
	height: 50px;
	width:50px;
	/*padding-left: 4px;  made 4px from 2px */
}
.newcomment .who a {
	margin-right: 5px;
}
.newcomment .toolbox .time {
	margin-right: 2px;
}
.newcomment, .comments .newcomment .who {
	background: #e7f3d9;
}
.newcomment .text {
	height: 55px;
	position: absolute;
	border: 1px solid #999;
	top: 5px;
	left: 60px;
	right: 5px;
}
.newcomment .text textarea {
	color: black;
	width: 100%;
	height: 100%;
	position:absolute;
	border: 0;
	padding:0;
	margin:0;
}
.newcomment .bottom  form{
	margin:15px 0 5px;
	padding:0;
}
.newcomment .bottom input {
	margin-bottom: 5px;
	font-size: 90%;
}
