div.comment {
	float: left;
	clear: both;
	margin: 5px 0 5px 3px;
	padding: 0 3px 3px 0px;
	background: #fff repeat-x top;
    border-color: #dee;
	width: 100%;
}
div.comment div.who {
	border-top: 1px solid #ccc;
	padding: 2px 0 2px 4px;
	background: url( 'http://static.zino.gr/phoenix/commgradient.jpg' ) repeat-x top right;
	color: #666;
}
div.comment div.toolbox {
	float: right;
	padding: 2px 6px 2px 2px;
}
div.comment div.toolbox span.time {
	color: #999;
	font-size: 80%;
}
div.comment div.toolbox img {
	vertical-align: text-bottom;
}
div.comment div.toolbox a {
	background: url( 'http://static.zino.gr/phoenix/icons.png' ) no-repeat 1 -512px;
	padding: 0 0 2px 12px;
	margin-left: 5px;
	/* A little hack for IE7 */
	color: #f4f4f4;
}
div.comment div.who img.avatar {
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #666;
	margin: 0 4px 0 0;
}
div.comment div.bottom {
	clear: both;
	font-size: 80%;
	color: #999;
	margin: 4px 4px 4px 60px;
}
div.comment div.text {
	margin: 4px 0 0 60px;
	padding: 0;
}
div.newcomment {
	margin: 6px 0 6px 3px;
	padding: 0; /* a fix for the newcomment box */
}
div.newcomment div.who {
	padding: 4px 0 0 4px;
	/*padding-left: 4px;  made 4px from 2px */
}
div.newcomment div.who a {
	margin-right: 5px;
}
div.newcomment div.toolbox span.time {
	margin-right: 2px;
}
div.newcomment, div.comments div.newcomment div.who {
	background: #e7f3d9;
}
div.newcomment div.text textarea {
	color: black;
	width: 99%;
    border: 1px solid #999;
}
div.newcomment div.bottom input {
	font-size: 90%;
}
