html, body {
	height: 100%;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 83%;
	margin: 0;
}
div.content {
	padding: 0 30px 0 30px;
}
div.eof {
	clear: both;
}
.invisible {
	display: none;
}
div.barfade {
	background-image: url( 'http://static.zino.gr/phoenix/barfade_repeat.jpg' );
	background-repeat: repeat-x;
	height: 1px;
}
div.barfade div.leftbar {
	float: left;
	background-image: url('http://static.zino.gr/phoenix/barfade-left.jpg');
	background-repeat: no-repeat;
	height: 1px;
	width: 153px;
}
div.barfade div.rightbar {
	float: right;
	background-image: url('http://static.zino.gr/phoenix/barfade-right.jpg');
	background-repeat: no-repeat;
	height: 1px;
	width: 153px;
}
.colorlink {
	color: #105cb6;
}