html, body {
    height: 100%;
    background-color: white;
}
body {
	font: 83% Helvetica, Arial, sans-serif;
	margin: 0;
}
ul {
	list-style: none;
}
ul , li {
	margin: 0;
	padding: 0;
}
dl, dd {
	padding: 0;
	margin: 0;
}
div.content {
	padding: 0 30px;
}
div.eof {
	clear: both;
}
.invisible {
	display: none;
}
div.barfade {
	background: url( 'http://static.zino.gr/phoenix/barfade_repeat.jpg' ) repeat-x;
	height: 1px;
}
div.barfade div.leftbar {
	float: left;
	background: url('http://static.zino.gr/phoenix/icons.png') no-repeat -739px -1556px;
	height: 1px;
	width: 153px;
}
div.barfade div.rightbar {
	float: right;
	background: url('http://static.zino.gr/phoenix/icons.png') no-repeat 0 -182px;
	height: 1px;
	width: 153px;
}
.colorlink {
	color: #105cb6;
}
.plist {
	overflow: hidden;
	position: relative;
}
/* modal overlays stylings */
div.mdloverlay1 {
	background: #000;
}
h3.modaltitle {
    height: 20px;
    background: #7b9db1;
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #284659;
    color: #fff;
}