div#favourites {
	margin: 0 auto 20px auto;
	text-align: center;
	padding-top: 20px;
}
div#favourites h2 {
	margin: 0;
	padding: 0;
}
div#favourites div {
	text-align: left;
}
div#favourites div.list {
	width: 40%;
	margin: 0 auto;
}
div#favourites div.list ul.favcategories {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
div#favourites div.list ul.favcategories li {
	margin: 0 0 0 5px;
	padding: 5px 0 0 0;
	float: right;
	height: 21px;
	width: 35px;
	text-align: center;
	border: 1px solid #d7d7d7;
	border-bottom: none;
	font-size: 105%;
	cursor: pointer;
}
div#favourites div.list ul.favcategories li a {
	display: block;
}
div#favourites div.list ul.favcategories li.selected {
	background: #e5f0ff;
}
div#favourites ul.events {
	padding: 0;
	margin: 0;
	list-style: none;
    text-align: left;
    position: relative;
    top: -1px;
}
div#favourites ul.events li.last {
	border-bottom: 1px solid #d7d7d7;
}
div#favourites ul.events li {
	padding: 5px 0 5px 5px;
	margin: 0;
	border: 1px solid #d7d7d7;
	border-bottom: none;
}
div#favourites ul.events li div {
	background-repeat: no-repeat;
	padding-left: 20px;
}
/*
div#favourites ul.events li.photo div {
	background: url( 'http://static.zino.gr/phoenix/photo.png' ) no-repeat;
}
*/
div#favourites ul.events li.photo img {
	padding: 3px 3px 3px 0px;
}
/*
div#favourites ul.events li.journal div {
	background: url( 'http://static.zino.gr/phoenix/book.png' ) no-repeat;
}
*/
div#favourites div.pagify {
	margin: 20px 0 0 0;
	text-align: center;
}