#fav {
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}
#fav h2 {
	margin: 0;
	padding: 0;
}
#fav .list {
	width: 40%;
	margin: 0 auto;
}
#fav .list .favcategories {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#fav .list .favcategories li {
	margin: 0 0 0 5px;
	padding: 5px 0 0 0;
	float: right;
	height: 21px;
	width: 35px;
	text-align: center;
	border: 1px solid #d7d7d7;
	border-bottom: none;
	font-size: 105%;
	cursor: pointer;
}
#fav .list .favcategories li a {
	display: block;
	margin: 0 0 0 6px;
}
#fav .list .favcategories li.selected {
	background: #e5f0ff;
}
#fav .events {
	padding: 0;
	margin: 0;
	list-style: none;
    text-align: left;
    position: relative;
    top: -1px;
}
#fav .events li.last {
	border-bottom: 1px solid #d7d7d7;
}
#fav .events li {
	padding: 5px 0 5px 5px;
	margin: 0;
	border: 1px solid #d7d7d7;
	border-bottom: none;
}
#fav .events li div {
	background-repeat: no-repeat;
	padding-left: 20px;
    position: relative;
}

#fav .events li.photo img {
	padding: 3px 3px 3px 0px;
}

#fav .pagify {
	margin: 20px 0 0 0;
	text-align: center;
}
#fav .events a.fav_delete {
    position:absolute;
    right:10px;
    top:10px;
}