div.footer {
	width: 100%;
	padding: 15px 0 20px 0;
	background: #fff url('http://static.zino.gr/phoenix/copybg.jpg') repeat-x 0 10px;
}
div.footer div.copy {
	width: 100%;
	color: #aaa;
	font-size: 80%;
	text-align: center;
	margin-top: 15px;
}
div.footer div.copy a {
	color: #999;
	text-decoration: none;
}
div.footer div.copy a:hover {
	color: #666;
	text-decoration: underline;
}
div.footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
div.footer ul li {
	display: inline;
	padding: 0;
	margin: 0;
}
div.footer ul li a {
	text-decoration: none;
	color: #666;
	font-size: 80%;
	margin: 5px;
}
div.footer ul li a:hover {
	color: #333;
	text-decoration: underline;
}

div#copyleft {
    margin-top: 30px;
}
div#copyleft > span {
    font-size: 80%;
}
div#downstrip > div > a {
    font-size: 80%;
    padding: 0 9px;
}

