img {
    -ms-interpolation-mode: bicubic;
}
/* this rule applies to the images in order to show the comments number in the right lower edge */
span.imageview span.info {
    bottom: 0;
}
div#search div.ybubble form input.submit {
    position: relative;
    top: 35px;
}
/* this rule applies to the suggestion list in interests in setting */
form#interestsinfo div.option div.setting div.add ul {
	width: 202px;
	margin-top: -1px;
}
span[class^="emoticon"] {
	padding: 6px 5px 16px 18px;
}
div.header ul li a.messages span {
	background-position: -739px -982px;
}
div.header ul li a.settings span {
	background-position: 0 -52px;
}
div.header a.logout span {
	background-position: -203px -1629px;
}
div.header h1 {
	background: url('http://static.zino.gr/phoenix/banner-begin2.jpg') no-repeat;
}
div.header div.eof {
	background: url('http://static.zino.gr/phoenix/banner-end2.jpg') no-repeat;
}
div.header a.search {
	background: url('http://static.zino.gr/phoenix/glass.jpg') no-repeat;
}