div.header h1 {
	width: 1761px;
	height: 2081px;
	clip: rect(1645px 90px 1696px 0px);
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.zino.gr/phoenix/icons2.png', sizingMethod='scale');
	top: -1645px;
}
div.header h1 a {
	background: none;
	width: 1761px;
	height: 2081px;
	clip: rect(1674px 827px 1722px 735px);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.zino.gr/phoenix/icons2.png', sizingMethod='scale');
	top: -1674px;
	left: -735px;
	position: absolute;
	cursor: pointer;
	display: block;
}
div.header h1 a:hover {
	text-decoration: none;
} 