span.imageview {
    position: relative;
}
span.imageview > span {
    background: #d8d8d8;
    font-weight: bold;
    opacity: 0.8;
	filter: alpha(opacity=80);
    position: absolute;
    bottom: 4px;
    right: 1px;
    border-top: 1px solid #ccccee;
    border-left: 1px solid #ccccee;
    color: #000;
}
span.imageview span > span {
	vertical-align: -1px;
}
.vavie75 {
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    padding: 0 2px 0 0;
    display: block;
}
.vavie75 img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 5px;
    left: 6px;
}
.vavie75 .rndavie75 {
    background: url( 'http://static.zino.gr/phoenix/shadow75.png' ) no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
}
