span.imageview {
    position: relative;
}
span.imageview > span {
    background: #d8d8d8;
    font-weight: bold;
    opacity: 0.9;
    position: absolute;
    bottom: 4px;
    right: 1px;
    border-top: 1px solid #ccccee;
    border-left: 1px solid #ccccee;
    color: #000;
}