body {
    margin: 0;
}
div.logo {
    width: 100%;
    height: 30px;
    background-image: url( 'http://static.zino.gr/phoenix/iphone/bannerbg.jpg' );
    background-repeat: repeat-x;
    background-position: top;
    text-align: center;
}
div.logo img {
    padding: 5px;
}
div.login form input {
    width: 100%;
}
div.login form label {
    display: block;
}

