body {
    margin: 0;
    overflow-x: hidden;
    font-family: Helvetica;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}
div.logo {
    width: 100%;
    height: 30px;
    background-image: url( 'http://static.zino.gr/phoenix/iphone/bannerbg.jpg' );
    background-repeat: repeat-x;
    background-position: top;
    text-align: center;
}
div.logo img {
    padding: 1px;
}
form {
    padding: 10px 15px 15px 10px;
}
form div.input {
    margin-right: 10px;
}
textarea {
    color: #999;
    text-align: center;
}
input[type="text"], input[type="password"], textarea {
    width: 100%;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 3px;
}
input[type="submit"], input[type="button"] {
    font-weight: bold;
    margin: 3px 0;
    font-size: 16px;
    width: 100%;
}
form label {
    margin: 2px 0 2px 0;
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.6) 0 1px 0;
    display: block;
}
div.footer {
    clear: both;
    padding: 0 10px;
}
div.footer form {
    display: inline;
    padding: 0;
}
div.footer div.toolbar {
    float: right;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    border-top: 1px solid #ccc;
    clear: both;
    padding: 0;
    margin: 0;
}
a img {
    border-style: none;
}
span.who {
    display: block;
    float: left;
    padding: 0 5px 3px 3px;
}
div.shoutbox a {
    display: block;
    -webkit-tap-highlight-color: #007cf6;
    min-height: 55px;
    text-decoration: none;
    color: #333;
}
div.shoutbox a strong {
    font-size: 16px;
    padding-bottom: 5px;
    color: black;
    font-weight: normal;
}
div.shoutbox textarea {
    border-style: none;
    clear: both;
}
div.shoutbox input[type="submit"] {
    width: inherit;
    float: right;
}

