/* changes the margin from all pages. margin-top moved to div.kolazimage
div.content {
    margin-top:30px;
}*/
#progress {
    width:250px;
    height:50px;
    background-color : white;
    border : solid black 1px;    
}
#percentage {
    background-color : #0177b7;
    width:0px;
    height:50px;
}
div.kolazimage {
    background-color : black;
    display:none;
    margin-top: 30px;
}
div.kolazimage div {
    overflow : hidden;
}
