div.content {
    margin-top:20px;
}
#progress {
    width:250px;
    height:50px;
    background-color : white;
    border : solid black 1px;    
}
#percentage {
    background-color : green;
    width:0px;
    height:50px;
}
div.kolazimage {
    background-color : black;
    display:none;
}
div.kolazimage div {
    overflow : hidden;
}
