#progress {
    width:500px;
    height:100px;
    background-color : white;
    border : solid black 1px;
    text-align:center;
}
#percentage {
    background-color : blue;
    width:0px;
    height:100px;
}
div.kolazimage {
    background-color : black;
    display:none;
}
div.kolazimage div {
    overflow : hidden;
}
