a {
	color: #105cb6;
	text-decoration: none;
}
a:hover {
	color: #000033;
}
a img {
	border: 0;
}
a.button {
    line-height: 2.5em;
    margin: 6px;
    background: #fff;
	text-align: center;
    border: 2px solid #ccf;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    -msie-border-radius: 5px;
    border-radius: 5px;
    padding: 0.4em 0.9em;
    font-weight: bold;
}
a.button_big {
	font-size: 120%;
	padding: 5px 10px;
	font-weight: bold;
	
}
a.button:hover {
	background: #eef;
}
a.button_disabled {
	opacity: 0.5;
	cursor: default;
}
a.button_disabled:hover {
	background: #fff; /* if the class coexists with the button class it overwrites the hover behaviour */
	color: #105cb6; 
}


a.wlink {
    color: #fff;
}
a.wlink:hover {
    text-decoration: underline;
}
a.bannerinlink {
    font-size: 10pt;
    color: #fff;
    margin: 0 7px;
    vertical-align: 21px;
    font-family: verdana, sans-serif , serif, arial;
    font-size: 9pt;
    letter-spacing: 0.06em;
}
a.bannerinlink:hover {
    text-decoration: underline;
}
a#loginbutton {
    background: url( 'http://static.zino.gr/phoenix/login.png' ) no-repeat;
    padding: 4px 25px 12px 16px;
}
a#loginbutton:hover {
    text-decoration: none;
}
