a {
	color: #105cb6;
	text-decoration: none;
}
a:hover {
	color: #000033;
}
a img {
	border: 0;
}
a.button {
	padding: 5px;
	margin: 2px;
	border: 1px solid #ccf;
	background-color: white;
	text-align: center;
}
a.button_big {
	font-size: 120%;
	padding: 5px 10px;
	font-weight: bold;
	
}
a.button:hover {
	background-color: #eef;
}
a.button_disabled {
	opacity: 0.5;
	cursor: default;
}
a.button_disabled:hover {
	background-color: white; /* if the class coexists with the button class it overwrites the hover behaviour */
	color: #105cb6; 
}