.modal {
    background: #e8eaec url( 'http://static.zino.gr/images/sorabody.jpg' ) repeat-x top right;
    border: 1px solid #2e486c;
    padding: 30px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
.modal ul {
    margin-top: 20px;
}
.modal ul li {
    display: inline;
    border: black 1px solid;
    background: white;
    padding: 3px 10px;
    margin: 5px;
}