div.newarticle form textarea {
	width: 100%;
	height: 500px;
}
div.newarticle form div span.label {
	float: left;
	width: 150px;
	display: block;
}
div.newarticle form div span.input {
	display: block;
}
div.newarticle form div span.input input {
	width: 400px;
}
a.addphoto , a.addphoto:active , a.addphoto:visited {
	text-align: left; 
	color: #3568eb;
	font-size: 10pt;
	font-weight: bold;
}
a.addphoto:hover {
	text-decoration: none;
	color: #1e52d8;
}