.pagify {
   /* height: 25px;*/
}
.pagify .previous {
    margin: 0 5px 0 0;
}
.pagify .next {
    margin: 0 4px 0 0;
}
.pagify a.nextbacklinks {  
	padding: 3px 4px;
    border: 1px solid #9aafe5;
    color: #105cb6;
    font-size: 85%;
}
.pagify a.nextbacklinks:hover {
    border: 1px solid #2e6ab1;
    color: #000033;
}
.pagify .current {
    padding: 3px 4px;
    background: #2e6ab1;
    font-weight: 700;
    font-size: 85%;
    border: 1px solid #2e6ab1;
    color: #fff;
}
.pagify .pagifycount {
    color: #aaa;
    font-size: small;
    margin-top: 10px;
}
.pagify {
	font-size: 11pt;
	text-align: center;
}
