div.pagify a.next {
	background-image: url( 'http://static.zino.gr/phoenix/iconlist.png' );
	background-position: -80px -716px;
	background-repeat: no-repeat;
	padding: 0 0 0 16px;
}
div.pagify a.previous {
	background-image: url( 'http://static.zino.gr/phoenix/iconlist.png' );
	background-position: -80px -782px;
	background-repeat: no-repeat;
	padding: 0 0 0 16px;
}
div.pagify a.nextbacklinks, div.pagify strong {
	padding-left: 4px;
	padding-right: 4px;
}
div.pagify div.pagifycount {
	color: #aaa;
	font-size: small;
}
div.pagify {
	font-size: 11pt;
	text-align: center;
}
