div#recentevents {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}
div#recentevents div#debugstatus {
    font-family: "Courier New", Courier, Arial;
    position: absolute;
    opacity: 0.7;
    top: 10px;
    right: 10px;
    overflow: hidden;
    width: 500px;
    height: 500px;
    background-color: #333;
    color: #aaa;
    text-align: left;
    padding: 5px;
    border: 1px solid #aaa;
}
div#recentevents div#debugstatus a {
    display: block;
    color: #aaa;
}
div#recentevents div#debugstatus a:hover {
    color: #aaa;
}
div#recentevents div.event {
    color: black;
    margin: 10px;
    position: absolute;
    text-align: left;
}
div#recentevents div.event div.who {
    float: left;
    position: relative;
    width: 60px;
    color: white;
}
div#recentevents div.event div.whoreversed {
    float: right;
}
div#recentevents div.event div.who img.avatar {
    border: 1px solid white;
    position: absolute;
}
div#recentevents div.event div.who span.nick {
    display: block;
    text-align: center;
    width: 52px;
    color: #999;
}
div#recentevents div.event div.who img.speech {
    position: absolute;
    left: 55px;
    top: 10px;
}
div#recentevents div.event div.whoreversed img.speech {
    left: 0;
}
div#recentevents div.event div.whoreversed img.avatar {
    left: 25px;
}
div#recentevents div.event div.what {
    background-color: white;
    border: 1px solid #ccc;
    border-left-style: none;
    margin-left: 71px;
    margin-top: 10px;
    padding: 7px;
}
div#recentevents img.loader {
    margin: 100px auto 0 auto;
}
