div#recentevents {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
div#recentevents div.event {
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}
