div.gname img {
	float: left;
	border: 1px solid #cce;
	margin: 0 7px 0 0;
}
div.gname h2 {
	color: #105cb6;
}
div#schview div.photos div.plist {
	height: 130px;
}
div#schview div.photos div.plist ul {
	padding: 17px 0 14px 0;
	height: 110px;
}
div#schview div.photos div.plist ul li {
	float: left;
	margin: 5px;
	height: 110px;
	text-align: center;
}