div#schview div.photos div.plist {
	height: 130px;
}
div#schview div.photos div.plist ul {
	padding: 17px 0 14px 0;
	height: 110px;
}
div#schview div.photos div.plist ul li {
	float: left;
	margin: 5px;
	height: 110px;
	text-align: center;
}