div.gname {
    padding: 20px 0 0 0;
    margin: 0 0 5px 0;
}
div.gname img {
	float: left;
	border: 1px solid #cce;
	margin: 0 7px 0 0;
}
div.gname h2 {
	color: #105cb6;
	margin: 0;
}
div.gname h3 {
	margin: 7px 0 0 0;
}
div#schview > div {
	padding: 20px 0 0 0;
}
div#schview div.eof {
	padding: 0;
}
div#schview h4 {
	padding: 0;
	margin: 0;
	color: #666;
}
div#schview div.members h4{
	color: #666;
}
div#schview div.members div.people {
	margin: 2px 0 0 0;
}
div#schview div.photos div.plist {
	height: 100px;
	margin: 2px 0 0 0;
}
div#schview div.photos div.plist ul {
	height: 100px;
}
div#schview div.photos div.plist ul li {
	float: left;
	margin: 0 5px;
	height: 100px;
	text-align: center;
}
div#schview div.photos div.plist ul li:first-child {
	margin-left: 0;
}
div#schview div.members div.pagifymembers {
	text-align: center;
}
div.content div#photolist.schoolupload div.uploaddiv { 
    top: 113px;
}
div#schview div.photos ul li a.s_bigadd {
	display: block;
	height: 40px; 
	margin: 30px 0 0 15px;
}
div#schview div.photos div.plist#photolist ul {
    padding: 0;
}
div#schview div.photos div.plist#photolist ul li {
    width: 100px;
    padding: 0;
}
div#schooluploadcontainer {
    padding: 10px 0 0 0;
}
