div#search h2 {
	text-align: center;
}
div#search div.ybubble form input.submit {
	border: 0 none transparent;
    font-size: 110%;
	color: #105cb6;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    width: 110px;
    height: 32px;
    padding: 0;
    background: transparent url( 'http://static.zino.gr/phoenix/icons.png' ) no-repeat -203px -699px;
    position: relative;
    top: 15px;
}
div#search div.ybubble i.tl {
    height: 9px;
}
div#search div.ybubble form input.submit:hover {
    color: #000033;
}
div#search div.ybubble form div.search {
    width: 49%;
}
div#search div.ybubble div.body {
    padding: 10px 0 0 0;
}
div#search div.findim {
	text-align: center;
}
div#search div.findim ul {
	height: 120px;
}
div#search div.findim ul li {
	display: inline;
}
div#search div.findim ul li a {
	background-image: url( 'http://static.zino.gr/phoenix/icons.png' );
	background-repeat: no-repeat;
	padding: 120px 0pt 0pt 120px; 
}
div.findim ul li a.msn {
	background-position: -1276px -270px; 
}
div.findim ul li a.gmail {	
	background-position: -1276px -454px;
}
div.findim ul li a.yahoo {
	background-position: -1276px -642px;
}