.s_delete {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1413px;
	padding: 0 0 0 13px;
}
.s_edit {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -234px -887px;
	padding: 0 0 0 16px;
}