.s_delete {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1413px;
	padding: 0 0 0 13px;
}
.s_edit {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -234px -887px;
	padding: 0 0 0 16px;
}
.s_commnum {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1215px;
	padding: 0 0 0 15px;
}
.s_addfav {
	background: url('http://static.zino.gr/phoenix/icons.jpg') no-repeat -235px -276px;
	padding: 0 0 0 16px;
}
.s_isaddedfav {
	background: url('http://static.zino.gr/phoenix/icons.jpg') no-repeat -235px -210px;
	padding: 0 0 0 16px;
}