span[class=^="s_"] , a[class^="s_"] {
	background-image: url( 'http://static.zino.gr/phoenix/icons.png' );
	background-repeat: no-repeat;
}
/*
a[class^="s_"] {
	background-image: url( 'http://static.zino.gr/phoenix/icons.png' );
	background-repeat: no-repeat;
}
*/
.s_delete {
	background-position: 1px -511px;
	padding: 0 0 0 13px;
}
.s_edit {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -234px -887px;
	padding: 0 0 0 16px;
}
.s_commnum {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -1215px;
	padding: 0 0 0 15px;
}
.s_add {
	background-position: -203px -567px;
	padding: 0 0 0 16px;
}
.s_addfav {
	background: url('http://static.zino.gr/phoenix/icons.jpg') no-repeat -235px -276px;
	padding: 0 0 0 16px;
}
.s_isaddedfav {
	background: url('http://static.zino.gr/phoenix/icons.jpg') no-repeat -235px -210px;
	padding: 0 0 0 16px;
}
.s_mainimage {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -233px -1078px;
	padding: 0 0 0 16px;
}
.s_photonum {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -235px -480px;
	padding: 0 0 0 14px;
}
.s_addfriend {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -470px -130px;
	padding-left: 16px;
}
.s_deletefriend {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -471px -845px;
	padding-left: 16px;
}
.s_clock {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -469px -1438px;
	padding-left: 16px;
}
.s_addtag {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat -465px -1401px;
	padding: 0 0 0 21px;
}
.s_bigadd {
	background: url( 'http://static.zino.gr/phoenix/icons.jpg' ) no-repeat 0 -132px;
	vertical-align: -5px;
	padding: 12px 0 0 30px;
}
