div.settings div.sidebar ol li a {
    height: 21px;
    padding: 0 35px;
}
div.settings div.sidebar ol li.selected {
    background-position: -203px -120px
}
div.settings div.sidebar ol li {
    margin-bottom: 1px;
    font-size: 90%;
    font-weight: bold;
}
div.tabs form#characteristicsinfo textarea.msg {
    width: 400px;
    height: 200px;
}
div.tabs form#characteristicsinfo div.apostoli {
    margin: 40px 0 0 50px;
    text-align: center;
}
div.tabs form#characteristicsinfo div.apostoli a.button {
    width:400px;
    padding: 5px 60px 5px 60px;
}
div.tabs form#contactinfo h2 {
    margin-left: 20px;
}
div.tabs form#contactinfo div#photolist div.barfade {
    margin-bottom: 35px;
}

