.invite_contacts {
    border: 1px solid black;
    margin: 30px auto;
    padding: 30px;
    display: block;
	width: 700px;
}

.invite_contacts #top_tabs {
	margin-left: 130px;
	position: relative;
	top: 1px;
}
.invite_contacts #top_tabs li {
	float: left;
	display: block;
	padding: 3px 10px;
	border: 1px #ccc solid;
	border-bottom-width: 0;
	border-right-width: 0;
	background: #eee;
}
.invite_contacts #top_tabs li:last-child{
	border-right-width: 1px;
}
.invite_contacts #top_tabs li.selected {
	background: white;
	position: relative;
	height: 17px;
	z-index: 100;
}

.invite_contacts #left_tabs {
	float: left;
	position: relative;
	left: -1px;
}
.invite_contacts #left_tabs li {
	display: block;
	width: 60px;
	padding: 10px 10px 10px 30px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-right-width: 0;
	border-bottom-width: 0;
}
.invite_contacts #left_tabs li:last-child{
	border-bottom-width: 1px;
}
.invite_contacts #left_tabs li.selected {
	background: white;
	position: relative;
	width: 61px;
	z-index: 100;
}
.invite_contacts #body {
	padding: 40px;
	border: 1px solid #ccc;
	margin-left: 100px;
	font-size: 17px;
	position: relative;
}
.invite_contacts #body > div {
	height: 40px;
	margin: 15px 0;
}
.invite_contacts #body div div {
	float: left;
	display: block;
	width: 120px;
	text-align: right;
	padding-right:20px;
	padding-top: 10px;
	height: 30px;
	color: #777;
}
.invite_contacts #body div input{
	display: block;
	height: 30px;
	padding: 5px;
	width: 200px;
	font-size: 20px;
	border: 0;
	background: url('input.png') no-repeat;
}
.invite_contacts #body div input:hover{
	background-position: 0 -40px;
}
.invite_contacts #body div input:focus{
	background-position: 0 -80px;
}
.invite_contacts #body #security {
	position: absolute;
	left: 400px;
	top: 40px;
	width: 150px;
	font-size: 12px;
}





















